{% extends 'base.html' %}
{% load static %}
{% block title %}Bio Data{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <section id="main-container" class="main-container pt-0">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="column-title mb-2">Bio Data</h3>
                    <form id="contact-form" class="pt-4" action="{% url 'samaj:handle_bio_data_form' family_code %}" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Personal Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">Personal details</h4>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control form-control-name" name="first_name" id="first_name"
                                           placeholder="Vaibhav" type="text" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control form-control-name" name="last_name" id="last_name"
                                           placeholder="Paliwal" type="text" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Father Name</label>
                                    <input class="form-control form-control-email" name="father_name" id="father_name"
                                           placeholder="Father Name" type="text"
                                           required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Mother Name</label>
                                    <input class="form-control form-control-name" name="mother_name" id="mother_name"
                                           placeholder="Mother Name" type="text"
                                           required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input type="date" class="form-control form-control-subject" name="date_of_birth"
                                           id="date_of_birth" placeholder="Date Of Birth" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Birth Place</label>
                                    <input type="text" class="form-control form-control-subject" name="birth_place"
                                           id="birth_place" placeholder="Birth Place" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Birth Time</label>
                                    <input type="time" class="form-control form-control-subject" name="birth_time"
                                           id="birth_time" placeholder="Birth Time" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select name="gender" class="form-control" id="">
                                        <option value="" selected disabled>Selected</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Marital Status</label>
                                    <select name="marital_status" class="form-control" id="">
                                        <option value="" selected disabled>Marital Status Selected</option>
                                        <option value="single">single</option>
                                        <option value="married">married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Height (In Centimeter)</label>
                                    <input type="number" class="form-control form-control-subject" name="height"
                                           id="height" placeholder="168 cm" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="number" class="form-control form-control-subject" name="phone_number"
                                           id="phone_number" placeholder="9998895923" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Whatsapp Number</label>
                                    <input type="number" class="form-control form-control-subject"
                                           name="whatsapp_number" id="whatsapp_number" placeholder="9998895923"
                                           required>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>Email (optional)</label>
                                    <input type="text" class="form-control form-control-email" name="email" id="email"
                                           placeholder="vaibhavpailwal@gmail.com">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Gotra</label>
                                    <input type="text" class="form-control form-control-object" name="gotra" id="gotra"
                                           placeholder="gotra" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control form-control-object" name="address"
                                           id="address" placeholder="Address" required>
                                </div>
                            </div>
                            <!-- Profile Image -->
                            <div class="d-flex pb-3 align-items-center mt-2">
                                <div class=" position-relative mt-2 mt-lg-0 text-center">
                                    <button type="button"
                                            class="d-flex align-items-center justify-content-center btn-sm btn-danger rounded-circle position-absolute p-0 border-0 remove-profile-btn end-0 top-25 d-none"
                                            id="remove-img-btn">
                                        <span class="material-icons text-white fw-bold fs-5 m-0">close</span>
                                    </button>
                                    <img class="border-2 border-primary-600 rounded"
                                         src="{% static 'images/profile.png' %}" alt="profile-image" width="100"
                                         height="100" id="previewImage">
                                </div>
                                <label for="profileImage" class="profile-upload-btn ms-4">
                                    <span>Profile Image</span>
                                    <input class="form-control mt-1" type="file" name="profileImage" id="profileImage"
                                           accept=".jpg, .jpeg, .png" required>
                                </label>
                            </div>
                            <!-- Educational Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">Educational Details</h4>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Qualification</label>
                                    <select name="qualification" class="form-control" id="qualification">
                                        <option value="" selected disabled>Select Qualification</option>
                                        <option value="undergraduate">Undergraduate</option>
                                        <option value="graduate">Graduate</option>
                                        <option value="school">School</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 school_field d-none">
                                <div class="form-group">
                                    <label>Class</label>
                                    <input type="number" min="0" max="12" class="form-control form-control-subject" name="school_class"
                                           id="school_class" placeholder="10">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 school_field d-none">
                                <div class="form-group">
                                    <label>School Name</label>
                                    <input type="text" class="form-control form-control-subject" name="school_name"
                                           id="school_name" placeholder="School Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ugpg_field d-none">
                                <div class="form-group">
                                    <label>College/University Name</label>
                                    <input type="text" class="form-control form-control-subject" name="college_name"
                                           id="collge_uni_name" placeholder="College/University Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ugpg_field d-none">
                                <div class="form-group">
                                    <label>Degree Name</label>
                                    <input type="text" class="form-control form-control-subject" name="degree_name"
                                           id="degree_name" placeholder="College/Degree Name">
                                </div>
                            </div>

                            <!-- Professional Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">Professional Details</h4>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Occupation</label>
                                    <select name="occupation" class="form-control" id="occupation">
                                        <option value="" selected disabled>Select Occupation</option>
                                        <option value="job">Job</option>
                                        <option value="business">Business</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Job Fields -->
                            <div class="col-12 col-md-6 job_field d-none">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control form-control-subject" name="company_name"
                                           id="company_name" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 job_field d-none">
                                <div class="form-group">
                                    <label>Location</label>
                                    <input type="text" class="form-control form-control-subject" name="job_location"
                                           id="job_location" placeholder="Location">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group job_field d-none">
                                    <label>Job Description</label>
                                    <textarea class="form-control form-control-message" name="job_description"
                                              id="job_description" placeholder="Description" rows="10"></textarea>
                                </div>
                            </div>

                            <!-- Business Fields -->
                            <div class="col-12 col-md-6 business_field d-none">
                                <div class="form-group">
                                    <label>Business Name</label>
                                    <input type="text" class="form-control form-control-subject" name="business_name"
                                           id="business_name" placeholder="Business Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 business_field d-none">
                                <div class="form-group">
                                    <label>Business Location</label>
                                    <input type="text" class="form-control form-control-subject"
                                           name="business_location" id="business_location" placeholder="Location">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group business_field d-none">
                                    <label>Business Description</label>
                                    <textarea class="form-control form-control-message" name="business_description"
                                              id="business_description" placeholder="Description" rows="10"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="my-4">
                            <h4 class="column-title mb-2">Social Media Links</h4>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Instagram Link (optional)</label>
                                    <input type="text" class="form-control form-control-subject" name="instagram_link" placeholder="https://www.instagram.com/vaibhavpaliwal620/">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Facebook Link (optional)</label>
                                    <input type="text" class="form-control form-control-subject" name="facebook_link" placeholder="https://www.facebook.com/vaibhav.paliwal.1420/">
                                </div>
                            </div>
                        </div>
                        <div class="text-right"><br>
                            <button class="btn btn-primary solid blank" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/bio_data_form.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
{% endblock %}