{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Bio Data{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <section id="main-container" class="main-container pt-0">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="column-title mb-2">{% trans "Bio Data" %}</h3>
                    <form id="contact-form" class="pt-4" action="{% url 'samaj:handle_bio_data_form' family_code %}" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if edit_member %}
                            <input type="hidden" name="edit_member_user_id" value="{{ edit_member.user.id }}">
                        {% endif %}

                        <div class="row">
                            <!-- Personal Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">{% trans "Personal details" %}</h4>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="full_name">{% trans "Full Name" %}</label>
                                    <input class="form-control form-control-name" name="full_name" id="full_name" type="text" required
                                           value="{{ edit_member.full_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Father Name" %}</label>
                                    <input class="form-control form-control-name" name="father_name" id="father_name" type="text"
                                    value="{{ edit_member.father_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Mother Name" %}</label>
                                    <input class="form-control form-control-name" name="mother_name" id="mother_name" type="text"
                                    value="{{ edit_member.mother_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Date Of Birth" %}</label>
                                    <input type="date" class="form-control form-control-subject" name="date_of_birth" id="date_of_birth"
                                    value="{{ edit_member.date_of_birth|date:'Y-m-d' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Birth Place" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="birth_place" id="birth_place"
                                    value="{{ edit_member.birth_place|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Birth Time" %}</label>
                                    <input type="time" class="form-control form-control-subject" name="birth_time" id="birth_time"
                                    value="{{ edit_member.birth_time|time:'H:i' }}">
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Gender" %}</label>
                                    <select name="gender" class="form-control" id="gender">
                                        <option value="" disabled {% if not edit_member.gender %}selected{% endif %}>Select</option>
                                        <option value="male" {% if edit_member.gender == 'male' %}selected{% endif %}>{% trans "Male" %}</option>
                                        <option value="female" {% if edit_member.gender == 'female' %}selected{% endif %}>{% trans "Female" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans 'Marital Status' %}</label>
                                    <select name="marital_status" class="form-control" id="marital_status">
                                        <option value="" disabled {% if not edit_member.marital_status %}selected{% endif %}>Select</option>
                                        <option value="unmarried" {% if edit_member.marital_status == 'unmarried' %}selected{% endif %}>{% trans "Unmarried" %}</option>
                                        <option value="married" {% if edit_member.marital_status == 'married' %}selected{% endif %}>{% trans "Married" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans 'Height (In Centimeter)' %}</label>
                                    <input type="number" class="form-control form-control-subject" name="height" id="height" min="0" placeholder="168"
                                    value="{{ edit_member.height|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Phone Number (10 digit)" %}</label>
                                    <input type="number" class="form-control form-control-subject" name="phone_number" id="phone_number" placeholder="9988776655"
                                    value="{{ edit_member.phone_number|floatformat:0|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Whatsapp Number (10 digit)" %}  {% trans "(optional)" %}</label>
                                    <input type="number" class="form-control form-control-subject" name="whatsapp_number" id="whatsapp_number" placeholder="9988776655"
                                    value="{{ edit_member.whatsapp_number|floatformat:0|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Email (optional)" %}</label>
                                    <input type="text" class="form-control form-control-email" name="email" id="email"
                                    value="{{ edit_member.email|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="gotra">{% trans "Gotra" %}</label>
                                    <select name="gotra" class="form-control" id="gotra" >
                                        <option value="" disabled {% if not edit_member.gotra %}selected{% endif %}>Select</option>
                                        {% for value, label in gotras %}
                                        <option value="{{value}}" {% if value == edit_member.gotra %}selected{% endif %}>{{label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label>{% trans "Address" %}</label>
                                    <input type="text" class="form-control form-control-object" name="address" id="address"
                                    value="{{ edit_member.current_address|default:'' }}">
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "Village" %} {% trans "(optional)" %}</label>
                                    <input type="text" class="form-control form-control-object" name="city" id="village"
                                    value="{{ edit_member.current_address_village|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "City" %}</label>
                                    <input type="text" class="form-control form-control-object" name="city" id="city"
                                    value="{{ edit_member.current_address_city|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label>{% trans "State" %}</label>
                                    <input type="text" class="form-control form-control-object" name="state" id="state"
                                    value="{{ edit_member.current_address_state|default:'' }}">
                                </div>
                            </div>
                            <!-- Profile Image -->
                            <div class="d-flex pb-3 align-items-center mt-2">
                                <div class="position-relative mt-2 mt-lg-0 text-center">
                                    <button type="button"
                                            class=" align-items-center justify-content-center btn-sm btn-danger rounded-circle position-absolute p-0 border-0 remove-profile-btn end-0 top-25 d-none"
                                            id="remove-img-btn">
                                        <span class="material-icons text-white fw-bold fs-5 m-0">close</span>
                                    </button>

                                    <img class="border-2 border-primary-600 rounded"
                                         src="{% if edit_member.profile_image %}{{ edit_member.profile_image.url }}{% else %}{% static 'images/profile.png' %}{% endif %}"
                                         alt="profile-image" width="100" height="100" id="previewImage">
                                </div>

                                <label for="profileImage" class="profile-upload-btn ms-4">
                                    <span>{% trans "Profile Image" %} ({% trans "size" %} < 200 KB)</span>
                                    <input class="form-control mt-1" type="file" name="profileImage" id="profileImage"
                                           accept=".jpg, .jpeg, .png">
                                </label>
                            </div>

                            <!-- Educational Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">{% trans "Educational Details" %}</h4>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="qualification">{% trans "Qualification" %}</label>
                                    <select name="qualification" class="form-control" id="qualification">
                                        <option value="" disabled {% if not edit_member.qualification_type %}selected{% endif %}>Select</option>
                                        <option value="school" {% if edit_member.qualification_type == 'school' %}selected{% endif %}>{% trans "School" %}</option>
                                        <option value="undergraduate" {% if edit_member.qualification_type == 'undergraduate' %}selected{% endif %}>{% trans "College" %}</option>
                                        <option value="graduate" {% if edit_member.qualification_type == 'graduate' %}selected{% endif %}>{% trans "Graduate" %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 school_field {% if edit_member.qualification_type != 'school' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Class" %} (1 - 12)</label>
                                    <input type="number" min="1" max="12" class="form-control form-control-subject" name="school_class" id="school_class"
                                    value="{{ edit_member.qualification_detail.first.school_class|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 school_field {% if edit_member.qualification_type != 'school' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "School Name" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="school_name" id="school_name"
                                    value="{{ edit_member.qualification_detail.first.school_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ugpg_field {% if edit_member.qualification_type != 'undergraduate' and edit_member.qualification_type != 'graduate' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "College / University" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="college_name" id="collge_uni_name"
                                    value="{{ edit_member.qualification_detail.first.college_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 ugpg_field {% if edit_member.qualification_type != 'undergraduate' and edit_member.qualification_type != 'graduate' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label for="degree_name">{% trans "Degree" %}</label>
                                    <select name="degree_name" class="form-control" id="degree_name" >
                                        <option value="" disabled {% if not edit_member.qualification_detail.first.degree_name %}selected{% endif %}>Select</option>
                                        {% for value, label in degrees %}
                                        <option value="{{value}}" {% if value == edit_member.qualification_detail.first.degree_name %}selected{% endif %}>{{label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Professional Details -->
                            <div class="my-4">
                                <h4 class="column-title mb-2">{% trans "Professional Details" %}</h4>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="occupation">Occupation</label>
                                    <select name="occupation" class="form-control" id="occupation">
                                        <option value="" disabled {% if not edit_member.occupation_type %}selected{% endif %}>Select Occupation</option>
                                        {% for label, value in occupation_type %}
                                            <option value="{{ label }}" {% if edit_member.occupation_type == label %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Job Fields -->
                            <div class="col-12 col-md-6 job_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'job' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Company Name" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="company_name" id="company_name"
                                    value="{{ edit_member.occupation_detail.first.company_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 job_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'job' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Location" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="job_location" id="job_location"
                                    value="{{ edit_member.occupation_detail.first.company_location|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 job_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'job' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Job Description" %}</label>
                                    <textarea class="form-control form-control-message" name="job_description" id="job_description" rows="10">{{ edit_member.occupation_detail.first.job_description|default:'' }}</textarea>
                                </div>
                            </div>

                            <!-- Business Fields -->
                            <div class="col-12 col-md-6 business_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'business' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Business Name" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="business_name" id="business_name"
                                    value="{{ edit_member.occupation_detail.first.business_name|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 business_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'business' %}d-none{% endif %}">
                                <div class="form-group">
                                    <label>{% trans "Business Location" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="business_location" id="business_location"
                                    value="{{ edit_member.occupation_detail.first.business_location|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group business_field {% if not edit_member.occupation_type or not edit_member.occupation_type == 'business' %}d-none{% endif %}">
                                    <label>{% trans "Business Description" %}</label>
                                    <textarea class="form-control form-control-message" name="business_description"
                                              id="business_description" rows="10">{{ edit_member.occupation_detail.first.business_description|default:'' }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="my-4">
                            <h4 class="column-title mb-2">{% trans "Social Media Links" %}</h4>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>{% trans "Instagram Link (optional)" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="instagram_link"
                                    value="{{ edit_member.instagram_link|default:'' }}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>{% trans "Facebook Link (optional)" %}</label>
                                    <input type="text" class="form-control form-control-subject" name="facebook_link"
                                    value="{{ edit_member.facebook_link|default:'' }}">
                                </div>
                            </div>
                        </div>
                        <div class="text-right"><br>
                            <button class="btn btn-primary solid blank" type="submit">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/bio_data_form.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
{% endblock %}