{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
    <div class="banner-text">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Community</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">About Us</a></li>
                        <li class="breadcrumb-item"><a href="#">Community</a></li>
                        </ol>
                    </nav>
                </div>
            </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
    </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
  <div class="container">
    <!-- content -->
     <form class="" method="" action="" id="search_family_form">
        <div class="text-center w-100 mb-5">
            <h2 class="fs-4">Search Any Memeber From <span class="text-warning">Paliwal Samaj</span></h2>
        </div>
        <div class="row m-0 border border-dark px-1 py-3 px-md-2 py-md-2 py-lg-4 px-lg-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control form-control-name only_alphabets" name="name" id="name" maxlength="50" placeholder="Name" type="text" required>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
              <label class="form-label">Age:</label>
              <div class="form-control">
                <div class="slider-wrapper w-100 pt-1">
                  <div class="d-flex align-items-center justify-content-center">
                      <div class="me-2 fw-bold" id="range1">0</div>
                      <div class="slider-container">
                          <div class="slider-track"></div>
                          <input type="range" name="min_age_value" min="0" max="100" value="19" id="slider-1" oninput="slideOne()">
                          <input type="range" name="max_age_value" min="0" max="100" value="30" id="slider-2" oninput="slideTwo()">
                      </div>
                      <div class="ms-2 fw-bold" id="range2">100</div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <select name="designation" class="form-control" id="designation">
                        <option value="" selected disabled>Select</option>
                        <option value="0">अध्यक्ष</option>
                        <option value="1">उपाध्यक्ष</option>
                        <option value="2">प्रधान </option>
                        <option value="3">समुदाय के वरिष्ठ</option>
                        <option value="4">None</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="gotra">Gotra</label>
                     <select name="gotra" class="form-control" id="gotra">
                        <option value="" selected disabled>Select</option>
                        <option value="0">option 1</option>
                        <option value="1">option 2</option>
                        <option value="2">option 3</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="gender">Gender</label>
                     <select name="gender" class="form-control" id="gender" required>
                        <option value="" selected disabled>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="education">Education</label>
                     <select name="education" class="form-control" id="education">
                        <option value="" selected disabled>Select</option>
                        <option value="MBA">MBA</option>
                        <option value="CE">CE</option>
                    </select>
                </div>
            </div>
            <div class="col-12 my-3 text-end">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
     </form>
  </div><!-- Conatiner end -->

  <div class="container mt-5 pt-4">
    <div class="border-bottom py-2"><h3 class="m-0">Result</h3></div>
    <!-- If search has no results -->
    <div class="py-3">Family Member Not Found 🥲</div>

    <div class="row m-0 mt-4">
        <div class="col-6 col-md-4 p-2">
            <div class="my_family_card item">
            <div class="ts-team-wrapper">
                <div class="team-img-wrapper">
                    <img loading="lazy" class="w-100" src="{% static 'images/team/team3.jpg' %}" alt="team-img">
                </div>
                <div class="ts-team-content">
                    <h3 class="ts-name">Mark Conter</h3>
                    <p class="ts-designation">Safety Officer</p>
                    <div class="">
                    <div class="d-flex align-items-center py-2 border-bottom border-white">
                        <div class=""><span class="material-icons fs-5 ">call</span></div>
                        <div class="text-white ms-2">+91 9998894923</div>
                    </div>
                    <div class="d-flex align-items-center py-2 border-bottom border-white">
                        <div class=""><span class="material-icons fs-5 ">location_on</span></div>
                        <div class="text-white ms-2">Ahmedabad</div>
                    </div>
                    </div>
                    <div class="team-social-icons mt-2">
                        <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fab fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="row m-0 p-0 mt-3">
                        <div class="col-12 p-0">
                            <a href="" class="btn btn-light fw-bold rounded-0 d-flex py-3 h-100 justify-content-center align-items-center">
                                <span class="material-icons me-2">diversity_3</span>Show Family
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--/ Team wrapper end -->
            </div>
        </div>
    </div>
  </div>
</section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/bio_data_form.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
  <script src="{% static 'js/community.js' %}"></script>
{% endblock %}