{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block title %}Community{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/community.png' %}); background-position: center 20%; background-size: cover; background-repeat: no-repeat;">">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-heading">
                            <h1 class="banner-title text-dark">{% trans "Community" %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="main-container" class="main-container">
        <div class="container">
            <form id="search_family_form">
                <div class="text-center w-100 mb-5">
                    <h2 class="fs-4">{% trans "Search Any Member From" %} <span class="text-warning">{% trans "Paliwal Samaj" %}</span></h2>
                </div>
                <div class="row m-0 border border-dark px-1 py-3 px-md-2 py-md-2 py-lg-4 px-lg-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="full_name">{% trans "Name" %}</label>
                            <input class="form-control form-control-name only_alphabets" name="full_name" id="full_name"
                                   maxlength="50" placeholder="Name" type="text" value="{{ name_filter_value }}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="gotra">{% trans "Gotra" %}</label>
                            <select name="gotra" class="form-control" id="gotra">
                                <option value="" disabled {% if not gotra_filter_value %}selected{% endif %}>Select Gotra</option>
                                {% for value, label in gotras %}
                                    <option value="{{ value }}" {% if gotra_filter_value == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="education">{% trans "Education" %}</label>
                            <select name="education" class="form-control" id="education">
                                <option value="" disabled {% if not education_filter_value %}selected{% endif %}>Select</option>
                                {% for value, label in degrees %}
                                    <option value="{{ value }}" {% if education_filter_value == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="gender">{% trans "Gender" %}</label>
                            <select name="member_gender" class="form-control" id="gender">
                                <option value="" {% if not gender_filter_value %}selected{% endif %}>Select</option>
                                <option value="male" {% if gender_filter_value == "male" %}selected{% endif %}>{% trans "Male" %}</option>
                                <option value="female" {% if gender_filter_value == "female" %}selected{% endif %}>{% trans "Female" %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group">
                            <label class="form-label">{% trans "Age" %}</label>
                            <div class="form-control">
                                <div class="slider-wrapper w-100 pt-1">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="me-2 fw-bold" id="range1">0</div>
                                        <div class="slider-container">
                                            <div class="slider-track"></div>
                                            <input type="range" name="min_age_value" min="1" max="100"
                                                   value="{{min_age_default_value}}"
                                                   id="slider-1" oninput="slideOne()">
                                            <input type="range" name="max_age_value" min="1" max="100"
                                                   value="{{max_age_default_value}}"
                                                   id="slider-2" oninput="slideTwo()">
                                        </div>
                                        <div class="ms-2 fw-bold" id="range2">100</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="village">{% trans "Village" %}</label>
                            <input class="form-control form-control-name only_alphabets" name="village" id="village"
                                   maxlength="50" type="text" value="{{village_filter_value}}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="city">{% trans "City" %}</label>
                            <input class="form-control form-control-name only_alphabets" name="city" id="city"
                                   maxlength="50" type="text" value="{{ city_filter_value }}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="state">{% trans "State" %}</label>
                            <input class="form-control form-control-name only_alphabets" name="state" id="state"
                                   maxlength="50" type="text" value="{{ state_filter_value }}">
                        </div>
                    </div>
                    <div class="col-12 my-3 text-end">
                        <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                        <a href="{% url 'samaj:community' %}" class="btn btn-primary">{% trans "Clear" %}</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="container mt-5 pt-4">
            <div class="py-3 d-flex justify-content-between">
                <h3 class="m-0">Result</h3>
                <h3>({{ records_count }}) Records</h3>
            </div>
            <!-- Table and Grid View Start -->
            <!-- Tabs nav -->
            <ul class="nav nav-tabs" id="viewTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link results-tab active d-flex align-items-center" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab">
                        <span class="material-icons me-2">view_list</span> Table View
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link results-tab d-flex align-items-center" id="grid-tab" data-bs-toggle="tab" data-bs-target="#grid" type="button" role="tab">
                        <span class="material-icons me-2">grid_view</span> Grid View
                    </button>
                </li>
            </ul>

            <!-- Tabs content -->
            <div class="tab-content border border border-top-0 p-3">
                <!-- Grid View -->
                <div class="tab-pane fade" id="grid" role="tabpanel">
                    <div class="row m-0">
                        {% if community_members %}
                        {% for member in community_members %}
                        <div class="col-6 col-md-4 p-2">
                            <div class="my_family_card item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        {% if member.profile_image %}
                                        <img loading="lazy" class="w-100" src="{{ member.profile_image.url }}" alt="team-img">
                                        {% else %}
                                        <img loading="lazy" class="w-100" src="{% static 'images/user-icon.png' %}"
                                             alt="team-img">
                                        {% endif %}
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">{{ member.full_name }} </h3>
                                        <p class="ts-designation">{% trans "Gotra" %}: {{ member.get_gotra_display }}</p>
                                        <div class="">
                                            <div class="d-flex align-items-center py-2 border-bottom border-white">
                                                <div class=""><span class="material-icons fs-5 ">cake</span></div>
                                                <div class="text-white ms-2">
                                                    {% trans "Age" %}: {{ member.date_of_birth|get_member_age }}
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center py-2 border-bottom border-white">
                                                <div class=""><span class="material-icons fs-5 ">location_on</span></div>
                                                <div class="text-white ms-2">
                                                        {{ member.current_address_city }}, {{ member.current_address_state }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-0 p-0 mt-3">
                                            <div class="col-12 p-0 mb-2">
                                                 <a href="{% url 'samaj:user_profile' member.id %}" class="border btn btn-light fw-bold rounded-0 d-flex py-2 h-100 justify-content-center align-items-center">
                                                    <span class="material-icons me-2">visibility</span>{% trans "View Profile" %}
                                                 </a>
                                            </div>
                                            <div class="col-12 p-0">
                                                 <a href="{% url 'samaj:member_family_tree' member.id %}" class="border btn btn-light fw-bold rounded-0 d-flex py-2 h-100 justify-content-center align-items-center">
                                                    <span class="material-icons me-2">diversity_3</span>{% trans "Show Family" %}
                                                 </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <div class="py-3">{% trans "Family Member Not Found" %} 🥲</div>
                        {% endif %}
                    </div>
                </div>

                <!-- Table View -->
                <div class="tab-pane fade show active" id="table" role="tabpanel">
                    <div class="table-responsive">
                        {% if community_members %}
                        <table class="table table-bordered table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Full Name</th>
                                    <th>Father Name</th>
                                    <th>DOB</th>
                                    <th>Marital Status</th>
                                    <th>Location (City, State)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in community_members %}
                                <tr>
                                    <td>{{ community_members.start_index|add:forloop.counter0 }}</td>
                                    <td>{{ member.full_name }}</td>
                                    <td>{{ member.father_name }}</td>
                                    <td>{{ member.date_of_birth }}</td>
                                    <td>{{ member.get_marital_status_display }}</td>
                                    <td>{{ member.current_address_city }}, {{ member.current_address_state }}</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="{% url 'samaj:user_profile' member.id %}" class="btn btn-light border py-2 d-flex w-100 justify-content-center m-0 rounded-0 text-uppercase fw-bold"
                                                data-bs-toggle="tooltip" title="View Profile">
                                                <span class="material-icons me-2">visibility</span>
                                            </a>
                                            <a href="{% url 'samaj:member_family_tree' member.id %}" class="btn btn-light border py-2 d-flex w-100 justify-content-center m-0 rounded-0 text-uppercase fw-bold"
                                                data-bs-toggle="tooltip" title="View Family">
                                                <span class="material-icons me-2">diversity_3</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="py-3">{% trans "Family Member Not Found" %} 🥲</div>
                        {% endif %}
                    </div>
                </div>
                <!-- Table View End -->

                {% if community_members.has_other_pages %}
                {% with query_params=request.GET.urlencode %}
                    {% comment %} Remove "page=..." from the query string {% endcomment %}
                    {% with query_string=query_params|cut:"page="|cut:"&page=" %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mt-4">
                            {% if community_members.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1&{{ query_string }}" aria-label="First">
                                    &laquo;&laquo;
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ community_members.previous_page_number }}&{{ query_string }}" aria-label="Previous">
                                    &laquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}

                            {% for num in community_members.paginator.page_range %}
                                {% if community_members.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                {% elif num > community_members.number|add:'-3' and num < community_members.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}&{{ query_string }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if community_members.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ community_members.next_page_number }}&{{ query_string }}" aria-label="Next">
                                    &raquo;
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ community_members.paginator.num_pages }}&{{ query_string }}" aria-label="Last">
                                    &raquo;&raquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endwith %}
                {% endwith %}


                {% endif %}

            </div>
        </div>
    </section>

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/bio_data_form.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/community.js' %}"></script>
<script>
  document.getElementById("search_family_form").addEventListener("submit", function (e) {
    const form = this;
    const elements = form.querySelectorAll("input, select");

    elements.forEach(function (el) {
      if (!el.value.trim()) {
        el.removeAttribute("name");  // Prevents it from being included in URL
      }
    });
  });
</script>

{% endblock %}