{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block title %}Culture{% endblock %}


{% block stylesheets %}
<style>
  #content_section > li, p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area"
         style="background-image:url({% static 'images/banner/culture-1.jpg' %}); background-position: center -440px; background-size: cover;">
        <div class="banner-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-heading">
                            <h1 class="banner-title">{{ culture.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="main-container" class="main-container pt-0">
        <div class="container">
            {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="d-flex">
                <form action="{% url 'samaj:culture_create_post' %}" method="get" class="mt-3 align-self-end">
                    <input type="hidden" name="action" value="add">
                    <button type="submit" class="btn btn-primary d-flex align-items-center">
                        <span class="material-icons me-1">add</span>
                        <span>Add</span>
                    </button>
                </form>
                <form action="{% url 'samaj:culture_create_post' %}" method="get" class="mt-3 align-self-end ms-2">
                    <input type="hidden" name="action" value="edit">
                    <input type="hidden" name="culture_id" value="{{ culture.id }}">
                    <button type="submit" class="btn btn-primary d-flex align-items-center">
                        <span class="material-icons me-1">edit</span>
                        <span>Edit</span>
                    </button>
                </form>
            </div>
            {% endif %}
            <div class="row mt-5">
                <div class="col-12 mb-5 mb-lg-0">
                    <div class="post-content post-single">
                        <div class="post-body">
                            <div class="entry-content">
                                <div class="d-flex flex-column">
                                    <section id="content_section" class="pt-0">
                                        {{ culture.content|safe }}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

