{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Family Tree{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <section id="main-container" class="main-container pt-0">
        <div class="bg-info container-fluid p-4 row m-0">
            <div class="col-12 align-self-center">
                <h3 class="mb-0 text-center w-100">Family Tree</h3>
            </div>
        </div>
        <div class="container mt-5">
            <div class="d-flex justify-content-center">
                <div class="col-6 col-md-4 p-2">
                    <div class="my_family_card item border border-3 border-dark">
                        <div class="ts-team-wrapper">
                            <div class="team-img-wrapper">
                                {% if family_head.profile_image %}
                                <img loading="lazy" class="w-100" src="{{ family_head.profile_image.url }}"
                                     alt="team-img">
                                {% else %}
                                <img loading="lazy" class="w-100" src="{% static 'images/user-icon.png' %}"
                                     alt="team-img">
                                {% endif %}
                            </div>
                            <div class="ts-team-content">
                                <h3 class="ts-name">{{family_head.user.first_name}} {{family_head.user.last_name}}</h3>
                                <p class="ts-designation">Safety Officer</p>
                                <div class="">
                                    <div class="d-flex align-items-center py-2 border-bottom border-white">
                                        <div class=""><span class="material-icons fs-5 ">call</span></div>
                                        <div class="text-white ms-2">{{ family_head.phone_number }}</div>
                                    </div>
                                    <div class="d-flex align-items-center py-2 border-bottom border-white">
                                        <div class=""><span class="material-icons fs-5 ">location_on</span></div>
                                        <div class="text-white ms-2">{{ family_head.current_address }}</div>
                                    </div>
                                </div>

                                <div class="row m-0 p-0 mt-2">
                                    <div class="col-12 p-0 mb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="View Profile">
                                        <a href="{% url 'samaj:user_profile' family_head.id %}"
                                           class="btn btn-dark fw-bold rounded-0 d-flex justify-content-center align-items-center">
                                            <span class="material-icons me-2">visibility</span> View Profile
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!--/ Team wrapper end -->
                    </div>
                </div>
            </div>

            <div class="row m-0 mt-4">
                {% for member in family_members %}
                {% if not member == member.family.family_head %}
                <div class="col-6 col-md-4 p-2">
                    <div class="my_family_card item h-100">
                        <div class="ts-team-wrapper d-flex flex-column h-100">
                            <div class="team-img-wrapper">
                                {% if member.profile_image %}
                                <img loading="lazy" class="w-100" src="{{ member.profile_image.url }}" alt="team-img">
                                {% else %}
                                <img loading="lazy" class="w-100" src="{% static 'images/user-icon.png' %}"
                                     alt="team-img">
                                {% endif %}
                            </div>
                            <div class="ts-team-content flex-grow-1 d-flex flex-column justify-content-between">
                                <div>
                                    <h3 class="ts-name">{{ member.user.first_name }} {{ member.user.last_name }}</h3>
                                    <p class="ts-designation">Gotra: {{ member.gotra }}</p>
                                    <div class="">
                                        {% if member.phone_number %}
                                        <div class="d-flex align-items-center py-2 border-bottom border-white">
                                            <div><span class="material-icons fs-5">call</span></div>
                                            <div class="text-white ms-2">{{ member.phone_number }}</div>
                                        </div>
                                        {% elif member.whatsapp_number %}
                                        <div class="d-flex align-items-center py-2 border-bottom border-white">
                                            <div><span class="material-icons fs-5">call</span></div>
                                            <div class="text-white ms-2">{{ member.whatsapp_number }}</div>
                                        </div>
                                        {% endif %}
                                        {% if member.current_address %}
                                        <div class="d-flex align-items-center py-2 border-bottom border-white">
                                            <div><span class="material-icons fs-5">location_on</span></div>
                                            {% if member.current_address_city and member.current_address_state %}
                                            <div class="text-white ms-2">{{ member.current_address_city }}, {{ member.current_address_state }}</div>
                                            {% else %}
                                            <div class="text-white ms-2">{{ member.current_address }}</div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row m-0 p-0 mt-2">
                                    <div class="col-12 p-0 mb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="View Profile">
                                        <a href="{% url 'samaj:user_profile' member.id %}"
                                           class="btn btn-dark fw-bold rounded-0 d-flex justify-content-center align-items-center">
                                            <span class="material-icons me-2">visibility</span> View Profile
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}