{% extends 'base.html' %}
{% load static %}
{% block title %}Sandesh{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div class="section-bg" style="background: url('images/banner/banner2.jpg') no-repeat center center/cover;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center mb-4 mt-5 mb-md-0 mt-md-0">
                    <h1 class="fw-bold display-3 text-white">SANDESH</h1>
                </div>
                <div class="col-md-6">
                    <form id="sandeshForm" class="form-container" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="contact" class="form-label">Where you want to send?*</label>
                            <input type="text" name="contact" class="form-control" id="contact"
                                   placeholder="Email or phone no.">
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject*</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image (required, < 10MB)</label>
                            <input type="file" name="image" class="form-control" id="image" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message*</label>
                            <textarea name="message" class="form-control" id="message" rows="4"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning w-100">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section id="main-container" class="main-container">
        <div class="container">

            <div class="form-group col-8 col-sm-6 col-md-4">
                <label>Filter</label>
                <select name="shandesh_filter" class="form-control" id="shandesh_filter">
                    <option value="all" selected>all</option>
                    <option value="Receive">Receive</option>
                    <option value="Sent">Sent</option>
                </select>
            </div>

            <div class="row m-0 mt-5">
                <!-- Duplicate more cards like this one as needed -->
                <div class="col-12">
                    <div class="card mb-3 d-flex flex-column flex-md-row border border-dark rounded-0 card_shandesh">
                        <img src="images/banner/banner1.jpg" class="img-fluid card-img-left" alt="Card image">
                        <a href="#" class="card-body p-lg-4 text-decoration-none">
                            <h5 class="card-title fs-5">Another Card</h5>
                            <p class="card-text card-description">
                                This is another full card description that will be shown in a popover on hover. Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga minima architecto quasi
                                iure et porro sint, qui modi labore in incidunt aut nihil impedit aliquid voluptatibus
                                a, quod sapiente possimus ad perspiciatis ex. Accusamus rerum dignissimos eaque libero,
                                amet eius ducimus velit? Ab autem accusamus exercitationem laborum, nulla earum! Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Ut ad eius laudantium alias
                                voluptates laboriosam non nisi cum vitae! Nesciunt voluptate, quis enim aperiam eos
                                corporis totam doloribus dignissimos facilis praesentium veritatis, quasi error in a eum
                                laborum deserunt? Quae molestiae animi ad, veniam illo amet sint quasi laboriosam
                                maiores explicabo, exercitationem non quo repellendus? Id ullam aut magnam odio officiis
                                reiciendis distinctio iste dolores nesciunt eaque. Recusandae dolorem magnam a deleniti
                                sint quidem animi dignissimos voluptatum eveniet voluptas, sapiente placeat ab veritatis
                                nihil quis vitae delectus dolore dolores enim omnis officiis possimus id alias unde.
                                Rerum officia consequuntur aliquid.
                            </p>
                            <span class="badge bg-danger text-uppercase">Receive</span>
                        </a>
                    </div>
                    <div class="card mb-3 d-flex flex-column flex-md-row border border-dark rounded-0 card_shandesh">
                        <img src="images/icon-image/SAMAJ.png" class="img-fluid card-img-left" alt="Card image">
                        <a href="#" class="card-body p-lg-4 text-decoration-none">
                            <h5 class="card-title fs-5">Another Card</h5>
                            <p class="card-text card-description">
                                This is another full card description that will be shown in a popover on hover. Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga minima architecto quasi
                                iure et porro sint, qui modi labore in incidunt aut nihil impedit aliquid voluptatibus
                                a, quod sapiente possimus ad perspiciatis ex. Accusamus rerum dignissimos eaque libero,
                                amet eius ducimus velit? Ab autem accusamus exercitationem laborum, nulla earum! Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Ut ad eius laudantium alias
                                voluptates laboriosam non nisi cum vitae! Nesciunt voluptate, quis enim aperiam eos
                                corporis totam doloribus dignissimos facilis praesentium veritatis, quasi error in a eum
                                laborum deserunt? Quae molestiae animi ad, veniam illo amet sint quasi laboriosam
                                maiores explicabo, exercitationem non quo repellendus? Id ullam aut magnam odio officiis
                                reiciendis distinctio iste dolores nesciunt eaque. Recusandae dolorem magnam a deleniti
                                sint quidem animi dignissimos voluptatum eveniet voluptas, sapiente placeat ab veritatis
                                nihil quis vitae delectus dolore dolores enim omnis officiis possimus id alias unde.
                                Rerum officia consequuntur aliquid.
                            </p>
                            <span class="badge bg-dark text-uppercase">Sent</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- Container end -->
    </section>


    {% include 'Includes/footer.html' %}
</main>
{% endblock %}

