{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<header id="header" class="header-one">
    <div class="bg-white">
        <div class="container">
            <div class="logo-area">
                <div class="row align-items-center">
                    <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                        <a class="d-block" href="{% url 'samaj:index' %}">
                            <img loading="lazy" src="{% static 'images/ps-logo.png' %}" alt="paliwal samaj logo">
                        </a>
                    </div>

                    <div class="col-lg-9 ">
                        <ul class="top-info-box w-100 d-flex align-items-center justify-content-center justify-content-lg-end">
<!--                            <li class="language-dropdown">-->
<!--                                <form action="{% url 'set_language' %}" method="post" id="language-form">-->
<!--                                    {% csrf_token %}-->
<!--                                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />-->

<!--                                    <select name="language" onchange="this.form.submit()" class="form-select">-->
<!--                                        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>-->
<!--                                        <option value="hi" {% if LANGUAGE_CODE == 'hi' %}selected{% endif %}>हिन्दी</option>-->
<!--                                    </select>-->
<!--                                </form>-->
<!--                            </li>-->

                            <li class="switch-box">
                                <form action="{% url 'set_language' %}" method="post" id="language-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                    <div class="switches-container">
                                        <input type="radio" id="switchEnglish" name="language" value="en" {% if LANGUAGE_CODE == 'en' %}checked{% endif %} onchange="document.getElementById('language-form').submit();"/>
                                        <input type="radio" id="switchHindi" name="language" value="hi" {% if LANGUAGE_CODE == 'hi' %}checked{% endif %} onchange="document.getElementById('language-form').submit();"/>

                                        <label for="switchEnglish">English</label>
                                        <label for="switchHindi">हिन्दी</label>

                                        <div class="switch-wrapper">
                                            <div class="switch">
                                                <div>English</div>
                                                <div>हिन्दी</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class=" pe-0">
                                <a class="btn btn-primary" href="{% url 'samaj:site_login' %}">{% trans "Login" %}</a>
                            </li>
                            <li class="">
                                <a class="btn btn-primary" href="{% url 'samaj:sandesh' %}">{% trans "Sandesh" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-dark p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="navbar-collapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav mr-auto">
                                <li class="nav-item active"><a class="nav-link" href="{% url 'samaj:index' %}">{% trans "Home" %}</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'samaj:news_and_events' %}">{% trans "News" %}</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'samaj:community' %}">{% trans "Community" %}</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'samaj:my_family' %}">{% trans "My Family" %}</a></li>
                                <li class="nav-item dropdown">
                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% trans "Culture" %} <i class="fa fa-angle-down"></i></a>
                                  <ul class="dropdown-menu custom-dropdown" role="menu">
                                      <li><a href="{% url 'samaj:paliwal_samaj_history' %}">{% trans "Paliwal Samaj History" %}</a></li>
                                      <li><a href="{% url 'samaj:karyarat_sangathan' %}">{% trans "Karyarat Sangathan" %}</a></li>
                                      <li><a href="{% url 'samaj:sandhya_vandana' %}">{% trans "Sandhya Vandana" %}</a></li>
                                      <li><a href="{% url 'samaj:brahman_16_sanskar' %}">{% trans "Brahman Sanskar" %}</a></li>
                                      <li><a href="{% url 'samaj:upanayan_sanskar' %}">{% trans "Upanayan Sanskar" %}</a></li>
                                      <li><a href="{% url 'samaj:mewar_paliwal_samaj_ke_teerth_purohit' %}">{% trans "Mewar Paliwal Samaj Teerth Purohit" %}</a></li>
                                      <li><a href="{% url 'samaj:vivah_karyakram' %}">{% trans "Vivah Karyakram" %}</a></li>
                                      <li><a href="{% url 'samaj:vivah_geet' %}">{% trans "Vivah Geet" %}</a></li>
                                      <li><a href="{% url 'samaj:antyeshti_kriya_paddhati' %}">{% trans "Antyeshti Kriya Paddhati" %}</a></li>
                                      <li><a href="{% url 'samaj:dasva_gyarahva_evam_barahva_karyakram' %}">{% trans "Dasva Gyarahva Evam Barahva Karyakram" %}</a></li>
                                  </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'samaj:image_and_video_gallery' %}">{% trans "Gallery" %}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
