{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p, li{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">दसवाँ, ग्यारहवाँ एवं बाहरवाँ कार्यक्रम</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">
                    <section id="content_section">
                        <h1 class="mb-5">दसवाँ, ग्यारहवाँ एवं बाहरवाँ कार्यक्रम</h1>
                        <p><b>दशा की विधि एवं सामग्री - </b>मृतक का क्रियाकर्म करने वाला अपने भाई-बंधुओं एवं
संबंधियों के साथ क्रिया सामग्री एवं नापित (नाई) को साथ लेकर किसी जलाशय पर जाता
है। फिर क्रियाकर्ता अपने सहयोग के लिए एक अन्य व्यक्ति के साथ सर्वप्रथम अपने कपड़े
धोकर सुखा देता है, यह व्यक्ति चपातियाँ, खिचड़ी बनाने एवं चौके में अन्य सामग्री क्रियाकर्ता
को देने में सहायता करता है।</p>
                        <p><b>दसवां के क्रियाकर्म हेतु आवश्यक सामग्री - </b>आंवला, ऊन सूत, कपूर, केसर, हल्दी का
गांठिया, पान-5, फल-3, गौमूत्र, गोबर, तुलसी, गंगाजल, गंगामाटी, मूंग 250 ग्राम, चावल
250 ग्राम, सुपारी-5, दूध, दही, शुद्ध घृत 1/2 कि.ग्रा., रूई, माचिस, शक्कर, पंचमेवा, द्राक्ष,
अगरबत्ती पूड़ा, दुर्वा (धोब), कुशा (डाब), जव का आटा 500 ग्राम, गेहूं का आटा 500 ग्राम,
पलाश के पत्ते 10, पातल-दोने 10-10, कुलकियां 10, ढक्कन के लिये दीवाणिये 11 (एक
दीपक के लिए), परचूनी जीर्ण अंगोछा-1 (कर्म के पश्चात् स्नान कर वहीं डालने के लिये),
जव 250 ग्राम, तिल 250 ग्राम, तपेली-1, लोठा-1, शंख, सालिगराम शिला, तरबाणा, जल
पात्र (चरवी या बाल्टी), जनेऊ जोड़ा।</p>
                        <p>क्रिया स्थल पर जाते ही सर्वप्रथम आंवलों को पत्थर से कूटकर बर्तन में भिगो देवें फिर
पीपल आदि किसी वृक्ष के नीचे तने के पास क्रिया करने के लिए भूमि साफ कर गोबर को
पानी में गोल कर छिड़काव करें या साफ की हुई भूमि पर जल का छिड़काव करें। पत्थर हो
तो धोकर लगभग तीन-चार हाथ का चौका बनावें। इस चौके में अड़चन नहीं हो वैसी जगह
खिचड़ी चपातिये बनाने के लिए कंडे लगावें या चूल्हा आदि लगावें, तत्पश्चात् चौके के दक्षिण
की किनार के पास चौके में पश्चिम से लेकर क्रमशः पूर्व की ओर बढ़ते हुए दस खड्डे खोदें।
प्रत्येक खड्डा इतना बड़ा हो कि उसमें एक-एक पिंड समा जावे। इन खड्डों की मिट्टी चौक के
दक्षिणी किनारे के पास चौके के ऊपर खड्डों पर रख दें ताकि पिंड खड्डों में रखकर ऊपर
ढकने के काम आवे। साथ आये भाई-बंधु भी कपड़े धोकर सुखा दें और नाई से मुंडन कराने
का काम शुरू हो जावे। सिर, दाढ़ी, मूछ, बगल आदि साफ कर नाखुन कटावें। सिर पर
आंवला लगाकर चौकासन जाने के बाद स्नान करना चाहिये। मेदपाट में चौका सरने के
पश्चात् ही कपड़े धोकर सुखाने की परंपरा है। जिन लोगों को जल्दी होवे वे चौका सरने के
बाद स्नान करके घर जा सकते हैं। इन्हें मार्ग में देव दर्शन करके घर जाना चाहिये। शेष
सज्जन क्रियाकर्ता के साथ उनके घर जाकर देव दर्शन करके अपने घर जावें। कुछ लोग
मृतक के घर जाकर पुनः स्नान करके अपने घर में प्रवेश करते हैं।</p>
                        <p><b>क्रिया - प्रक्रिया - </b>क्रिया करने वाला स्नान कर वस्त्र, उपवस्त्र पहनकर जल आदि
लेकर चौके में आवें, दीपक तैयार करके लगावें। एक पत्थर पर चंदन घिसकर पत्ते पर लेवें।
सामग्री सब देख-खोलकर रख देवें। क्रियाकर्ता का सहयोगी भी स्नान कर शुद्ध वस्त्र पहनकर
चौके में आवें और खिचड़ी चपातिये (बाटियां) बनाने का काम शुरू करे और जरूरत के
अनुसार क्रियाकर्ता को सामान देता रहे।</p>
                        <p>दस अंगुल की दर्भ (डाब) की तीन सलाकाएं लेकर तीनों को इकट्ठी कर उनके मुंह पर
गांठ लगा चौके के पूर्व किनारे के पास उत्तर की तरफ रखें। इनकी गांठ यानी मुंह पश्चिम
की ओर हो, इसके नीचे दर्भ की एक सलाका रखें। यह इसका आसन है। अब क्रिया आरंभ
किया जावे।</p>
                        <p>इस कर्म में किसी भी प्रकार के मंत्र का उच्चारण करना निषेध है, करने पर पतन का
मार्ग खुलता है। अनावश्यक कोई बात नहीं करे, इसमें केवल गोत्र और नाम लेकर ही करें।
कपाल क्रिया के बाद दशा (नवमी) तक का कार्य बिना मंत्रों से होता है, इसमें केवल भगवान
का नाम लेना चाहिए। गरुड़ पुराण प्रेत मंजरी के अनुसार -</p>
                        <div class="d-flex flex-column ms-5">
                            <p><b>अमंत्राम् कारयेत् श्राद्धम् दशाहम् नाम गोवतः,</b></p>
                            <p><b>एकादेशे हि प्रेतस्य दध्यात् पिंडम् समंत्राकम्।”</b></p>
                        </div>
                        <p>यह दर्भ का कौशिक द्विज बनाकर रखा है, उसके सामने पालथी बनाकर बैठें। उपवस्त्र
रखें, आसन के लिये अपने नीचे एक दर्भ की सलाका रखें, दोनों हाथों की अंगुलियों में
एक-एक दर्भ की सलाका रखें, यहां न तिलक लगावें न आचमन लें न प्राणायाम ही करें। अब
जल हाथ में लेकर संकल्प करें - <b>ॐ</b> विष्णु सर्वव्यापक है, अमुक संवत् में, अमुक मास में,
अमुक पक्ष में, अमुक तिथि में, अमुक वार में (फिर अपसव्य होकर) अमुक गोत्र के अमुक नाम
वाले प्रेत के लिये आज दशगोत्र के पिंडदान प्रथम दिन से दशम् दिन तक के अवनेजन
(आसन) सहित शरीर के अंग उत्पन्न हेतु एक तंत्र से (एक साथ) यह श्राद्ध करता हूं तथा
उसके अंतर्गत दर्भ मय कौशिक द्विज के रूप में विष्णु स्वरूप की पूजन करता हूं। हाथ का
जल छोड़ देवें। फिर गया भूमि को नमस्कार करें तथा गया में गदाधर जिनका एक चरण है,
उस चरण को नमस्कार करके विष्णु भगवान का स्मरण करें। पहले अपने शरीर के न्यास करें
<b>ॐ</b> नमोः भगवते वासुदेवाय या अन्य भगवान का नाम लेकर अपने शरीर के अंगों पर अपने
हाथों की अंगुलियां लगाता जावे (सोलह अंगों पर)।</p>
                        <p>फिर अपने हाथ में एक दर्भ की सलाका लेकर एक छोर भगवते स्वरूप कौशिक द्विज
पर रखें और सोलह बार <b>ॐ</b> नमोः भगवते वासुदेवाय, </p>
                        <ol>
                            <li>मैं आपका ध्यान करता हूँ।</li>
                            <li><b>ॐ</b>नमो भगवते वासुदेवाय जपता जाय और कहे-मैं आसन देता हूँ, दर्भ सलाका या पुष्प का ध्यान दे</li>
                            <li>पिफर कौशिक द्विज के पैरों की तरफ जल चढ़ाकर चंदन के छींटे दे और कहें-आपके पैर के लिए पाद्य और अवनेजन (आसन है)</li>
                            <li>जल चंदन चढ़ाकर कहें - यह आपके लिए अर्घ्य है</li>
                            <li>फिर जल देकर कहें - यह आपके आचमन है</li>
                            <li>जल चढ़ावें और कहें यह आपके लिए स्नान है</li>
                            <li>ऊपर सूत्र रखते हुए कहें यह आपके लिए वस्त्र है</li>
                            <li>पुष्प व सूत्र रखते हुए कहें - यह आपके लिए यज्ञोपवीत है</li>
                            <li>चंदन का छींटा देते हुए कहें - यह आपके लिए चंदन है</li>
                            <li>पुष्प चढ़ाते हुए कहें - यह आपके लिए पुष्प है।</li>
                            <li>धूप करके कहें यह आपके लिए धूप है</li>
                            <li>दीपक दिखाते हुए कहें - या दीपक पर पुष्प वंदन फेंकते हुए कहें यह आपके लिए दीपक है</li>
                            <li>पत्ते पर नैवेद्य रखते हुए कहें यह आपके लिए नैवेद्य है</li>
                            <li>सुपारी रखते हुए कहें - यह आपके लिए सुपारी फल है, पफल हो तो फल रखें</li>
                            <li>दक्षिणा रखते हुए कहें यह आपके लिए दक्षिणा है</li>
                            <li>(16) नमस्कार करते हुए कहें यह आपके लिए नमस्कार है। हाथ में जल लेकर कहें - कुश मय द्विज (कौशिक द्विज) की जो पूजा की है, उसमें भगवान विष्णु प्रसन्न हो तथा पूजन परिपूर्ण हो, जल छोड़ दें।</li>
                        </ol>
                        <p>फिर खड्डों की ओर अपना मुंह दक्षिण दिशा की ओर करें और अपने बांये हाथ की ओर
(ईशान दिशा में) भूमि पर एक दर्भ सलाका रखें उस पर पात्र रखें पात्र में जल डालें, तिल,
पुष्प, दर्भ की सलाका डालें, चंदन का छींटा दें, फिर <b>ॐ</b> नमोः नारायण या अन्य भगवान का
नाम लेता हुआ चार दर्भ की सलाकाएं चारों दिशाओं में फेंकें और कहें रक्षा करना, यह
रक्षाकरण है। इसके पश्चात् बांये हाथ की तरफ जल आदि डालकर पात्र रखा है, उसका जल
दर्भ की सलाकाओं से सबल वस्तुओं पर छींटें दें और कहें - सब वस्तुएं पवित्र हो। अब
अपसव्य करें।</p>
                        <p>पिंडों को बनाने के लिए पात्र में आटा आदि लें, उस आटे में तिल, चंदन के छींटें,
पुष्प, दूध, दर्भ डालें और जल मिलाकर दस पिंड बनावें जिसमें एक उड़द के आटे का हो।
उड़द का आटा न हो तो अन्य आटे का ही बनावें। अब क्रियाकर्ता अपने दाहिने हाथ की ओर
से बांये हाथ की ओर यानि पश्चिम से पूर्व की ओर क्रिया करते जाएं। प्रथम थोड़ा-थोड़ा जल
सबल खड्डों की किनार पर डालें, अपनी ओर की किनार पर फिर सात नगरियों का स्मरण कर
उनको नमस्कार करें, सातों नगरियां है 1. अयोध्या, 2. मथुरा, 3. माया (हरिद्वार), 4. काशी, 5.
कांची, 6. उज्जैन, 7. द्वारिकापुरी।</p>
                        <p>फिर अपने हाथ की तर्जनी से उन खड्डों के सामने जल से सीधी छोटी रेखाएं खींचे।
इन खींची हुई रेखाओं पर एक-एक दर्भ की सलाका रखें और ईशान पर रखें। जल पात्र के
जल को अपने दाहिने हाथ में लेकर अंगूठे और तर्जनी के मध्य से खड्डों के पास रखी हुई
दर्भसलाकाओं पर छोड़ें। इस प्रकार दस सलाकाओं पर छोड़ें और कहें - अमुक गोत्र के
अमुक नाम के प्रेत के लिए यह अवनेजन (आसन) देता हूँ, उसे प्राप्त हो। उसके बाद एक
आटे का पिंड अपने हाथ में लेकर कहें - </p>
                        <ol>
                            <li><p>अमुक गोत्र के अमुक नाम वाले प्रेत के लिए प्रथम दिन निमित्त का सिर उत्पत्ति हेतु
यह पिंड देता हूँ, यह उसे प्राप्त हो। अंगूठा व तर्जनी के मध्य से प्रथम खड्डे के सामने
की दर्भ सलाका पर सातवां पिंड रख दें। इसी प्रकार दूसरे आदि खड्डों के पास की
दर्भ सलाकाओं पर पहला पिंड दिया है वैसे ही सभी पिंड देवें।</p></li>
                            <li>
                                <p>कान, आंखें, नासिका के उत्पत्ति हेतु द्वितीय दिन निमित्त का आठवां पिंड।</p>
                            </li>
                            <li>
                                <p>तीसरे दिन के निमित्त का ग्रीवा, भुजा, वक्षस्थल की उत्पत्ति हेतु नवां पिंड।</p>
                            </li>
                            <li>
                                <p>चौथे दिन निमित्त का - पेट, नाभि, जननेन्द्रिय, गुदा, पीठ, कटि की उत्पति हेतु दसवा पिंड</p>
                            </li>
                            <li>
                                <p>पांचवें दिन निमित्त का - उरू, जंघाएं, घुटने, पैरों के अवयव उत्पत्ति हेतु ग्यारहवां पिंड।</p>
                            </li>
                            <li>
                                <p>छठे दिन निमित्त का - दांत, रोएं, नख, चर्म, वीर्यरज उत्पत्ति हेतु बारहवां पिंड।</p>
                            </li>
                            <li>
                                <p>सातवें दिन निमित्त का - रुधिर, मांस, मज्जा, नाड़ियां और उसके अवयव उत्पत्ति हेतु तेरहवां पिंड।</p>
                            </li>
                            <li>
                                <p>आठवें दिन निमित्त का - पैरों की अंगुलियां, समस्त मर्म स्थानों के अवयव (अंग) उत्पत्ति हेतु चौदहवां पिंड।</p>
                            </li>
                            <li>
                                <p>नवें दिन के निमित्त का - शरीर के सब अवयवों की पूर्ति हेतु पंद्रहवां पिंड।</p>
                            </li>
                            <li>
                                <p>दसवें दिन के निमित्त का - क्षुधा, वृषा की उत्पत्ति हेतु तथा इनकी तृप्ति हेतु (उड़द
के आटे का) सोलहवां पिंड देता हूं, यह उसे प्राप्त हो।</p>
                            </li>
                        </ol>
                        <p>फिर हाथ में जल लेकर पिंडों पर अवनजन की तरह प्रत्यवनेजन का जल दें और
कहें- पिंडों पर प्रत्यवनेजन देता हूँ।</p>
                        <p>पश्चात् हाथ धोकर पिंडों पर ऊन का सूत चढ़ावें, चंदन, पुष्प आदि चढ़ावें, रोली आदि
का धूप देवें, दीपक लगावें, कूलर या दाख या अन्य नैवेद्य रखें, एक-एक फल या सुपारी रखें।
दक्षिणा (लोह के सिक्के) रखें और कहें अमुक गोत्र के अमुक नाम वाले प्रेत के निमित्त पिंडों
के लिए यह सूत्र, चंदन, पुष्प, धूप, दीपक, नैवेद्य, फल दक्षिणा रखता हूँ, ये उसे प्राप्त हो।</p>
                        <p>इसके पश्चात् बर्तन में जल, तिल, पुष्प, चंदन का छींटा दर्भ की सलाकाओं पर डालें
और हाथों से इस बर्तन के जल से पिंडों पर अंजलियां देते जाएं। प्रत्येक पिंड पर दो-दो
अंजलि बढ़ाते जाएं। जैसे-प्रथम पिंड पर एक, दूसरे पर तीन, तीसरे पर पांच, इस तरह दसवें
पिंड पर उन्नीस अंजलियां दी जायेगी। अंजलि देते समय कहें अमुक गोत्र, अमुक नाम वाले
प्रेत के लिए क्षुधा, तृषा, निवृत्ति हेतु ये अंजलियां दे रहा हूँ, ये उन्हें प्राप्त हो। इसके पश्चात्
<b>ॐ</b> नमो भगवते वासुदेवाय कहता हुआ तीन बार बर्तन को भरकर पिंडों पर बर्तन से जल धरा
दें, उसके पश्चात् विष्णु भगवान का ध्यान करें और हाथ जोड़कर प्रार्थना करें कि जो
जन्म-मरण से रहित अविनाशी, शंख, चक्र, गदा को धारण करते हैं, कमल के समान जिनके
नेत्र है, ऐसे भगवान विष्णु इस प्रेत के मुक्तिदाता हों, आप अवगतियों को शुभगति देने वाले हो,
संसार सागर में डूबे हुए व्यक्तियों पर प्रसन्न हो, हे लक्ष्मीकांत इस तर्पण से आप इस प्रेत को
मुक्ति प्रदान कीजिये, अच्छी तरह संतुष्ट होकर इस पर प्रसन्न हों।</p>
                        <p>फिर दस खड्डों में थोड़ा-थोड़ा जल डालें और कहें - अमुक गोत्र के अमुक नाम वाले
प्रेत के लिये दिया हुआ यह जल है, इससे स्नान कीजिये।</p>
                        <p>इसके बाद पिंडों के ऊपर तिल रखकर पिंडों का विसर्जन करें, तिल के एवज में दर्भ
सलाकाएं रखें और कहें अब आपका विसर्जन करता हूँ, विसर्जित हों।</p>
                        <p><b>ॐ</b> नमोः भगवते वासुदेवाय कहते जाएं और हथेली से धकेलकर खड्डों में डाल दें और
पास की मिट्टी ऊपर देवें अथवा पिंडों को जल में प्रवेश करें। (स्थान विशेष की सुविधा अनुसार
जो भी संभव हो किया जावें ।)</p>
                        <p>इसके पश्चात् मिट्टी के दस कुल्लड़ जल से भरें, सूत्र बांधे, चंदन आदि की बिंदियां
देवें, कुल्लड़ों के जल में दूध और तिल डालें। इन कुल्लड़ों को दबे हुए पिंडों पर रखें, ऊपर
ढक्कन रखें, धीरत, शक्कर मिली हुई खिचड़ी को चुपड़ी हुई एक-एक चपाती पर रखकर
कुल्लड़ के ढक्कन पर रखें। एक चपाती पर खिचड़ी पत्ते पर कौशिक द्विज के सामने रखें,
एक चपाती गऊग्रास के लिये रखें।</p>
                        <p>पश्चात् कौशिक द्विज को नमस्कार कर विष्णु भगवान का ध्यान करें और कहें कि यह
आपके नैवेद्य है, कौशिक द्विज को नैवेद्य सव्य होकर रखें, अन्य सबको अपसव्य होकर। हाथ
में जल लेकर कहें अमुक गोत्र के अमुक नाम वाले प्रेत के क्षुध, तृषा निवृत्ति हेतु चपातियें एवं
खिचड़ी एक तंत्र से (एक साथ) रखे हैं, ये उन्हें प्राप्त हो और जल छोड़ देवें।</p>
                        <p>फिर हाथ में जल लेकर कहें अमुक गोत्र के अमुक नाम वाले प्रेत के निमित्त
अवयवोत्पत्ति हेतु दस पिंडदानादि श्राद्ध मेरे द्वारा किया गया है, इससे उनकी क्षुधा, तृषा की
निवृत्ति होकर उनकी असद्गति निवारण होकर सद्गति प्राप्त हो, जल छोड़ देवें, हाथ जोड़कर
कहें आगे एकादशा कर्म की योग्यता प्राप्त हो।</p>
                        <p>कौशिक द्विज पर तिल या दर्भ सलाका रखकर कहें - आपका विसर्जन करता हूँ, इस
कर्म को पूर्ण करें, कौशिक द्विज की गांठ खोल दें, भगवान का स्मरण करता हुआ चौके से
बाहर निकल जायें, शरीर में तेल अमलेटी लगा लें, स्नान करें और पहने हुए वस्त्र, उपवस्त्र
को वहीं डाल देवें, यज्ञोपवीत बदलें, पश्चात् घर के लिये प्रस्थान करें।</p>
                        <p>महिलाएं भी स्नान करने घर से बाहर गई हुई है तो तेल अमलेटी चौका सरने के बाद
उन्हें भी भेज दिया जावे जिससे वे स्नान कर पहले घर पहुंच जावे। दशवें के लिए घर से
प्रस्थान करते समय घर से ही आग लेकर रोते-पीटते जाते और रोते-पीटते ही लौटते हैं।
इस प्रथा में संशोधन अपेक्षित है, जमाना बदल गया है, बहुत आगे बढ़ गया है, पल्ला लेने,
रोने पीटने की प्रथा बंद कर दी जाय तो प्रगतिशीलता का परिचायक होगा, यह एक विनम्र
सुझाव है, गंभीरता से विचार करने की अपेक्षा है। किसी भी मृतात्मा के मोक्ष के लिए आवश्यक
क्रियाकर्म हमें अवश्य करनी चाहिए तथा क्रियाकर्म का अभिप्राय यही है कि संबंधित घर के
सूतक का निवारण हो। हमारे शास्त्र में ब्राह्मणों के लिए दस दिन, क्षत्रियों के लिए बारह,
वैश्यों के लिए पंद्रह एवं शूद्रों के लिए तीस दिन के सूतक निवारण का क्रियाकर्म का विधान
है। इसी कारण से शास्त्र एवं गुरुड़ पुराण के अनुसार ही हमारे समाज में दसवें स्नान का
प्रचलन है लेकिन आज यह देखा जा रहा है कि सूतक निवारण तो दूर आज जिसके घर में
सूतक निवारण किया जाता है। वह व्यक्ति अपने यहां के सूतकी वस्त्रों के रूप में अन्य लोगों
के घरों पर भी सूतक का प्रसार कर रहा है, जो बहुत ही गलत है। हमारे शास्त्र एवं गुरुड़
पुराण में ऐसी किसी प्रथा का वर्णन नहीं है, लेकिन फिर भी दसवें स्नान पर महिलाओं को
साड़ियां वितरित कर सूतक प्रसार कर रहे हैं, जो नहीं होना चाहिए। साथ ही दसवें स्नान में
आने वाली महिलाओं को भी इसका बहिष्कार कर पापभागी होने से बचना चाहिए। हमारे
समाज के लोगों को इस विषय पर गंभीरता से विचार करने की जरूरत है।</p>
                        <p><b>ग्यारहवाँ का श्राद्ध -</b></p>
                        <p><b>सूतक विषयक जानकारी -</b></p>
                        <p>याज्ञवल्क्य के अनुसार सपिंड यानी चार पीढ़ी तक के व्यक्तियों को दस दिन का सूतक
लगता है, सकुल्य यानी सात पीढ़ी तक के व्यक्तियों को तीन दिन का सूतक लगता है,
गोत्रजों यानी दस पीढ़ी तक के व्यक्तियों को स्नान मात्र से शुद्धि होती है। एक से चार पीढ़ी
तक सपिंड, पांच से सात पीढ़ी तक सकुल्य और आठ से दस पीढ़ी तक सगोत्र कहलाते हैं।</p>
                        <p>उपर्युक्तानुसार मृतक के परिजन जो सपिंड की श्रेणी में आते हैं, उनको दस रात्रि के
पश्चात् ग्यारहवें के दिन प्रातः स्नान कर तथा पहिनने के वस्त्र धोकर पुरुषों को यज्ञोपवीत
बदलना एवं महिलाओं को वेल-कंठी बदलना सूतक निवारण हेतु अनिवार्य है। परंपरानुसार
यह भी मान्यता है कि ग्यारहवें के श्राद्ध में चौके सरने के पश्चात् ही सपिंड व्यक्ति सूतक
निवारण कार्य करें।</p>
                        <p><b>सामग्री - </b>ग्यारहवें के श्राद्ध कर्म हेतु निम्न सामग्री अपेक्षित है -कुंकुम, लच्छा,
सुपारियां-21, पुष्प, पान-5, कपूर, केसर, फल-2, दूध-1 कि.ग्रा., दही, घीरत 1 कि.ग्रा., शहद,
मिश्री, पंचमेवा, गेहूं 1 कि. ग्रा., चावल-1 कि.ग्रा., उड़द आधा कि.ग्रा., मूंग आधा कि.ग्रा.,
सिन्दूर, मालीपाना, समीधा (सब प्रकार का), हवन पुड़ा-1, पीली सरसों, सर्वाेषधि, कमल
कोकड़ियां 7, पंचपल्लव, मिट्टी के कलश-3, दीवाणियां-2, रूई, माचीस, कलश तांबे के 5,
छाल्या ताम्बे के-5, छाल्या कांसा के-5, नारियल-11, गुड़ पावभर, अगरबत्ती पूड़ा-1, ब्रह्माजी
के वस्त्र (घेती- अंगोछा), घोब, डाब, कलश मिट्टी का, रोकड़ परचूनी-31 रू., गुलाल, अबीर,
मिंडल-2, लाल सफेद कपड़ा-1-1 मीटर, पंच मूर्तियां (ब्रह्मा, विष्णु, महेश, यम, प्रेत),
नाव-निसरणी 1-1 (चांदी की), एक हल, छाती, पीठ, आठ धान सामग्री (उड़द, चना, चावल,
गेहूं, कांगणी, मूंग, ज्वार, जौ (प्रतिवस्तु एक-एक किलो), लोहे का बर्तन, लोंग, ईलायची,
पातल-दोना 10-10, इत्रशीशी, अंगोछा बड़ा - 2 (लांग लग सके उतना बड़ा), उपातह
जोड़ी-1, कंडे एक तगारी (यथा संभव आरणियां), द्राक्ष, शंख, तरबाणा, लोठा, जलपात्र, ऊन,
सूत. गऊमूत्र, गोबर, तुलसी, गंगा मिट्टी, गंगाजल, राल, गूगल, हल्दी गांठिया, उड़द का आटा
250 ग्राम, जव का आटा 500 ग्राम, जनेऊ जोड़ा-12, पद सामग्री वेष, बर्तन, जूते, लकड़ी,
कांच, कंघा, तेल शीशी आदि।</p>
                        <p><b>ग्यारहवें की विधि एवं प्रक्रिया -</b></p>
                        <p>क्रिया कर्मकर्ता अपने कुटुम्बी परिजनों एवं संबंधियों के साथ सामग्री लेकर नवमी वाले
स्थान के अतिरिक्त अन्य स्थान पर जावें। क्रिया-प्रक्रिया के समय क्रियाकर्ता के सहयोग के
लिए दो व्यक्ति साथ रखें, क्रिया कार्य लगभग दिनभर चलता है अतः सहयोगी मुस्तैद होना
अपेक्षित है। क्रियाकर्म विशेषज्ञ पंडित (गुरु महाराज) के निर्देशानुसार किया जावे। पद का
सामान एकत्रित कर घर की महिलाएं थाली में जमा कर रख देवें। समाज की महिलाएं पद
सामग्री देखने एकत्रित होती है। पुरुष की किया हो तो पुरुष का वेष तथा स्त्री की क्रिया हो
तो महिला का वेष पद में रखा जावे। सपिंडी कुटुंबीजन क्रिया के अंतिम चरण में पुतलों पर
जलांजलि देवें।</p>
                        <p><b>बारहवां का श्राद्ध -</b></p>
                        <p>बारहवां का श्राद्ध ऐसे स्थान पर किया जावे जो दसवां एवं ग्यारहवां का क्रिया कर्म
करने से पृथक हो। हमारे समाज में बारहवें का क्रियाकर्म घर पर ही करने का विधान प्रचलित
है तथा सपिंडी के बाद क्रियाकर्म का समापन होता है।</p>
                        <p><b>सामग्री - </b>गेहूं, चावल, कपड़ा (लाल-1, सफेद-1), पंचामृत, पंचमेवा, चांदी का तार
आठ अंगुल, तिल 500 ग्राम, ऊन, सूत, कपूर, केसर, अगरबत्ती, नारियल, हल्दी की गांठ,
गौमूत्र, गोबर, गंगाजल, जव, गुलाल, अबीर, भोजन सामग्री, भोजन बनाने के बर्तन, जलपात्र,
लोठा, थाली-कटोरी अथवा पातल-दोना, भोजन बनाने के लिए ईधन, आसन ।
श्राद्ध क्रिया प्रक्रिया विशेषज्ञ पंडित (गुरु महाराज) के निर्देश में श्राद्धकर्म संपन्न किया
जावे।</p>
                        <p><b>पगड़ी बंधाई -</b></p>
                        <p>पगड़ी बंधाई की रस्म का तात्पर्य जिस व्यक्ति का निधन हो गया है, उसके
उत्तराधिकारी की सार्वजनिक घोषणा एवं मान्यता है। घर के आंगन में पीली मिट्टी से लीप कर
उस पर पाट (बाजोट) रखा जाता है, इस पाट पर सर्वप्रथम महालक्ष्मीजी की दक्षिणा भेंटस्वरूप
रखी जाती है। सर्वप्रथम ननिहाल पश्चात् ससुराल एवं अन्यों द्वारा पगड़ी बंधाई की जाती है।
पांच पगड़ी उत्तराधिकारी के सिर पर बांधने का रिवाज है। तत्पश्चात् क्रियाकर्ता बुजुर्गाे को
प्रणाम कर आशीर्वाद प्राप्त करता है।</p>
                        <p><b>विशेष - </b>मानव की मृत्यु होते ही वह प्रेत योनि में जाता है। प्रेत योनि एक जन्म है,
इस योनि में प्राणी बहुत व्याकुल और दुःखी रहता है। प्रेत अपनी उद्विघ्न अवस्था में कुछ भी
कर सकता है। प्राणी को इस प्रेत योनि से मुक्त करा पितृ/देव योनि में प्रवेश कराना ही
अंत्येष्टि क्रियाकर्म का कार्य है इसलिए मृतक के पीछे विधिपूर्वक तन, मन से क्रियाकर्म करना
चाहिये।</p>
                        <p>पितृयोनि ऊँची श्रेणी की प्रेत योनि है जो प्रायः अपेक्षाकृत सुखी, शांत एवं कुटुंबवालों से
पूर्ण आशा रखती है और विशेषकर यह योनि अपने कुटुंबवालों के लिए फलदायी होती है।
संपूर्ण अंत्येष्टि कर्म प्रेत मुक्त करने की एक वैज्ञानिक प्रक्रिया है और प्राचीनकाल से चली आ
रही है। मानव मरने के पश्चात् प्रेत रूप में बारह दिन तक वायुमंडल में रहता है। सही
क्रियाकर्म से इसकी प्रेत योनि छूटती है, फिर अपने कर्मों के अनुसार पितृ या देव योनि
भुगतता रहता है।</p>
                        <p><b>भोजन - </b>हमारे समाज में दसवां, ग्यारहवां, बारहवां एवं पगड़ी दस्तूर पर गोजन की
परंपरा रही है। अंत्येष्टि क्रियाकर्म के शास्त्रों, गुरुड़ पुराण एवं गुराजी के अनुसार केवल
ग्यारहवें पर दस वेदपाठी ब्राह्मण एवं एक अतीत (ग्राम का साधु, सन्यासी, नाथ या
भिक्षायाचक) को भोजन करा, दक्षिणा देने का एवं बारहवें के दिन ग्यारह वेदपाठी ब्राह्मण, एक
अतीत को ही भोजन कराने का विधान है। गुरुड़ पुराण के अनुसार जो व्यक्ति यह जानते हुए
कि मेरे घर में सूतक है और ऐसे सूतकी भोजन को किसी अन्य को खिलाता है, वह खुद पाप
का भागी होता है तथा उस पाप का फल उसे, उसके परिवार को एवं मृतात्मा को भोगना
पड़ता है। साथ ही जो यह जानकर कि अमुक घर में सूतक है, फिर भी वह वहां का भोजन
ग्रहण करता है तो वह भी इसी प्रकार से पाप का भागी होता है।</p>
                        <p><b>स्त्रोत - </b>बारहवां एवं तेरहवां अध्याय गुरुड़ पुराण।
सूतकी के घर पर केवल उसके सपिंडी जो कि उसके यहां 12 दिन तक निवास करते
हैं, उन्हें ही भोजन ग्रहण करना चाहिए तथा ऐसे भोजन उपरांत स्नान अवश्य करना चाहिए,
किंतु आजकल विभिन्न मिष्ठान्न बनाकर समाजजनों द्वारा सूतकी भोजन किया जा रहा है।
इस पर भी समाज के प्रबुद्धजनों को गंभीरता से चिंतन करना चाहिए।</p>
                        <p><b>शद्धयादान / सज्जादान -</b></p>
                        <p>गुरुड़ पुराण के बारहवें अध्याय के अनुसार सूतकी के घर से दानस्वरूप शद्धयादान
किया जाता है। शब्द्धयादान का धार्मिक एवं मनोवैज्ञानिक महत्व है। इसके लिए गुरुड़ पुराण
में पूरी विधि दी हुई है लेकिन इसका मनोवैज्ञानिक महत्व यह है कि जिस व्यक्ति का निधन
हुआ है, उसके परिवार वाले उस क्षति को विस्मृत कर अपने दैनिक क्रियाकर्म में लौट आएं
और सामाजिक भागीदारी निभाएं। इस हेतु उनकी यादों को विस्मृत करने के लिए मृतक से
संबंधित समस्त वस्तुओं का किसी जरूरतमंदों को दान शद्धयादान का अभिप्राय है।</p>
                        <p><b>वर्ष पर्यंत आयोज्य कार्यक्रम -</b></p>
                        <p>उपर्युक्त विवेचन से स्पष्ट है कि मृतात्मा बारहवें की क्रिया के पश्चात् प्रेतयोनि से
पितृयोनि में प्रवेश करती है और वर्ष पर्यंत समय-समय उसकी आत्मा की शांति, क्षुधा पिपासा,
तृप्ति एवं सद्गति प्राप्ति हेतु विविध</p>
                        <p>आयोजन संपन्न किये जाते हैं।</p>
                        <p><b>निवेदन - </b>उपरोक्त क्रियाकर्म को यहाँ वर्णित करने का अभिप्राय मात्र यह है कि हमारे
समाज की जनसंख्या बहुत कम है तथा जो है, वह भी बहुत दूर-दूर है और कई गांवों में तो
इक्का-दुक्का परिवार ही है। ऐसे परिवारों में निधन की स्थिति में उन्हें अंतिम संस्कार से
संबंधित विधि-विधानों से परिचित कराना है। हमारे समाज में विशेषकर मेवाड़ में मजा, नांदोड़ा
एवं सेमा के श्रीमाली परिवारों द्वारा पीढ़ियों से हमारे समाज के अंतिम संस्कार क्रियायें इत्यादि
संपादित करवाई जा रही है, जिनसे प्राप्त उपरोक्त जानकारियां आप सभी की सेवा में सादर
प्रस्तुत है। इसके लिए इन श्रीमाली परिवारों (गुराजी) विशेषकर श्री सतीशकुमारजी श्रीमाली
(ओझा) आत्मज श्री ओमप्रकाशजी श्रीमाली, ग्राम पोस्ट सेमा, त. नाथद्वारा, जिला-राजसमन्द
का विशेष आभार, जिन्होंने समाजहित में उपरोक्त जानकारियां हमें प्रदत्त कीं।</p>
                        <p>यद्यपि अंतिम संस्कार की क्रियाविधियों का सामाजिक, मनोवैज्ञानिक एवं आध्यात्मिक
महत्त्व है अतः हमारा सभी से आग्रह है कि अधिक से अधिक शास्त्रों का अध्ययन करें तथा
शास्त्रों द्वारा स्थापित विधानों का अनुसरण को प्राथमिकता देवें।</p>
                    </section>
                    <h3 class="fw-bold align-self-end mt-3">संकलनकर्ता - सुरेशचन्द्र पालीवाल एडवोकेट</h3>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
