
{% extends 'base.html' %}
{% load static %}
{% block title %}History{% endblock %}

{% block stylesheets %}
<style>
  p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">बड़ा पालीवाल समाज की उत्पत्ती और इतिहास</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">
                    <section id="content_section">
                        <h1>बड़ा पालीवाल समाज की उत्पत्ती और इतिहास</h1>
                        <p>वैदिक काल मे सामाजिक व्यवस्थाओं को सुचारू रूप से संचालन हेतु ऋषि मुनियों ने
कार्य आधारित चार वर्ण ब्राह्मण, क्षत्रिय, वैश्य और शुद्र निर्धारित किये थे। इनमे से ब्राह्मण का
कार्य शिक्षा सम्बन्धित एवं समाज को दिशा प्रदान करना, क्षत्रिय का कार्य सभी की सुरक्षा
करना, वैश्य का कार्य व्यापार को दिशा प्रदान करना व अन्य सम्बन्धित कार्य व शुद्र का कार्य
सेवा करना। याद रहे ये वर्ण व्यवस्था कर्म आधारित थी न की जन्म से। कालान्तर मे इसमे
परिवर्तन आकर ये जन्म आधारित हो गई। तत्समय ब्राह्मण वैदिक शिक्षा ही नही युद्ध शिक्षा
भी देते थे और अत्यन्त बहादूर होते थे।</p>
                        <p>पालीवालो के इतिहास पर बहुत अधिक कार्य नहीं हुआ है परन्तु उपलब्ध जानकारी मे
वैद्य श्री रेवाशंकर जी उदयपुर द्वारा लिखीत पालीवाल समाज का इतिहास जो अधिकतर
सरसल वंशावली है, में विस्तृत मे दिया गया है जिसे यहां उदृत किया गया है। लेखक के
अनुसार पालीवाल नामकरण मुख्यतः पाली क्षेत्र गुजरात से अन्यत्र विस्थापन के कारण हुआ
है। मूलतः ये सहस्त्र ओदिच्य ब्राह्मणों की ही उपशाखा है। लेखक ने इस बाबत कई प्रमाण भी
पुस्तक मे दिये है। 11 वीं 12 वीं शताब्दी मे पाली गुजरात मे निवासरत ब्राह्मण समुदाय
अराजकता के कारण मेवाड़ मारवाड़ जैसलमेर बीकानेर मध्यभारत पंजाब आदि स्थानों पर
जाकर बस गये जो सभी स्थान विशेष से विस्थापन के कारण पालीवाल कहलाये। वास्तविकता
मे पालीवाल एक बड़े ब्राह्मण समाज को व्यक्त करता है, जिसमें पुरोहित, नागदा, नागर,
सांचोरा, मेनारिया, पानेरी, अवदीच आदि ब्राह्मण सम्मिलित है। स्वगोत्र शाक्या मे विवाह निषेध
होने से अन्य गोत्र वाले ब्राह्मणो को शामिल किया गया। तत्कालीन पालीवाल समाज अत्यन्त
शिक्षित, विद्वान, व्यापार कुशल, दान दाता, संगठित व कुशल कृषक था। पालीवाल समाज
अपने सिद्धान्तो पर दृढ़ एवं संगठित था जिससे बिना धार्मिक समझौते के विस्थापित होना
स्वीकार किया और अन्यत्र निवासरत होता रहा।</p>
                        <p>इन्ही पालीवालों मे विजयदेव जी एक प्रसिद्ध नाम हुआ जिनके पुत्र सरसल जी हुए।
सरसल जी एक महान विद्वान व वीर योद्धा थे। उनके कार्य से प्रसन्न होकर तत्कालीन प्रथम
राजा ने राजपुरोहित की उपाधि एवं जागीर दी। उनको महाराजा ने अपना सेनापति भी नियुक्त
किया।</p>
                        <p>जहां तक बड़ा पालीवाल के उद्भव की बात है इसी वंश में सरसल जी की चौथी
पीढी मे श्री देवाराम जी एवं साजड़ जी दो भाई हुए । राजपुरोहित देवाराम जी की
स्पष्टवादिता के कारण एवं राजा द्वारा बात नही मानने से उन्होने अपना पद त्याग दिया तब
राजा जी द्वारा उक्त कार्य उनके छोटे भाई के पुत्र राजड़ जी से कराया। बाद मे राजा की
अपने कृत्य पर पश्चाताप हुआ और वे उन्हे मनाने शिशोदा ग्राम तक आये।</p>
                        <p>संवत् 1383 ई. के लगभग राजा हमीर ने चित्तौड़ को पुनः जीत लिया और मेवाड़ के
राजा महाराणा कहलाये। इस प्रकार मेवाड़ के प्रथम राजपुरोहित राजड़ जी हुए। राजड़ जी के
जामाता के कारण राजड़ जी और वैजड़ जी मे विरोध बढ़ गया फलस्वरूप समाज दो भागो में
बट गया। अधिक लोग राजड़ जी के पक्ष में और कुछ वैजड जी के पक्ष के हो गये। यह
संवत् 1444 के लगभग की बात है। एक बार राणा मोकल जी जो हमीर के पुत्र थे ने चित्तौड़
से चुंडाजी को अप्रसन्न होकर निकाल दिया तब राजड़ ने भी पुरोहिताई छोड़कर चुंडाजी के
साथ मारवाड़ चले गये। तब राजा मोकल ने राजड़ जी के छोटे भाई वैजड़ जी को पुरोहित
बनाया। यद्यपि वैजड़ जी छोटे थे परन्तु राजपुरोहित होने से अपने आपको बड़ा पालीवाल
कहने लगे। यह सं. 1476 से 1490 के मध्य की बात है । वैजड़ जी ने एक बार सभी
पालीवालों को एकत्रित कर भोजन कराकर एक एक मोहर दक्षिणा दी, जो इनके साथ रहे बड़े
पालीवाल कहलाये एवं जो नही रहे उन्हे छोटे पालीवाल कहा जाने लगा। इस तरह वर्तमान मे
बड़ा पालीवाल राजपुरोहित मेवाड़ है जो वैजड जी के वंशज है। मेवाड़ राजपुरोहित ने अपने
अपने समर्थको को मेवाड़ मे विभिन्न राजघरानों मे पुरोहित बनवाया एवं भूमि दिलवायी। चूंकि
वैजड जी मेवाड़ के राजपुरोहित थे जिससे उनके समर्थक भी एवं बड़ा पालीवाल भी मेवाड़
राज्य तक ही सीमित रहे। मेवाड़ राज्य के अतिरिक्त जयपुर मे बड़ा पालीवाल समाज के
परिवार निवासरत है। महाराणा अमरसिंह (द्वितीय) की पुत्री चन्द्रकुमारी का विवाह सवाई
जयसिंह जी आमेर वाले के साथ हुआ तब पालीवालों के दो परिवार बाईजी के साथ जयपुर
उनके जल जीमण हेतु विश्वासपात्र मानकर मेवाड़ से भेजे गये थे उनके वंशज जयपुर मे
निवासरत है।</p>
                        <p>उपरोक्त संकलन विभिन्न माध्यमों से किया गया है परन्तु इससे शोध की आवश्यकता है
ताकि जो तथ्य जानकारी मे नही है सभी को ज्ञात हो सके।</p>
                    </section>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
