{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  li, p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">बड़ा पालीवाल समाज में कार्यरत संगठन</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">
                    <h1>बड़ा पालीवाल समाज में कार्यरत संगठन</h1>
                    <section id="content_section">
                        <p>किसी भी समाज अथवा संस्था को अक्षुण्ण बनाये रखने के लिये सदस्यो का संगठित
होना एवं आपस मे समझ सहयोग होना आवश्यक है । पालीवाल समाज में भाईचारे एवं
सहयोग/सहकारिता को इतिहास मे भी वर्णित किया गया है। समाज के अलग अलग स्थानों
पर बिखराव के कारण समय के साथ इसमे कमी आई एवं समाज का वो स्थान नही रह पाया
जो पूर्व मे पालीवाल समाज को राज्य एवं अन्य समाजों मे प्राप्त था। चूंकी सहकारिता
पालीवालों के खून मे थी जो कि समय के साथ पुनः जागृत हुई एवं हमारे अग्रजों ने इसके
लियें प्रयास प्रारम्भ किये। वर्तमान मे समाज मे जिला स्तर पर विभिन्न संगठन कार्यरत है
जिनका संक्षिप्त विवरण निम्नानुसार है।</p>
                        <ol>
                            <li><p>श्री बड़ा पालीवाल हितकारी मण्डल उदयपुर- बड़ा पालीवाल समाज का बहुत
हिस्सा तत्कालीन उदयपुर (मेवाड़) के अर्न्तगत निवास करता था एवं मेवाड़ महाराणा के मुख्य
पुरोहित (बड़ा पुरोहित) बड़ा पालीवाल समाज के होने से सभी गतिविधियों, नीतिनिर्धारण व
कार्यवाही का केन्द्र मुख्य रूप से उदयपुर ही रहा है। समाज की व्यवस्थाओं को सुचारू करने
आपस मे सहयोग एवं सहकारिता बढाने हेतु वर्ष 1944 मे उदयपुर मे स्व श्री औंकारलाल जी
पुरोहित, देवीलाल जी व्यास, हगामीलाल जी, शोभाशंकर जी, सूरजलाल जी की सक्रियता से
श्री बड़ा पालीवाल हितकारी मण्डल का गठन किया गया। संस्था का कार्यालय उदयपुर मे
बनाया गया। संचालन हेतु दो समितियां 1. महासभा, 2. कार्यकारिणी का गठन किया गया।
मण्डल के संचालन एवं चुनाव, सदस्यता एवं कार्यवाही सम्बन्धी नियम उपनियम बनाये गये।
जिसमे महासभा का कार्य शासन प्रबन्ध एवं कार्यकारिणी का कार्य नियमो को लागू करना तय
किया गया। संविधान बनाकर कर्तव्य उद्देश्य एवं उद्देश्यपूर्ति हेतु साधन भी निश्चित किये गये।
यह दूरदर्शिता ही थी की स्वाधीनता से पूर्व समाज मे लोकतंत्र की स्थापना कर ली गई।
संस्था ने शिक्षा के प्रसार हेतु पुस्तकालय की भी स्थापना की गई। आर्थिक उन्नति एवं
सहयोग कोष की भी स्थापना की गई जो आज तक कार्यरत है। यह समाज का सर्वप्रथम
संगठन है तथा आजतक कार्यरत है।</p></li>
                            <li><p>समाज में उदयपुर के पश्चात सर्वाधिक संख्या एक स्थान पर जयपुर मे निवासरत
थी। उदयपुर के पश्चात दूसरा संगठन पालीवाल समाज राजस्थान जयपुर का गठन वर्ष
1980-81 मे किया गया। कार्यकारिणी का चुनाव संसदीय कार्यप्रणाली के अनुसार सदस्यों
द्वारा मतदान द्वारा कराये जाते है, जिसका कार्यकाल दो वर्ष रहता है। अखिल भारतीय
पालीवाल समाज नई दिल्ली एवं राजस्थान ब्राह्मण समाज से भी एफिलेशन प्राप्त किया गया
है। समय समय पर सम्मेलनों एवं बैठकों मे भी लगातार भागीदारी रही है। 6 माह में कम से
कम एक साधारणसभा की बैठक की जाती है एवं अन्य कार्यक्रम भी आयोजित किये जाते है।
समाज के प्रयासो से कर्नल शोभालाल जी के माध्यम से शमशानघाट का जिर्णाेद्धार भी कराया
गया। वर्तमान मे श्री सोहनलाल जी अध्यक्ष, किशनलाल जी उपाध्यक्ष, चौनशंकर जी सचिव,
रमेश चन्द्र जी सह सचिव एवं रविप्रकाश जी कोषाध्यक्ष पद पर कार्यरत है। यह संगठन
समाज में अच्छा क्रियाशील है। संगठन द्वारा पारिवारिक विवरणिका के सम्पादन पर
मंगलकामनाए भी प्रेषित की गई है।</p></li>
                            <li>
                                <p>समाज मे तीसरा संगठन वर्ष 1984 मे चित्तौड़गढ़ मे श्री बड़ा पालीवाल समाज
विकास संस्थान चित्तौड़गढ़ के नाम से बनाया गया। प्रारम्भ में कुछ कार्यों को समाजस्तर पर
करने का निर्णय तत्कालीन कमेटी द्वारा किया गया एवं सभी क्षेत्र से समाज के प्रमुख लोगो
को बुलाया गया, परन्तु फिर यह जिला स्तर पर कुछ कार्यों तक सिमट कर रह गया। इसके
प्रथम अध्यक्ष श्री प्रेमशंकर जी पुरोहित बनें जो कि 2010 तक बने रहे। 2011 मे श्री डी एस
जोशी को सचिव पद पर चुना गया इसके पश्चात संगठन पुनः कार्यशील हुआ एवं विभिन्न
कार्यक्रम संचालित किये जिसमें चित्तौड़गढ़ जिले की पारिवारिक विवरणिका संकलन एवं
प्रकाशन, प्रतिभावान छात्र छात्रो को प्रोत्साहित करना, विभिन्न सांस्कृतिक व खेलकूद
प्रतियोगिता का आयोजन करना आदि प्रमुख है। संगठन में इसके बाद से लगातार चुनाव एवं
अन्य गतिविधियों सम्पन्न की जाती रही है। वर्तमान मे अध्यक्ष पद श्री जगदीश लाल जी के
निधन से रिक्त है।</p>
                            </li>
                            <li>
                                <p>उदयपुर जयपुर चित्तौड़गढ़ के पश्चात वर्ष 2012 मंे भीलवाड़ा मे श्री बड़ा पालीवाल
प्रगति संस्थान भीलवाड़ा का गठन किया गया । भीलवाड़ा मे मूलतः कोई परिवार निवासरत
नही था एवं धीरे धीरे रोजगार व्यवसाय हेतु भीलवाड़ा मे परिवार बसते रहे एवं संगठन की
आवश्यकता महसूस की गई। सभी प्रबुद्धजनों ने मिलकर एक संगठनात्मक ढांचा तैयार किया,
संविधान बनाया तथा संस्थान को रजिस्टर्ड करवाया। संस्थान के पदाधिकारियों ने सप्पूर्ण जिले
मे भ्रमणकर समाजजनों को संगठन की आवश्यकता एवं उद्देश्य से अवगत करवाकर सदस्यता
ग्रहण करवाई। संस्थान मे नियमानुसार चुनाव करवाये गये जिसमे प्रथम कार्यकारिणी अध्यक्ष
श्री राजमल पुरोहित, उपाध्यक्ष श्री मनोज पालीवाल, सचिव श्री सुरेशचन्द्र पालीवाल एवं
कोषाध्यक्ष श्री रामचन्द्र पुरोहित मनोनित हुए। संस्थान मे गठन से वर्तमान तक चुनाव सम्बधित
कार्यवाही नियमानुसार हो रही है। इन वर्षों मे संस्थान ने आपसी सहयोग बढाने हेतु कई
कार्यक्रम गरबा महोत्सव, बॉलीवॉल प्रतियोगिता, दीपावली स्नेह मिलन, विशिष्ठजन सम्मान,
सामूहिक भ्रमण, वरिष्ठजन सम्मान, जनप्रतिनिधि सम्मान, स्नेहभोज, रक्तदान शिविर आदि का
आयोजन किया गया। इसके साथ सामाजिक स्तर पर सुधार हेतु, कुरीतियों के निवारण एवं
ज्वलंत समस्याओं क निदान हेतु सम्पूर्ण समाज स्तर पर चिंतन शिविर का आयोजन किया
जिसके परिणाम समाज मे प्रतिबिबित होने लगे है।</p>
                                <p>इसके अतिरिक्त कई नवाचार नवविवाहित युगल को प्रमाण पत्र देना, सेवानिवृत होने
वालो को प्रशस्तीपत्र, किसी समाजबंधु के निधन पर संवेदना पत्र इत्यादि प्रारम्भ किये गये।
वर्तमान मे कोविड-19 के तहत प्रतिबंधित गाईड लाईन के अनुसार कार्यवाही की जाती है।
नव निर्वाचित कार्यकारिणी ने प्रथम निर्णय अनुसार पूर्व मे संचालित गतिविधियो के अतिरिक्त
सम्पूर्ण समाज की पारिवारिक विवरणिका बनाने का निर्णय लिया जो कि समाज की सेवा मे
पस्तुत है। इसके अतिरिक्त सामुहिक उपनयन संस्कार किये जाने का भी विचार किया जा रहा
है। सामाजिक स्तरपर आर्थिक उन्नति हेतु कार्ययोजना, रोजगार हेतु सहयोग, महिला उत्थान
हेतु योजना, कुरीतियों को समाप्त करने हेतु, युवको को मार्गदर्शन हेतु कमेटी का गठन, युवक
युवति सम्मेलन, विवाह योग्य वर-वधु को समाज मे शादी हेतु प्रेरित करने इत्यादी कार्यों पर
विचार मंथन कर कार्यवाही प्रस्तावित है। आशा है संस्थान उत्तरोतर प्रगति कर समाज में नये
मानक स्थापित कर सकेगा।</p>
                            </li>
                            <li><p>वर्तमान मे राजसमन्द जिला ही ऐसा है जिसमे समाज की बड़ी संख्या होने पर भी
विधिवत कोई संगठन नही है। वर्ष 2018 मे भीलवाड़ा मे कार्यक्रम के दौरान एक अस्थायी
कमेटी का गठन किया गया था जिसमे विधिवत संगठन के सदस्य बनाकर 6 माह मे चुनाव
का दायित्व दिया गया था परन्तु किन्ही कारणों से यह पूर्ण नही हो पाया है। अब यह प्रयास
किये जायेगें कि राजसमन्द मे भी विधिवत संगठन क्रियाशील हो । वर्ष 2018 मे भीलवाड़ा मे
एक कार्यक्रम के दौरान सम्पूर्ण समाज स्तर पर भी एक अस्थाई कमेटी का गठन किया गया
था जिन्हे विधिवत समाजस्तर पर गतिविधियों सभी समाज मे संगठनों मे सामंजस्य स्थापित
करने का दायित्व दिया गया था। उन अस्थाई कमेटी के अध्यक्ष श्री राजमल पुरोहित भीलवाड़ा
है। आशा है भविष्य मे संगठनात्मक सहयोग बढेगा एवं सामाजिक स्तर पर मजबूती होगी।</p></li>
                        </ol>
                    </section>
                    <h3 class="fw-bold align-self-end mt-3">संकलन - मुकुन्दबिहारी पालीवाल भीलवाड़ा</h3>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
