{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">!! संध्या वन्दन !!</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">


                    <section id="content_section">
                        <p>संध्या वन्दन प्रकृति और ईश्वर के प्रति कृतज्ञता प्रकट करने का माध्यम है। कृतज्ञता
से सकारात्मकता का विकास होता है। सकारात्मकता से मनोकामना पूर्ति होती है, और सभी
तरह के रोग तथा शोक मिट जाते है। संध्या कर्म ब्राह्मणों का एक आवश्यक कर्म है। यहां
संध्योपासना की संक्षिप्त विधि दी जा रही हैं, विश्वास हे कि सभी इसका लाभ उठायेगें।</p>
                        <p>प्रातः काल शोच स्नान से पवित्र होकर शुद्ध वस्त्र पहन कर पूर्वाभिमुख अथवा
उत्तराभिमुख बैठे। बांये हाथ में जल लेकर दायें हाथ से शरीर पर छिड़के और नीचे लिखा मंत्र
बोले, जल छिड़कने के लिए बीच की दो अंगुलियो का प्रयोग करना चाहिए ।</p>
                        <p>ॐ अपवित्रः पवित्रो वा सर्वावस्थांगतोऽपि वा !</p>
                        <p>यः स्मरेत पुण्डरीकांक्ष स बाह्यभ्यन्तरः शुचिः !!1!!</p>
                        <p>फिर दोनो हाथ जोड़कर निचे लिखे मंत्र से पृथ्वी को नमस्कार करे ।</p>
                        <p>ॐ पृथ्वी त्वया धृता लोका देवि त्वं विष्णुना धृता !</p>
                        <p>त्वं च धारय मां देवि। पवित्रं कुरू चासनम् !!2!!</p>
                        <p>फिर गायत्री मंत्र से शिखा बान्धे, तथा तिलक लगाले ।</p>
                        <p>ॐ भूर्भुवः स्वः ॐ तत्सवितुर्वरेण्यं भर्गाे देवस्य धीमहि ।</p>
                        <p>धियो योनः प्रचोदयात् !!3!!</p>
                        <p>दाहिने हाथ में जल लेकर निम्नानुसार तीन नाम बोलकर तीन बार आचमन करे और चौथा</p>
                        <p>मंत्र बोलकर दाहिने हाथ धोवे ।</p>
                        <p>ॐ केशवाय नमः स्वाहा। ॐ नारायणाय नमः स्वाहा।</p>
                        <p>ॐ माधवाय नमः स्वाहा। ॐ गोविन्दाय नमः ।</p>
                        <p>इसके बाद प्राणायाम करना है। इसमें आंखे बन्द रखकर बायें नासिका द्वारा थोड़ा रेचक करके
दायें हाथ की अनामिका तथा कनिष्ठा अंगुली से नाक का बांया छिद्र दबाकर दायें छिद्र द्वारा
बाहर कि वायु को निचे लिखे मंत्र का एक बार स्मरण करते हुए अन्दर खिंचना है। फिर दायें
हाथ के अंगुठे से दाया छिद्र बन्द कर देना है। दोनो छिद्र बन्द रखकर निचे लिखा मंत्र चार
बार बोलना है (स्मरण करना है।) और तब तक खिंचे हुऐ श्वास को अन्दर रोककर रखना है।
फिर बांये नासिका छिद्र से अनामिका और कनिष्ठा अंगुली हटाकर फिर वही मंत्र दो बार
बोलकर (स्मरण करते हुए) भरा हुआ श्वास धीरे-धीरे बाहर निकालना है। फिर हाथ धोना है।</p>
                        <p>ॐ भूः ॐ भुवः ॐ स्वः ॐ महः ॐ जनः ॐ तपः ॐ सत्यम।</p>
                        <p>ॐ तत्सवितुर्वरेण्यं भर्गाे देवस्य धीमहि। धियो यो नः प्रचोदयात ।</p>
                        <p>ॐ आपो ज्योति रसोऽमृत ब्रह्म भुर्भुवः स्वरोम ।।</p>
                        <p>(इसके बाद दाहिने हाथ की अंगुली में जल लेकर निचे लिखे अनुसार क्रमशः मास पक्ष तिथी
और वार आदि बोलकर संकल्प करना है।</p>
                        <p>ॐ विष्णुर्विष्णुर्विष्णुः। अत्राद्य अमुक मासे, अमुक पक्षे, अमुक तिथो,</p>
                        <p>अमुक वासरे । ममोपात्तदुरितक्षयद्वारा श्रीतत्सत्परमेश्वर प्रीत्यर्थे</p>
                        <p>प्रातः संन्ध्योपासनमहं करिष्ये ।।</p>
                        <p>(फिर बाये हाथ में जल लेकर दाये हाथ कि बीच की दो अंगुलियो (मध्यमा और अनामिका) से
नीचे बताये हुऐ मंत्र बोलते हुऐ तत् तत् अवयवो पर जल छिड़कना है।)</p>
                        <p>ॐ भूः पुनातु शिरसि (माथे पर) ॐ भुवः पुनातु नेत्रयो (आंखो पर)</p>
                        <p>ॐ स्वः पुनातु कण्ठे (गले पर) ॐ महः पुनातु हृदये (छाति पर) ॐ जनः पुनातु नाभ्याम्
(नाभि पर) ॐ तपः पुनातु पादयो (दोनो पांवो पर) ॐ सव्यम् पुनातु पुनः शिरसि (दोनो पांवो
पर) ॐ स्व ब्रह्म पुनातु सर्वत्र (पूरे शरीर पर)</p>
                        <p>फिर दाहिने हाथ में जल लेकर निचे लिखा मंत्र बोलकर जल पी जाना है।</p>
                        <p>ॐ सूर्यश्च मा मन्युश्च मन्युपतयश्च मन्युकृतेभ्यः पापेभ्यो रक्षन्ताम् ।</p>
                        <p>यद्रात्रिया पाप मंकार्ष मनसा वाचा हस्ताभ्यां पद्भ्यामुदरेण शिश्ना</p>
                        <p>रात्रिस्तदवलुम्पतु । यत्किंच दुरितं</p>
                        <p>मयि इदमहं माममृतयोनौ सूर्ये ज्यातिषि जुहोमि स्वाहा ।।</p>
                        <p>(फिर दाहिने हाथ कि हथेली में जल लेकर नाक से सुंघकर नीचे लिखा मंत्र बोलकर बांयी
तरफ जल छोड़ देवे।)</p>
                        <p>ॐ द्रुपदादिव मुमुचानः स्विन्नः स्न्नातो मलादिव। पूतं पवित्रेणेवाज्यमापः शुन्धन्तु मेनस ।।</p>
                        <p>(उसके बाद अर्ध्य मे जल लेकर निचे लिखा मत्र बोलकर भगवान सूर्यनारायण को तीन बार
अर्घ्य देना है।)</p>
                        <p>ॐभूर्भुवः स्वः ॐ तत्सवितुर्वरेण्यं भर्गाे देवस्य धीमहि धियो यो नः प्रचोदयात् ।</p>
                        <p>ॐ ब्रह्म स्वरूपिणे भगवते श्रीसूर्याय नमः इदम् अर्घ्य दत्तं न मम ।।</p>
                        <p>(फिर दोनो हाथ उपर रखकर निचे लिखे मंत्र से सूर्याेपत्थान करना है।)</p>
                        <p>ॐ तत्वक्षुर्देवहितं पुरस्ताच्छुक्रमुच्चरत् ।</p>
                        <p>पश्चेम शरदः शतम् जीवेम शरदः शतम् श्रृणुयाम शरदः</p>
                        <p>शतम् प्रब्रवाम शरदः शतम्दीना स्याम शरदः</p>
                        <p>शतम् भूयश्च शरदः शतात ।।</p>
                        <p>(इसके बाद चित्त को स्थिर करके परमेश्वर का ध्यान धरकर 10 बार, या 28 बार अथवा 108
बार निचे लिखा हुआ गायत्री मंत्र का जाप करना है।)</p>
                        <p>ॐ भूर्भुवः स्वः ॐ तत्सवितुर्वरेण्यं भर्गाे देवस्य धीमहि धियो यो नः प्रचोदयात् ।</p>
                        <p>(गायत्री मंत्र-10, 28 या 108 बार)</p>
                        <p>अनेन यथा शक्ति गायत्री मंत्र जपकृतेन</p>
                        <p>भगवान नारायणः प्रियताम् ।। न मम ।।</p>
                        <p>(उसके बाद स्वयं के मंत्र के गोत्र का उच्चारण करना है)</p>
                        <p>अमुक गोत्रोत्पन्नोएहम, अमुक वर्माहं, भो परमेश्वर त्वाम् अभिवादये (दोनो कान को हाथ से
पकड़ कर दाये हाथ से बाया कान और बाये हाथ से दाया कान, नमस्कार करना है।)</p>
                        <p>फिर दोनो हाथ जोड़कर निम्नानुसार बोलकर संध्या की समाप्ति करनी है। (हाथ में जल
लेकर)</p>
                        <p>अनेन प्रातः सन्ध्योपासनाख्येन कर्मणा।</p>
                        <p>श्री भगवान परमेश्वर प्रीयतां न मम ।।</p>
                        <p>यस्य स्मृता च नामोकत्या तपोयज्ञाक्रियादिषु ।</p>
                        <p>न्यूनं संपूर्णता याति संध्या वन्दे तमुच्यतम् ।।</p>
                        <p>ॐ विष्णवे नमः ॐ विष्णवे नमः ॐ विष्णवे नमः</p>
                        <p>।। इति प्रातः संध्याप्रयोग ।।</p>
                    </section>
                    <h3 class="fw-bold align-self-end mt-3">संकलन-रमेशचंद्र पालीवाल भीलवाड़ा</h3>


                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
