{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  li, p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">ब्राह्मणो के सोलह संस्कार</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">


                    <section id="content_section">
                        <h1>ब्राह्मणो के सोलह संस्कार</h1>
                        <p>वैदिक संस्कृति में मानव जीवन के आरम्भ से अन्त तक कई संस्कारों को संपन्न करना
आवश्यक है। गुणों की वृद्धि एवं अवगुणों का नाश करने वाली सभी क्रियाओं को संस्कार
कहते हैं। संस्कारों से अंतःकरण शुद्ध होता है तथा शरीर दीर्घायु होता है। संस्कार वैदिक मंत्रों
के द्वारा निर्धारित समय पर संपन्न किये जाते हैं। संस्कारों का आधार पूर्णतः वैज्ञानिक है।
संस्कार शून्य मनुष्य शारीरिक एवं मानसिक दृष्टि से अपूर्ण तथा आचार-विचार विहीन है।</p>
                        <p>प्रारंभ में 48 संस्कार थे। कालांतर में इनकी संख्या सीमित की गई। वर्तमान में 16
संस्कार संपन्न करने का विधान है। इनमें से प्रथम आठ संस्कार प्रवृत्ति मार्ग तथा अंतिम आठ
संस्कार निवृत्ति मार्ग में सहायक हैं। इनकी संक्षिप्त जानकारी दी जा रही है।</p>
                        <ol>
                            <li>
                                <p><b>गर्भाधान संस्कार -</b>
ऋतुकाल आने पर विधिपूर्वक ऋतुदान के पश्चात् स्त्री गर्भाशय रूपी भूमि पर बीज
(शुक्र) से संबन्धित विकारों तथा गर्भ में होने वाले रोगों का विनाश करने के लिए गर्भाधान
संस्कार के मंत्र, विधि तथा प्रयोगादि वेद निर्दिष्ट है।</p>
                            </li>
                            <li>
                                <p><b>पुंसवन संस्कार -</b>
गर्भ स्थिति ज्ञान समय से दूसरे व तीसरे महीने में इच्छित संतान प्राप्ति हेतु वैदिक
मंत्रों द्वारा यह संस्कार संपन्न करने का विधान है।</p>
                            </li>
                            <li>
                                <p><b>सीमन्तोन्नयन संस्कार -</b>
गर्भिणी स्त्री का मन संतुष्ट, शरीर आरोग्य, गर्भ स्थिर होकर शिशु के निर्माण एवं
चेतनारूपी ओज की रक्षार्थ गर्भ से चौथे महीने में शुक्ल पक्ष में पुनर्वसु, पुष्य, अनुराधा, मूल
श्रवण, अश्विनी, मृगशिरा नक्षत्र हो उस दिन विधिपूर्वक सीमन्तोन्नयन संस्कार किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>जात-कर्म संस्कार -</b>
बालक के जन्म होते ही यह संस्कार संपन्न होता है। इससे शिशु के गर्भाम्बुपान जनित
समग्र दोषों का निवारण होता है। इसमें जातक के शरीर का जरायु पृथक कर मुख, कान,
आँख, नाक आदि के मल दूर करके नाड़ी छेदन करा गर्म जल से स्नान कराकर शिशु को
शुद्ध किया जाता है। तदन्तर स्वर्ण सलाखा से उसकी जीभ पर ष् ओइम्ष् अक्षर लिख दक्षिण
कान में श्वेदोसीतिश् (तेरा गुप्त नाम वेद है) कहकर घी, शहद मिश्रण की सलाखा से थोड़ा
चटाया जाता है। जात-कर्म संस्कार वैदिक मंत्रों से किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>नामकर्म संस्कार -</b>
जन्म के दस दिन पश्चात् निर्धारित समय पर जातक की आयु, ओज की अभिवृद्धि तथा
व्यवहार सिद्धि हेतु निर्दिष्ट मंत्र विधान द्वारा अपने परिजनों के सम्मुख नामकरण किया जाता
है। बालक का नाम समाक्षर व कन्या का नाम विषमाक्षर होता है।</p>
                            </li>
                            <li>
                                <p><b>निष्क्रमण संस्कार -</b>
बालक को समय, स्थान की उपयोगिता व शुद्ध वातावरण की स्थिति में भ्रमण हेतु
प्रथम बार घर से बाहर ले जाते हैं। सूतिका के द्वितीय व तृतीय स्नान के मध्य समय में
प्रकाशकीय वस्तुएँ सूर्य, चन्द्र, तारे, चांदी, सुवर्ण, अग्नि, जल आदि दिखाया जाता है। श्री वृद्धि
एवं दीर्घायु के लिए यह संस्कार किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>अन्नप्राशन संस्कार -</b>
प्राशित अन्न द्वारा तेज वृद्धि, बल वृद्धि एवं देहेन्द्रियों के विकास के लिए छठे मास
अथवा अन्न पचाने की क्षमता होने पर मंत्र एवं विधान के अनुसार यह संस्कार संपन्न किया
जाता है।</p>
                            </li>
                            <li>
                                <p><b>चूड़ाकर्म संस्कार -</b>
शिशु के गर्भ स्थिति समय के केशों का मुण्डन किया जाता है। यह (मुण्डन) संस्कार
पहले अथवा तीसरे वर्ष में उत्तरायण काल, शुक्ल पक्ष शुभवार-मुहूर्त में किया जाता है। इसके
लिए पुनर्वसु पुष्य, ज्येष्ठा, मृगशिरा, श्रवण, घनिष्ठा, हस्त, चित्रा, स्वाति, रेवती नक्षत्र उत्तम माने
गये हैं। मुण्डन संस्कार के लिए 1,7,8,9,13,14,15 व 30 तिथियां निषेध है।</p>
                                <p>मुण्डन संस्कार में गणपति पूजन, पंच भू संस्कार कर ब्रह्मा, आचार्य का पूजन करके
वरण किया जाता है। नौ आहूतियां एवं स्वीष्टकृत हवन करके केश को माखन, दही की मलाई
से जल सहित भिगोकर कंघी करके कैंची अथवा उस्तरे के साथ कुशा लेकर मुण्डन संस्कार
किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>कर्णवेध संस्कार -</b>
तीसरे या पांचवें वर्ष में बालक की रक्षा, शिक्षा तथा भूषा-भूषण हेतु कर्ण अथवा
नासिका वेध संस्कार सुश्रुत ज्ञानी सवैद्य के हाथों से कराया जाता है।</p>
                            </li>
                            <li>
                                <p><b>उपनयन संस्कार -</b>
भाषा, शिक्षा, विद्या और आचार श्रेष्ठता के लिए यह सर्वाधिक महत्वपूर्ण एवं विस्तृत
संस्कार है। आगे इसका विस्तार से वर्णन किया है।</p>
                            </li>
                            <li>
                                <p><b>वेदारम्भ संस्कार -</b>
बालक को स्वशाखा के अनुसार ज्ञान प्रदान तथा शिक्षित किया जाता है। ब्राह्मण
बालकों को वेदारम्भ संस्कार गायत्री मंत्र से लेकर वेदों का सांगोपांग अध्ययन का नियम लेना
होता है। इसका प्रारंभ उपनयन संस्कार के दिन से लेकर एक वर्ष के भीतर हो जाना चाहिये।
विद्या अध्ययन काल में ब्रह्मचर्य व्रत पालन की आज्ञा है।</p>
                            </li>
                            <li>
                                <p><b>केशान्त संस्कार -</b>
उपनयन के एक वर्ष बाद से जब-जब बाल बढ़ जाते हैं, तक विधि-विधान से यह
संस्कार किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>समावर्तन संस्कार -</b>
ब्रह्मचर्य व्रत की पालना, उत्तम शिक्षा और पदार्थ विज्ञान को पूरी तरह प्राप्त करने पर
विधिपूर्वक गृहस्थाश्रम में प्रवेश करने तथा समस्त सुखों एवं लाभों को प्राप्त करने के लिए यह
संस्कार किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>विवाह संस्कार -</b>
ब्रह्मचर्यावस्था के 25 वर्ष पूर्ण होने के बाद पुरुष अपने वर्णाश्रम के अनुकूल स्त्री की
आयु 18 वर्ष की होने पर धर्म बीज संस्कारों, यज्ञों आदि की सिद्धि तथा स्वर्ग प्राप्ति के निमित्त
यह विवाह संस्कार संपन्न करता है। हमारे यहाँ प्रचलित ब्रह्मविवाह पद्धति के अंगीभूत विवाह
से पूर्व वाग्दान संस्कार और विवाहोपरान्त चतुर्थीकर्म संस्कार भी विधि-विधानपूर्वक मंत्रों द्वारा
संपादित होते हैं। यह संस्कार विस्तृत, व्यापक एवं महत्वपूर्ण है। आगे बड़ा पालीवाल समाज
के वैवाहिक सोपान व रिवाज में इसका विस्तार से वर्णन किया गया है।</p>
                            </li>
                            <li>
                                <p><b>अग्नि परिग्रह संस्कार -</b>
विवाहित व्यक्ति सपत्नी अवस्था में गृहस्थाश्रम की श्रेष्ठताओं के लिये अग्न्याधन संस्कार
करता है। जिसमें अरणी मंथन द्वारा त्रिविध अग्नि स्थापित की जाती है तथा नित्य हवन किया
जाता है। अग्नि नष्ट हो जाने पर पुनः उसी प्रकार अग्नि मंथन कर इष्टि प्रकरण विधान से
स्थापित किया जाता है।</p>
                            </li>
                            <li>
                                <p><b>अंतिम संस्कार -</b>
मृत्यु अटल एवं शाश्वत शक्ति है। जो मनुष्य पैदा हुआ है उसका मरण भी सुनिश्चित
है। हिन्दु संस्कृति में मृत्यु को भी जीवन की पूर्णाहुति मानकर मृत्यु के बाद के भी
विधि-विधानों को अंतिम संस्कार के रूप में मान्यता प्रदान की गई है। जीवनोपरांत भी शव
दाह के लिये घर से अग्नि ले जाने का विधान प्रचलित है जिसे गार्हपत्य अग्नि कहते हैं।</p>
                            </li>
                        </ol>
                    </section>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
