{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">उपनयन संस्कार</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">


                    <section id="content_section">
                        <h1>उपनयन संस्कार</h1>
                        <p>उपनयन का अर्थ है ’पास या सन्निकट ले जाना।’ किसके पास ? ईश्वर और ज्ञान के
पास ले जाना। हिन्दु धर्म के सोलह संस्कारों में से दसवां संस्कार उपनयन संस्कार है। इसके
अंतर्गत जनेऊ धरण की जाती है, जिसे यज्ञोपवीत संस्कार भी कहते हैं। जनेऊ के कई
धार्मिक और वैज्ञानिक महत्व है।</p>
                        <p><b>कौन जनेऊ धारण कर सकता है-</b> हिन्दु धर्म में प्रत्येक हिन्दु का कर्तव्य है
कि वह जनेऊ धारण करे। वैदिक काल में स्त्रियों को भी जनेऊ धारण करने का
अधिकार होने के प्रमाण है परन्तु कालांतर में स्त्रियों द्वारा अपने जटिल दायित्वों के निर्वहन के
कारण जनेऊ का त्याग किया। इसके परिणामस्वरूप उनके हिस्से की जनेऊ भी पुरुषों ने
धारण की। इसी कारण से विवाहित पुरुष छः तार की जनेऊ धारण करता है, जिसमें तीन तार
अर्धागिनी के हिस्से के हैं।</p>
                        <p><b>जनेऊ क्या है ? - </b>बाएं कंधे से दाएं बाजू की ओर एक कच्चा धागा लपेटा जाता है।
                        इस धागे को जनेऊ कहते हैं। जनेऊ तीन धागों वाला एक सुत्र होता है। जनेऊ को संस्कृत
                        भाषा में यज्ञोपवीत कहा जाता है। यह धागा सूत से बना हुआ धारण करने की प्रथा है।</p>
                        <p><b>तीन सूत्र क्यों ? - </b>यज्ञोपवीत में मुख्य रूप से तीन धागे होते हैं। प्रथम यह तीन सूत्र
                        ब्रह्मा, विष्णु और महेश के प्रतीक है। द्वितीय यह तीन सूत्र देवऋण, पितृऋण और ऋषिऋण
                        के प्रतीक होते हैं। तृतीय यह सत्व, रज और तम का प्रतीक है।</p>
                        <p><b>नौ तार -</b> यज्ञोपवीत के एक-एक तार में तीन-तीन तार होते हैं। इस तरह कुल तारों
                        की संख्या नौ होती है। एक मुख दो नासिका, दो आंख, दो कान, मल और मूत्र के दो द्वारों
                        को मिलाकर कुल नौ होते हैं। यह हमें संदेश देती है - मुख से अच्छा बोलें और खाएं, आंखों
                        से अच्छा देखें और कानों से अच्छा सुनें।</p>
                        <p><b>पांच गांठ -</b> यज्ञोपवीत में पांच गांठ लगाई जाती है जो ब्रह्मा, धर्म, अर्थ, काम और
                        मोक्ष का प्रतीक है। यह पांच यज्ञों, पांच ज्ञानेन्द्रियों और पंचकर्माे का तथा पंच महाभूतों का
                        प्रतीक है।</p>
                        <p><b>जनेऊ की लंबाई -</b> यज्ञोपवीत की लंबाई 96 अंगुल होती है। इसका अभिप्राय यह है
                        कि जनेऊ धारण करने वाले को चौंसठ कलाओं और बत्तीस विद्याओं को सीखने का प्रयास
                        करना चाहिए। चार वेद, चार उपवेद, छः अंग, छः दर्शन, तीन सूत्र ग्रंथ, नौ अरण्यक मिलाकर
                        कुल बत्तीस विद्याएं होती है। चौंसठ कलाओं में जैसे-वास्तुनिर्माण, व्यंजन कला, चित्राकारी,
                        साहित्यकला, दस्तकारी, भाषा, यंत्र निर्माण, सिलाई, कढ़ाई, बुनाई, आभुषण निर्माण, कृषि ज्ञान
                        आदि आते हैं।</p>
                        <div>
                          <p><b>ऐसे करते हैं यज्ञोपवीत संस्कार - </b>यज्ञोपवीत संस्कार प्रारंभ करने से पूर्व प्राचीन काल
                        में बालक का मुंडन कराया जाता है लेकिन आजकल प्रथा के रूप में केवल सिर के कुछ बाल
                        काटकर ले लिए जाते हैं। उपनयन संस्कार के मुहूर्त के दिन लड़के को स्नान करवाकर
                        उसकी पीठी की जाती है तथा जनेऊ पहनाकर ब्रह्मचारिक बनाते हैं। इसके लिए बालक को
                        बगैर सिले हुए वस्त्र पहनकर, हाथ में दंड लेकर कोपीन पहनना होता है तथा पैरों में खड़ाउ
                        तथा मूझ से बनी मेखला धारण की जाती है। जनेऊ धारण करने के लिए यज्ञ/होम होता है,
                        जिसमें जनेऊ धारण करने वाला बालक अपने संपूर्ण परिवार के साथ भाग लेता है। यज्ञ द्वारा
                        संस्कार किए गए विशिष्ट सूत्र को विशेष विधि से ग्रंथित करके बनाया जाता है। तीन सूत्र
                        वाले इस यज्ञोपवीत को गुरु दीक्षा के बाद हमेशा धारण किया जाता है। अपवित्र होने पर
                        यज्ञोपवीत बदल लिया जाता है।</p>
                          <div class="ms-5">
                              <p><b>यज्ञोपवीत धारण करने का मंत्र -</b></p>
                              <p>यज्ञोपवीतं परमं पवित्रां प्रजापतेर्यत्सहजं पुरस्तात् ।</p>
                              <p>आयुष्मग्रं प्रतिमुंज शुभ्रं यज्ञोपवीतं बलमस्तुतेः ।।</p>
                          </div>
                          <p>यज्ञोपवीत संस्कार में यज्ञ होने के पश्चात् वह बालक उपस्थित लोगों से भिक्षा मांगता
                        है तथा दंड को साथ कंधे पर रखकर घर से भागता है और कहता है कि मैं पढ़ने के लिए
                        काशी जाता हूँ, जिसे ननिहाल पक्ष के लोगों द्वारा पकड़कर लाने की प्रथा है। तत्पश्चात् वह
                        बालक ब्राह्मण मान लिया जाता है।</p>
                        </div>
                        <p><b>जनेऊ कब पहनाई जाए ? -</b> जन्म से आठवें वर्ष में बालक का उपनयन संस्कार किया
                        जाने का प्रचलन पहले था। उपनयन के बाद ही विद्या प्रारंभहोती थी लेकिन आजकल गुरु
                        परंपरा के समाप्त होने के बाद अधिकतर लोग यज्ञोपवीत धारण नहीं करते हैं तो उनको भी
                        विवाह से पूर्व यज्ञोपवीत धारण करवाई जाती है।</p>
                        <p><b>जनेऊ का धार्मिक महत्त्व -</b> यज्ञोपवीत को व्रतबंधन कहते हैं। व्रतों से बंधे बिना मनुष्य
                        का उत्थान संभव नहीं है। यज्ञोपवीत को व्रतशीलता का प्रतीक मानते हैं। इसलिए इसे सूत्र
                        भी कहा है। धर्मशास्त्रों में यम नियम को व्रत माना गया है। बालक की आयु वृद्धि हेतु वेदपाठ
                        का अधिकारी बनने के लिए उपनयन संस्कार अत्यंत आवश्यक है। धार्मिक दृष्टि से माना
                        जाता है कि जनेऊ धारण करने से शरीर शुद्ध और पवित्र होता है। शास्त्रों के अनुसार
                        आदित्य, वसु, रुद्र, वायु, अग्नि, धर्म, वेद, आप, सोम एवं सूर्य आदि देवताओं का निवास दाएं
                        कान में माना गया है अतः उसे दाएं हाथ से सिर्फ स्पर्श करने पर भी आचमन का फल प्राप्त
                        होता है। आचमन अर्थात् मंदिर आदि में जाने से पूर्व या पूजा करने से पूर्व जल से पवित्र होने
                        की क्रिया को आचमन कहते हैं।</p>
                        <p><b>द्विज -</b> स्वार्थ की संकीर्णता से निकलकर परमार्थ की महानता में प्रवेश करने को,
                        पशुता को त्यागकर मनुष्यता ग्रहण करने को दूसरा जन्म कहते हैं। शरीर जन्म माता-पिता के
                        रजवीर्य से वैसे ही होता है, जैसा अन्य जीवों का। आदर्शवादी जीवन लक्ष्य अपना लेने की
                        प्रतिज्ञा करना ही वास्तविक मनुष्य जन्म में प्रवेश करना है। इसी को द्विजत्व कहते हैं। द्विजत्व
                        का अर्थ है-दूसरा जन्म ।</p>
                        <p><b>वैज्ञानिक महत्त्व -</b> वैज्ञानिक दृष्टि से यज्ञोपवीत पहनना बहुत ही लाभदायक है। यह
                        केवल धर्माज्ञा ही नहीं, बल्कि आरोग्य का पोषक भी है। अतः इसको सदैव धारण करना
                        चाहिए।</p>
                        <p>- वैद्यों के अनुसार यह जनेऊ के हृदय के पास से गुजरने से यह हृदयरोग की
                        संभावना को कम करता है क्योंकि इससे रक्त संचार सुचारू रूप से संचालित होने लगता है।</p>
                        <p>- जनेऊ पहनने वाला व्यक्ति नियमों में बंधा होता है। वह मल विसर्जन के पश्चात्
                        अपने जनेऊ उतार नहीं सकता, जब तक वह हाथ-पैर धोकर कुल्ला न कर ले। अतः वे
                        अच्छी तरह से अपनी सफाई करके ही जनेऊ कान से उतारता है। यह सफाई उसे दांत, मुंह,
                        पेट, कृमि, जीवाणुओं के रोगों से बचाती है। मल-मूत्र विसर्जन के पूर्व जनेऊ को कानों पर
                        कसकर दो बार लपेटना होता है। इससे कान के पीछे की दो नसें जिनका संबंध पेट की
                        आंतों से होता है। आंतों पर दबाव डालकर उनको पूरा खोल देती है, जिससे मल विसर्जन
                        आसानी से हो जाता है तथा कान के पास ही एक नस से मल-मूत्र विसर्जन के समय कुछ
                        द्रव्य विसर्जित होता है, जनेऊ उसके वेग को रोक देती है। जिससे कब्ज, एसीडिटी, पेटरोग,
                        मूत्रनली रोग, रक्तचाप, हृदय के रोगों सहित अन्य संक्रामक रोग नहीं होते हैं। कान में जनेऊ
                        लपेटने से मनुष्य में सूर्य नाड़ी का जागरण होता है। माना जाता है कि शरीर के पृष्ठभाग में
                        पीठ पर जाने वाली प्राकृतिक रेखा है, जो विद्युत प्रवाह की तरह काम करती है। यह रेखा
                        दाएं कंधे से लेकर कमर तक स्थित है। जनेऊ धारण करने से विद्युत प्रवाह नियंत्रित रहता
                        है। जिससे काम, क्रोध पर नियंत्रण रखने में आसानी होती है। अतः उपनयन संस्कार एक
                        दिव्य संस्कार है। इसके द्वारा मानव को नया जन्म मिलता है। यह उसका संस्कार जन्म है।
                        ’जन्मना जायते शूद्राः संस्कारात् द्विज उच्यते।’ उपनयन संस्कार अर्थात् तेजस्वी जीवन की
                        दीक्षा। यज्ञोपवीत देते समय बालक को लंगोटी पहनाते हैं। लंगोटी बांधने का तात्पर्य है
                        विषय-वासना पर काबु रखना। यज्ञोपवीत दैनिक जीवन धारणा का प्रतीक है। यज्ञोपवीत के
                        नौ तंतु होते हैं। प्रत्येक तंतु पर अलग-अलग नौ देवताओं की स्थापना की हुई होती है।</p>
                        <div class="ms-5">
                          <p>ॐकारं प्रथमतन्तौन्यसामि । अग्निं द्वितीयतन्तौन्यसामि ।</p>
                          <p>नागान् तृतीयन्तौन्यसामि । सोमं चतुर्थतन्तौन्यसामि ।</p>
                          <p>पितृन पंचमतन्तौन्यासामि । प्रजापतिं षष्ठमतन्तौन्यसामि।</p>
                          <p>वायुं सप्तमतन्तौन्यसामि। यमं अष्टमतन्तौन्यसामि।</p>
                          <p>विश्वान् देवान् नवमतन्तौन्यसामि ।</p>
                        </div>
                        <p>पहले तंतु पर ॐकार, दूसरे पर अग्नि, तीसरे पर नाग, चौथे पर सोम और अनुक्रम में
                        पितृ, प्रजापति, वायु, यम और विश्व देवता। इस तरह इन देवों का आह्वान करके उनकी
                        स्थापना की जाती है।</p>
                        <p>यज्ञोपवीत नौ तंतुओं को तीन-तीन में गूंथकर त्रिसूत्रीय बनाई जाती है और इन सूत्रों
                        पर अनुक्रम में ऋग्वेद, यजुर्वेद और सामवेद की स्थापना की जाती है। इसके बाद जो गांठ
                        लगाई जाती है, उसे ब्रह्मगांठ कही जाती है। वहां अथर्ववेद की स्थापना की जाती है। इस
                        प्रकार जो व्यक्ति जनेऊ धारण करता है, सदैव समस्त देवगण उसके साथ रहते हैं, जो उसे
                        किसी भी परिस्थिति में सहायता करते हैं, ऐसा माना जाता है। अतः युवाओं से आग्रह है कि वे
                        सदैव जनेऊ धारण करें। यदि आज के परिप्रेक्ष्य में समस्त यम नियमों का पालन भी नहीं कर
                        पाते है तो भी उनसे आग्रह है कि वे कम से कम यज्ञोपवीत सदैव धारण करके रखें।</p>
                        <p>यज्ञोपवीत उसके साथ सदैव एक परब्रह्म शक्ति के साथ होने का अहसास दिलाती है,
                        जिससे ना केवल विपरीत परिस्थितियों में बल्कि किसी भी परिस्थिति में उसका मनोवैज्ञानिक
                        रूप से आत्मबल भी बढ़ाती है। यज्ञोपवीत धारण करने वाले को किसी भी प्रकार के
                        प्रेत-पिशाच इत्यादि से अनिष्ट की आशंका भी नहीं के बराबर हो जाती है।</p>
                    </section>
                    <h3 class="fw-bold align-self-end mt-3">संकलन-रमेशचंद्र पालीवाल भीलवाड़ा</h3>

                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
