{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p,li{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">मेवाड़ पालीवाल समाज के तीर्थ पुरोहित</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">
                    <section id="content_section">
                        <h1>मेवाड़ पालीवाल समाज के तीर्थ पुरोहित</h1>
                        <p>सदियों से प्रत्येक तीर्थ स्थल पर समाज/क्षेत्र के अनुसार तीर्थ पुरोहित रहते हैं जो
संबंधित समाज/क्षेत्र के लोगों के उन तीर्थ स्थलों पर पहुंचने पर तीर्थ से संबंधित क्रिया
विधान/तर्पण इत्यादि संपन्न कराते हैं तथा तीर्थ यात्रियों का एवं उनके परिवारों का विवरण
भी अपनी पुस्तकों में लिखते हैं। हैं। अतः इस पुस्तिका में सभी समाजजनों की जानकारी हेतु
तीर्थ पुरोहितों का विवरण दिया जा रहा है जिससे समाजजनों को तीर्थ स्थल पर अपने समाज
के तीर्थ पुरोहितों से संपर्क करने में सुविधा रहे।</p>
                        <ol>
                            <li>
                                <p>हरिद्वार:- पं. बाबुराम जी तुम्बड़िया, पं. सुभाषचन्द्र जी तुम्बड़िया, पता- तुम्बड़िया भवन,
अपर रोड़, पंजाब नेशनल बैंक के पास, हरिद्वार - 249401 (उत्तराखंड), मो.रू
092594-57996,093190-51551.</p>
                            </li>
                            <li>
                                <p>बद्रीनाथ:- पं. सूर्यनारायण मेवाड़ राजगुरु (भट्टजी), मई से
नवंबर तक बद्रीनाथ धाम, नवंबर से अप्रैल तक बद्रीश विहार, मियांवाला देहरादून (उत्तराखंड),
मो. 094129-48463, 098272-06075, 094124-37244, 096606-96604.,</p>
                            </li>
                            <li>
                                <p>केदारनाथ:- पं. अनिलजी भतीजा पं. स्व.श्री मणिशंकरजी वाजपेयी, मो.रू 098974-49771.</p>
                            </li>
                            <li>
                                <p>जगन्नाथपुरी रू- पं. श्यामसुंदर गोपीनाथजी, 72984,098613-06313.
मो. 098614-</p>
                            </li>
                            <li>
                                <p>गयाजी:- पं. दामोदरजी गोस्वामी, मो.रू 099390-08473,099390-08473.</p>
                            </li>
                            <li>
                                <p>द्वारिकापुरी रू- पं. हेमांगभाई जोशी, मो. 090992-90578.</p>
                            </li>
                            <li>
                                <p>सोरों शूकर क्षेत्रा (श्री गंगाजी सोरोंजी घाट के गंगागुरु) रू-पं. विनोदकुमार छोटेलाल भूदेव
वशिष्ठ के पुत्र कौशल, कमल, अभय, पता-अंदर दहलान 24 सीढ़ी लाल घाट के ऊपर,
तुलसी जन्मभूमि, सोरों शूकर क्षेत्र, जिला-कांशीरामनगर (उ.प्र.), मो.
094104-00174,099176-55898.</p>
                            </li>
                        </ol>
                    </section>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
