{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p, li{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">बड़ा पालीवाल समाज के विवाह कार्यक्रम</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">

                    <section id="content_section">
                        <h1 class="mb-5">बड़ा पालीवाल समाज के विवाह कार्यक्रम</h1>
                        <ol>
                            <li>
                                <p><b>गणपति स्थापना</b></p>
                                <p>गणेशजी लाना साथ में निम्न 5 सामग्री भी लाना- 1. गणेशजी का पाठा, 2. मूंग, 3. लच्छा,
4. हल्दी की गांठ, 5. कंकू ।</p>
                                <p><b>सामग्री - </b> गणेशजी लाने हेतु निम्न सामग्री साथ में ले जाना है -1. मालीपन्ना, सिंदूर, पुष्प,
घृत, दीपक, अगरबत्ती, लाल कपड़ा, चावल, जलपात्र, प्रसाद, निमंत्रण पत्र। पीठी, पापड़,
ताकला, कलश स्थापना, पिंडियां, पंडितजी की सामग्री, आरती की थाली एवं नेवैद्य ।</p>
                            </li>
                            <li>
                                <p><b>मूंग हाथ लेना (छोटा विनायक)</b></p>
                                <p>दो-दो औरतों द्वारा सूपड़ से सामग्री - दो सूपड़े (छाजला), मूंग, गुड़ की डली, पैसा और
सुपारी ।</p>
                            </li>
                            <li>
                                <p><b>भैरू पूजन</b></p>
                                <p>घर के भैरूजी के लिए एवं मामा भैरूजी के लिए -
सामग्री - घूघरी, बाकला, चंदकिया 1.25 कि.ग्रा. प्रत्येक बनाकड़े के लिए, सिंदूर, मालीपन्ना,
पुष्प, दीपक, अगरबत्ती, लच्छा, चावल, जलपात्र, नारीयल।</p>
                            </li>
                            <li>
                                <p><b>माताजी पूजन</b></p>
                                <p>एक दिन पूर्व माताजी कंकू, अक्षत से पूजा करके लाना एवं रात्रि जागरण करना एवं नेवैद्य
बनाना (लापसी, चावल, घाट)</p>
                                <p><b>सामग्री - </b>माताजी पूजने जाने हेतु लाल कपड़ा, मेहंदी, पैसा, सुपारी, सिगड़ी, साड़ी, लच्छा,
अगरबत्ती, दीपक एवं ठंडा नेवैद्य एवं लाये हुए माताजी को पुनः पधराना।</p>
                            </li>
                            <li>
                                <p><b>बड़ा विनायक</b></p>
                                <p>बड़ा विनायक स्थापना एवं महारात्रि - </p>
                                <p><b>सामग्री - </b>पीठी, पापड़, ताकला, पिंडियां, पंडितजी की सामग्री, आरती की थाली।</p>
                            </li>
                            <li>
                                <p><b>कलश चाक पूजन</b></p>
                                <p>घर/गांव के कुम्हार के यहां से कलश लाकर स्थापना करना। जब स्त्रियां कलश लेकर घर
आए तो उनकी पूजा कर घर के जंवाई से उतरवाकर कलश को गणपतिजी के पाठे के समक्ष
स्थापित करें।</p>
                                <p><b>सामग्री - </b>2 बड़े कलश, 4 मटकियां, 2 बिजौरा, 4 मंडप की मटकियां, बिजौरा सहित, 1
वरबेवड़ा एवं लकड़ी की शादी हेतु । चोरीसेट, पूजा की थाली।</p>
                            </li>
                            <li>
                                <p><b>मंडप एवं थम्ब</b></p>
                                <p>मंडप एवं थम्ब घर के जंवाई द्वारा द्वार पर लेकर आना तथा विधिवत पूजा कर पुनः घर में
लायें तथा घर के जंवाईगणों द्वारा उपर्युक्त स्थल पर थम्ब की स्थापना करावें।</p>
                                <p><b>सामग्री - </b>मंडप लाना जिसमें 8 बांस, आसापाल केल अथवा आम के पत्ते, थम्ब लाना, पूजा
की थाली जिसमें धूसल, मूसल, आटे का दीपक, कपास्या की आरती, बांदरवाल पूजन सामग्री
एवं मालाएं।</p>
                            </li>
                            <li>
                                <p><b>रोड़ी पूजन</b></p>
                                <p>गृह शांति के पहले</p>
                                <p><b>सामग्री - </b>पूजा की थाली</p>
                            </li>
                            <li>
                                <p><b>गृह शांति</b></p>
                                <p>हमारे समाज में वर एवं वधु दोनों के ही घर पर गृह शांति हेतु हवन कराने की परंपरा है।
वधु पक्ष के यहां प्रायः गृह शांति बारात आगमन के दिन ही होती है तथा वर पक्ष के यहां गृह
शांति होने के बाद ही बारात प्रस्थान होती है।</p>
                                <p><b>सामग्री - </b>पंडितजी का सामान ।</p>
                            </li>
                            <li>
                                <p><b>जनेऊ</b></p>
                                <p>वर का पहले उपनयन संस्कार नहीं हुआ है तो इस समय उसका उपनयन संस्कार कर 3 तार
की जनेऊ पहनाई जाती है। यदि वधु पक्ष में वधु के भाई इत्यादि बंधु-बांधव का उपनयन
संस्कार करना चाहें तो वह भी यहां उपनयन संस्कार संपन्न करा सकते हैं। उपनयन संस्कार
के समय परंपरा के अनुसार जनेऊ ग्रहण करने वाले के ननिहाल पक्ष द्वारा उसके लिए भेंट,
कपड़े इत्यादि लाये जाते हैं तथा अध्ययन हेतु काशी जाने के प्रतीक स्वरूप जनेऊ धारण
करने वाले का भागना और उसे ननिहाल पक्ष द्वारा पकड़कर लाने की परंपरा है।
सामग्री - भिक्षा हेतु खाजा, लड्डू, टोपला एवं पंडितजी का सामान ।</p>
                            </li>
                            <li>
                                <p><b>वर निकासी</b></p>
                                <p>लड़के की शादी में बारात प्रस्थान से पहले गाजे-बाजे के साथ वर निकासी की जाती है। वर
निकासी के उपरांत वर का बिना वधु के गृह प्रवेश वर्जित रहता है।</p>
                                <p><b>सामग्री -</b> बैंड व घोड़ी की पूजा हेतु लच्छा, मेहंदी, कंकू, काजल, चने की दाल।</p>
                            </li>
                            <li>
                                <p>बारात प्रस्थान</p>
                                <p>वर निकासी के बाद बारात प्रस्थान होती है। बारात में पडले की पेटी साथ ले जाई जाती है।</p>
                                <p><b>सामग्री - </b>बींद कोथली, चोल 2.5 मीटर, चूंदड़ 2, वेष 2, चांदी के गहने-5, अन्य गहने,
खुडिया-8, सिक्का, पंचमेवा, पतासिया, कुवारा की साड़ी, कंकू, कत्था, मेहंदीपाला, स्प्रे, दूल्हे
की धोती, सोंफ-सुपारी, थापा का कपड़ा, लगन, मोड़-2, दुल्हन के जूते, जवेरी, मेकअप सेट,
आरती की थाली आदि।</p>
                            </li>
                            <li>
                                <p><b>बारात स्वागत</b></p>
                                <p>लड़की की शादी में</p>
                                <p><b>सामग्री - </b>बारात के ठहरने की व्यवस्था करना। चूंकि हमारे समाज में विवाह में कई
रीति-रिवाज होते हैं, जिनको ध्यान में रखते हुए घर के पास ही अलग से एक कमरा दूल्हे के
लिए आरक्षित रखना चाहिए, जिसमें दूल्हे के लिए एक पलंग की व्यवस्था हो, साथ ही
बारातियों के ठहरने के लिए उचित व्यवस्था हो।</p>
                            </li>
                            <li>
                                <p><b>मिलनी करना</b></p>
                                <p>वर-वधु पक्ष द्वारा गांव/शहर के सार्वजनिक स्थल पर गले मिलकर स्वागत करने की परंपरा
रही है।</p>
                                <p><b>सामग्री - </b>ताला-चाबी, कांच, दूध, कांसे के कटोरे में, पुष्प, वरमालाएँ।</p>
                            </li>
                            <li>
                                <p><b>दुल्हा पूकना</b></p>
                                <p>मिलनी के बाद परंपरानुसार वधु पक्ष की चार स्त्रियों द्वारा दूल्हा पूकने की रीति निभाई जाती
है। पूकने के बाद वरबेवड़ा वरपक्ष को दे दिया जाता है, जिसे वर तोरण पर आते वक्त साथ
लेकर आता है।</p>
                                <p><b>सामग्री - </b>बाजोट, दीपक, वरबेवड़ा, कलश, आरती की थाली।</p>
                            </li>

                            <li>
                                <p><b>लगन दोगुना करना</b></p>
                                <p>ब्याईजी को बुलाकर लगन दोगुना करना।</p>
                            </li>

                            <li>
                                <p><b>पडला पूकना</b></p>
                                <p>वर वक्ष द्वारा वधु के लिए पडला लाया जाता है, जिसे मुख्य द्वार पर पंडितजी द्वारा पडले की
पूजा कराई जाती है। तत्पश्चात् पडला मंडप के नीचे ले जाया जाकर वधु को बुलाकर वधु के
स्वसुर द्वारा वधु को लक्ष्मी के रूप में पूजित कर पडला समर्पित किया जाता है। वधु द्वारा
पडले में लाये गये वेष को धारण कर पुनः मंडप में आती है, जिस पर वर पक्ष द्वारा पडले के
अन्य सामान उसकी गोद में धराये जाते हैं।</p>
                            </li>

                            <li>
                                <p><b>नमडोला ले जाना</b></p>
                                <p>दुल्हन की पीटी करने के उपरांत ड्रेस, चूड़ा दोवड़े सहित पहनाना तथा बाद में दूल्हे के
जानिवासे में जाकर वधुपक्ष की चार स्त्रियों द्वारा दुल्हे की पीटी कर स्नान कराती है तत्पश्चात्
वहु का पिता वर को विवाह के वस्त्र धोती और अंतरवासा जनेऊ पहनाता है। वधु पक्ष की
स्त्रियों द्वारा साथ में पीठी, तेल-ताकड़ा एवं पापड़ लेकर जाती है। स्नान के बाद वधु के पिता
वर को मुंह में पतासी देकर रूपया नारियल देकर बाजोट से उतारता है। इस रीति में वर एवं
वधु द्वारा केवल नवीन वस्त्र धारण करने का ही रिवाज है तथा इसके बाद वर एवं वधु का
कहीं भी अन्यत्र जाना, यहां तक कि लघुशंका भी वर्जित मानी गई है। वर के लिए वधु पक्ष
द्वारा विवाह हेतु कपड़े लाने का रिवाज है, जिसमें हमारे बड़ा पालीवाल समाज में धोती पहनने
की ही परंपरा रही है। विवाह में शुद्धता एवं शुचिता बड़ा पालीवाल समाज की विशेषता रही
है।</p>
                            </li>

                            <li>
                                <p><b>तोरण</b></p>
                                <p>नमडोला के बाद वर का सीधे फेरों में जाने का ही रिवाज है। पुरातन समय में वर के साथ
केवल जंवाई एवं नाई का ही फेरों में जाने का चलन था। जंवाई अपने साथ वरबेवड़ा लेकर
वर के साथ जाता है। हमारे समाज में तोरण की पूजा की जाती है, मारा नहीं जाता। इसके
लिए वधु पक्ष के घर पर मुख्य द्वार पर तोरण लटकाया जाता है। वर द्वारा तोरण की वंदाई
के बाद वधु पक्ष द्वारा दूल्हे को पूंका जाता है।</p>
                                <p><b>सामग्री - </b>तोरण, पंडितजी की सामग्री, आरती की थाली।</p>
                            </li>

                            <li>
                                <p><b>पाणिग्रहण</b></p>
                                <p>तोरण के पश्चात् वधु की माता द्वारा वर के गले में अपना पल्लु डालकर उसे मंडप तक ले
जाया जाता है, जहां सर्वप्रथम वधु पक्ष द्वारा दूल्हे का पूजन किया जाता है तत्पश्चात् अग्नि के
समक्ष सप्तपदीय पद्धति के अनुसार पाणिग्रहण संस्कार पूर्ण किया जाता है।</p>
                                <p><b>सामग्री सामग्री - </b>कन्यादान सामग्री, सूपड़ा, बाजोट, थाली, पंडितजी की
इसी दिन वधु पक्ष द्वारा यथा योग्य बारातियों व अतिथियों को भोजन कराया जाता है।
विवाह के पश्चात् वर-वधु जानिवासे पर जाते हैं, जहां पर वर पक्ष द्वारा दुल्हन की खोल
भराई की रस्म अदा की जाती है।</p>
                                <p><b>सामग्री - </b>चार खुड़िया, सिक्के, पंचमेवा, पतासे एवं बधाई वितरण।
तत्पश्चात् घोर पूजा की जाती है। घोर पूजा एवं देवी-देवताओं को नमस्कार किया जाता है।</p>
                            </li>

                            <li>
                                <p><b>चूड़ा पहनाई</b></p>
                                <p>विवाह के पश्चात् वधु को लाल रंग का चूड़ा पहनाया जाता है। वधु द्वारा यह चूड़ा वर्षभर
तक अपने हाथों में कोहनी से ऊपर पहना जाता है। इसके अलावा चावल जिमाई एवं
मनोरंजन के लिए जुआ वर-वधु को जुआ खेलाने की भी परंपरा है।</p>
                                <p>इसके पश्चात् जानिवासे में दुल्हन की पुनः खोल भराई की जाती है तथा वधुपक्ष के
देवी-देवताओं को धोक लगाने उपरांत बारात की विदाई की जाती है। विदाई से पूर्व वर-वधु
के द्वारा दोनों पक्षों को कंकू के थापे लगाने की परंपरा है।</p>
                                <p>विदाई से पूर्व मंडप विसर्जन हेतु आवश्यक परंपराएं भी निभाई जाती है, जिसमें वर
द्वारा मंडप विजर्सन के प्रतीक स्वरूप मंडप के ऊपर से बांस की एक छड़ी उतारी जाती हैं
तथा मंडप में वर-वधु द्वारा बेवड़े जमाने व उतारने की भी प्रथा है।</p>
                                <p>उपरोक्त परंपराओं के बाद बारात वधु सहित पुनः वर के घर पर आ जाती है, जिन्हें
अच्छा मुहूर्त देखकर परंपरानुसार घर के अंदर वंदाया जाता है। इस उपलक्ष पर सुहाग थाल
बनाने की परंपरा रही है जिसमें वर-वधु दोनों को वर पक्ष के संबंधियों द्वारा भोजन कराने की
परंपरा है।</p>
                            </li>

                            <li>
                                <p><b>सुहाग थाल</b></p>
                                <p><b>सामग्री - </b>लपसी, मूंग, चावल, आटे की सेव आदि बनाना।
लपसी, मूंग, चावल, आटे की सेव आदि बनाना।</p>
                                <p>अंत में वर के घर के मंडप के नीचे जुआ खेलना, चूड़ी दोवड़ा खोलना एवं गणपतिजी
के समक्ष खोले बिठाई की रस्म की जाती है। जब वधु घर में प्रवेश करती है तो उसके
पगलिये कराने की प्रथा है। इन सब विवाह की परंपराओं के पश्चात् उपयुक्त मुहूर्त में वरपक्ष
के मंडप का भी विसर्जन किया जाता है।</p>
                            </li>
                        </ol>
                    </section>
                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
