
{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">विवाह गीत</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">

          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">

                  <div class="d-flex flex-column">
                    <div id="geet_content">
                    <div>
                      <h1>पीटी का गीत</h1>
                      <p>लीली पीटी चड़कूले कुणी जी री नगरी ढोल धडूकिया कुणी जीरा आंगन कुंवरा परणसी राणी राई जीरा नगरी ढोल धडूकिया दादा सा रा आंगण कुंवारा जी।</p>
                    </div>
                    <div>
                      <h1>नमणो लो लाड़ा</h1>
                      <p>नमणो लो नमणो लो लाड़ा नमणो लो, थाणे पाटूला हेटे गंगा वये नमड़ो ले आग्रत जी
                    पदारिया जी, राणी राना दे ओ लाया से कलश भरे नमड़ो ले चन्द्रमा जी पदारिया जी, राणी
                    रोयण दे ओ लाया से कलश भरे नमड़ो ले ब्रमाजी पदारिया जी राणी सावरत दे ओ लाया से
                    कलश भरे नमड़ो ले ईश्वर जी पदारिया जी राणी गोरा दे ओ लाया से कलश भरे नमड़ो ले
                    गजानन्द जी पदारिया जी राणी रिद्धि-सिद्धि दे ओ लाया से कलश भरे नमड़ो ले संगला
                    जमाई लापर आविया जी कुंवर संगली बेन्या लाया से कलश भरे</p>
                    </div>

                    <div>
                      <h1>बारे मादल</h1>
                      <p>बारे मादल रस भरिया, पांची वाजा वाजीया गोत्रजारा मंड में जालर रो जणकार यो घरे
                      कुंभ कलश री वेलड़ी सोवे ठाकुर संगला भाया रे बारणे, संगला भाई ठाकुर वऊ फल्या वऊ
                      लाड़ा लाड़ीयाओ संगली बेन्या वायणो ले आवसी, वऊ ने दीज्यो माता ड़ीकरा धीयड़ल्या रा
                      अखण्ड ऐवात, यो घरे फलजो आबूला री डाल सूं वद जो कड़वा नीम सूं, पसर जो हरिया
                      धोब सूं</p>
                    </div>

                    <div>
                      <h1>गणेश जी</h1>
                      <p>गढ़ रणत भमर सू पदारो, विनायक करो लाखिणी वरदड़ी एक गुगलरी गन्द आई
                      विनायक, कुण सपूती गणपत नूतिया। एक नूत्या ओ लाड़-लड़ी रा दादासा रे घरे जणी घरे
                      वरद रूलावणी। एक पेलो जो वासो कांकड वसिया, कांकड खूरिया जुकाविया। एक दूजो जो
                      वासो सरवर वसिया, सरवर भरयो रे हिलोवणा। एक भरीयो रे गंगाजल ले रे हिलोला, चकवा
                      चकवी केल करे। एक अगण्यों जो वासो वागा ओ वसिया, वागा ओ छाई रूड़ी वेल। एक
                      फूलवाड़ी ने वेल पसरी अवल सू सुगन्दी केवड़ो, एक चौथो जो वासो चोरे ओ वसियों पणियारी
                      कलश वदाविया। एक पांचमों जो वासो चोरे ओ वसिया, चोरासी चंवर ढूलावण। एक छटो जो
                      वासे तोरण वसिया, तोरण छाई रूड़ी चड़कली। चड़कली रे मुर्दसी सी बोली, सोरटड़ा रूड़ी
                      आमणा। एक सातमो जो वासो मंडप वसिया मंडप लाड़ा लाड़ी परणसा। एक मल्या जो साजन
                      गणपत प्यारा, रूप दरसण आविया। एक आठमो जो वासो माया ओ वसिया, माया ओ मंगल
                      गाविया, एक नमो जो वासो रसोड़े ओ वसिया, रसोड़े ओ पंचदारी लापसी एक दसमो जो वासो
                      भीतर लछमी अक्चरे, एक योरे विनायक वस्त्र नी पेरे, पीला पीताम्बर री हर करे एक योरे
                      विनायक लापसी नी जीमे, खाजा लाडू री हर करे एक योरे विनायक पाला नी चाले, अलल
                      बछेरी री हर करे, एक योरे विनायक धरती नी पोड़े, फुला छाई सेजा री हर करे, एक गीरत
                      गडूल्यो वदावो विनायक तेल वदणो सीदड़ा, एक रखो जो वदजो बोरीयां ओ बोरीयां, चून
                      वदजो मोकलो, एक चावल चगेड़ी वदावो विनायक हरिया ओ मूंग मडोवरा, एक गोल वदजो
                      भेल्या ओ भेल्या, खाण्ड वदजो मोकलो एक पापड़ वदजो जेटा ओ जेटा, वड़ी ओ वदजो
                      मोकलो,</p>
                      <p>एक वदजो ओ लाड़ी चीर तुमारो, राइवर रो सेवरो, एक वदजो ओख गोत तुमारो, एक
                      पीयर दूजो सासरो, एक मोकले मन रवरचो, दादासा रे पूटे गणपत वसरिया, एक कोतली जस
                      दो, विनायक लाड़ला रा दादासा ने, एक बायड़ली बल दो विनायक लाड़ला रा वीरासा ने, एक
                      जीबड़ली जस दो विनायक लाड़ला रा माताजी ने, एक आरती जस दो विनायक, लाड़ला रा
                      भुवासा ने, एक मायरो जस दो विनायक लाड़ला रा मामासा ने ।</p>
                    </div>

                    <div>
                      <h1>घोड़ी</h1>
                      <p>मे तो आज मे तो आज बयन अचरज देख्या जारे बारा ओ भोला कशन रा ये पाठूले
                    बेसाणो जारी हरकी ओ माय देवकी बेन, बेन सोद्रा बाई हरकेने वी बोल्या, वीरा लेस्या ओ
                    ऐसण घोड़ी बेसन घोड़ी गले खुंग वाली हर दो जन्ती जोटी घोड़ी देस्या ओ ऐसण घोड़ी
                    बेसन घोड़ी गले खुंग वाली हर दो जन्ती जोटी घोड़ी बांधे ओ सोवन थम्ब मयल दरवार जी
                    हुरिया खुरिया गुन्दे घोड़ी छुटी ओ शेर बजार चोवटड़ा रे बार कोई हाल करो ललकार करो
                    अणी तेजन ने समझावो समझावो ओ वसुदेव जीरा लाल बयन रा वीर जी आणी लेने आया।</p>
                    </div>

                    <div>
                      <h1>सेवरो</h1>
                      <p>आवलड़ो जर जावरो जी, जणी राई लाम्बा तीखा पान के गूंधो ओ मालण सेवरो जी,
                    सेवरड़ो नी बांधे ओ राईवर हर करे जी, कोई माने लंका गढ़ ले जाय सतवन्ती ओ सीता मेलवे
                    जी, वी थाने लंका गढ़ ले जाय, दशरथ सरिका बाप लछमण जी सरिका वीर, बल भद्र जी
                    सरिका काका हनुमान जी सरिका अगवाणी जी, वी थाने लंका गढ़ ले जाय सतवन्ती ओ सीता
                    मेलवे जी, सेवरड़ो नी बांधे ओ राईवर हर कर जी पिता जी सरिका बाप काकासा वीरा सा
                    सरिका, भाई वीर थाणे सासरिये ले जाय लाखिणी ओ लाड़ी मेलवे जी</p>
                    </div>

                    <div>
                      <h1>वरदड़ी</h1>
                      <p>राजा वरदड़ली माने घणी रे सुवावे मारे पांची वाला वजावजो, राजा ढोल नगारा ने और
                    सरणाई मारे नोपत वेग बुलावजो, राजा वरदड़ली माने घणी रे सुवावे मारे पांजीओ कपड़ा
                    मोलावजो, मारे लेरिया ने पील्या ने और फागणिया ने मारे नोलाओ रंग री चुन्दड़ी राजा
                    वरदड़ली माने घणी रे सुवावे मारे पांची ओ गेणला गडावजो जो राजा सोनो ने रूपो ने माणक
                    मोती, मारे ऊपर जबरक जुटणा राजा वरदड़ली माने घणी रे सुवावे मारे पांची देवर जेठ
                    बुलावजो राजा काका बाबा रा ने मामा भुवा रा मारे सासू रा जाया वेग बुलावजो मारे पांची ओ
                    नणदा बूलावजो राजा काका बाबा री ने मामा, भूवा री मारे सासू रा जाया वेगा बुलावजो राजा
                    वरदड़ली माने घणी रे सुवावे मारे पांची बेन्या बुलावजो राजा काका बाबा री ने मामा भुवा री
                    मारे माता री जाय वेग बुलावजो राजा वरदड़ली माने घणी रे सुवावे मारे पांचीओ वीरा
                    बुलावजो, राजा काका बाबा रा ने मामा भुवा रा मारे माता रा जाय वेग बुलावजो राजा
                    वरदड़ली माने घणी रे सुवावे मारे पांचीओ जीमण वणावजो, राजा लाडू ने पेड़ा ने सरस जलेबी
                    मारे बोलाओ रस री लापसी राजा पांची ओ जीमण मारे आंगण सोवे अब मारी वरद रूलावणी।</p>
                    </div>

                    <div>
                      <h1>सवाग कामण</h1>
                      <p>सवाग-कामण चलो रे आपणा दादासा रे पाछे आपणा दादासा रे पाचे रे आपने माताजी
                    री पाछे भई में क्या जाणू के कामण गोल गोल लागा अदली वदली से गुड़ लागा नेणा
                    काजल से गुड़ लागा दाती चूड़ला सू गुड़ लागा. रे भई में क्या जाणू कामण गोल-गोल लगा</p>=
                    </div>

                    <div>
                      <h1>सातिड़ो</h1>
                      <p>यो रे सातिड़ो राणी राना दे ओ मांडयो रोयण दे ओ मांडयो सावरत दे ओ मांड्यो गोरा
                    दे ओ मांड्यो रिद्धि-सिद्धि दे ओ मांड्यो सोद्रा बाई पुरण पुरवे जी, पेले ने पाये गज मोतिड़ा
                    सूं पूरो (पूरियो) दूजे ने पाये जाचे हिंगलू जी अंगणे ने पाये धोब अक्षत सू पूरो, चौथे ने पाये
                    पदम प्रकाशिया जी अणीरे साथीड़े कुंवर राईवर बेसाणो करो कुंवर बेन्या बाई आरती जी सासू
                    ने लादो वऊवड़ आरती मे साथ सोनणिया सासू आरतड़ी रो नेग तोड़ों ने लादो सासू टूकड़ो
                    जी पांची ने पांडव माता कुन्ती दे ओ जाया हडूमत ने ओ जाया माता अनजनी जी पांची ने
                    कुंवर सासू वऊवा ओ जाया धीनड़ जाई ओ वऊ जगता दे।</p>
                    </div>

                    <div>
                      <h1>गवाड़ो</h1>
                      <p>गवाड़ो यो भरयो गज मोतिड़ा भरयो कुंवर राईवर री मुट ओ ये मे धने मालण वरजो ये
                    मारे वाड़े मरवो जण रोज्यो, मारे कुंवर राईवर लाड़ला मोड़े धारो मरवारी डाल लंकागढ़ रो
                    सोनो ये वापरणो जणी से पीलो से रंग ओ तलक गवाड़ो रानी राना दे तलक गड़ावो राणी
                    रोयण दे रे, तलक गड़ावो रानी सावरत दे रे तलक गड़ावो राणी गोरा दे रे जस्या के रा
                    आग्रत जी चन्द्रमा जी भ्रमा जी ईश्वर जी, गजानन्द जी, कन्तो ये (कन्त ओ ये) उजड़ गड़ रो
                    रूपो वापरयो, जणी रो यो उजलो सो रंग अंगड़ गड़ावो सासू वऊवारे जस्या केरा दादासा रे
                    कन्तो ये कजली वनरा गोला वापरया जणी रो यो गुगलो सो रंग चूड़लो चिरावो वऊ नानी
                    लाड़िया रे जस्या केरा संगला भाई कन्तो ये जावद गड़ रो कसूबो वापरयो, जूणी रो यो रातो
                    सो रंग चून्दड़ी रंगावो संगली बेन्या रे, जस्या के रा संगला भाई वीर ओ ये।</p>
                    </div>

                    <div>
                      <h1>खिड़की</h1>
                      <p>खिड़की खडोरे खटुकड़ो, गोड़लड़ा हीचे बारणे घोड़ी रो नाम सो लाकिणी, असवार
                    राईवर होय ओ सवचनण मग लोचनी कुंवर बेन्या आयाओ बायर उबा लाड़ला जबके लूण
                    उतारो सो लूण मूंगो बाई मालवे, सूखी सरस मारे देश ओ वीर मूंगा कुंवर बेन्या बाईरा सुखी
                    सरस हमारे देश ओ लोग चाल्या हाट पाटणा वीरा जी कमावने जाय लोग लाया साड़ी कापड़ो
                    वारी वऊवा रे चूड़लो चिराय वांरी कुवासिया रे चून्दड़ी रंगाया ओ दोड्यो चूड़ो वऊ नानी
                    लाड्या रे रंग रातो संगली कुंवास्या रे हाथ ओ कागज लिखजो जोडमा जाय दीजो मामासा रे
                    हाथ ओ अणी रे मौसर वीरासा आवजो वीरासा हमे तमे खरो रे सन्देश ओ अणी रे मौसर
                    वीरासा नही आया वीरासा हमे तमे कस्यो रे संदेश ओ दोई छोका दोई चावल लापसड़ी सवाद
                    होयओ दोई भाई दोई बेनड़ी मारी वरण रूलावणी होय ओ तू क्यू ए दरजण उण मणि हरके
                    थारो मेईलो वेश ओ धारोई चिन्तो थू भली मारी वरद रूलावणी पोय ओ मंडप केसर वापरी
                    केसरियो सासू वऊवा रा कन्त ओ मंडप बिड़ला वापरया रंग वसिया नानी लाडयारा कन्त ओ
                    मंडपढोल धडूकिया होलिड़ो संगली कुवास्यारा दास के</p>
                    </div>

                    <div>
                      <h1>वनोलो</h1>
                      <p>आज वनोलो आग्रत जी घरे नूत्यो तो राणी ओ राना दे नूत जिमाया ओ राज राज नन्द
                    जीरो सूरत मोवन जी रो वासो</p>
                    </div>

                    <div>
                      <h1>धन-धन</h1>
                      <p>धन धन मारे आमा सामा ओवरा सूरज सामी या पोल धन-धन केल जबुके बारणे
                    हंसती हीचे बारणे धन-धन मारे लाकिणी तेजी जव चरे धन-धन मारे चोबारा दिवला संग बले
                    मारे बालक हीचे बारणे धन-धन मारे भैंसडल्या रो ठाट भूरी पाड़ी आवे रिकती धन-धन मारे
                    गायडल्या रो ठाट घोला घोली हलवे जी धन धनमारे देवर जेठा री जोड़ मारे देराण्या जेठाण्या
                    रो झूमको धन-धन मारे नणद सवेरी रा लाड़ मारे नतरा नणदोई पामणा धन-धन मारे
                    मतुडल्या री जोड़ मारे कुल वऊरो झूमको धन-धन मारे धीयडल्या रो ठाट मारे सकल जमाई
                    बेसाणो धन-धन मारे चूड़ा ये चून्दड़ी री सोब मारे टीली ये नतनवी धन-धन मारे छुला ये
                    परेड़ री सोब मारे राम रसोई नतरा धन-धन मारे काकड़ी रा खेत मारे धाड़ा आवे ठेलकता
                    धन-धन राजन खेले सोरटा</p>
                    </div>

                    <div>
                      <h1>उगीडा</h1>
                      <p>इ तो चांद सूरज भल उगीडा ई तारा ओ इ तो सेश करण राणी रानल राई भरतार
                    तमे सूवो ए के जागो आग्रत जी ओ भ्रामणा घरे आया तमे सूवो ए के जागो चन्द्रमा जी ओ
                    भ्रामणा घरे आया तमे सूवो ए के जागो भ्रमाजी ओ भ्रामणा घरे आया तमे सूवो ए के जागो
                    ईश्वर जी ओ भ्रामणा घरे आया तमे सूवो ए के जागो गजानंद जी ओ भ्रामणा घरे आया ई तो
                    भ्रामणरा गोरी सोद्रा बाई रा दास जमाईड़ा हारे आया गस चनण ओ राजा खरड़ कसावो केसर
                    राई टीला थाणी नगरी ओ राजा वाजा वाजे माने खरा रे सुवावे थाणी पोल्या ओ राजा भाण्ड
                    भणे दत देवा ने में आया थाणे चवरया ओ राजा पान सूखे रस लेवा ने में आया थाणे मंडप
                    ओ राजा वेद भणे वेद सुणवा न में आया थाणे माया ओ राजा मंगल गावे, मंगल सुणवाने में
                    आया थाणे मेला ओ राजा दिवलो बले संग जोवाने में में आया थाणे आंगण ओ राजा काच
                    ठुले पग देवाने में आया थाणे पालणे ओ राजा बालक रमे घोडया लेवाने में आया।</p>
                    </div>

                    <div>
                      <h1>नूतो</h1>
                      <p>पांच सोपारी ने पान रा ओ बिड़ला तो तमे घरे नूतो आग्रत जी वड़े वेगा आवजो तमे
                    घरे नूतो चन्द्रमा जी वड़े वेगा आवजो तमे घरे नूतो भ्रमाजी वड़े वेगा आवजो तमें घरे नूतो
                    गजानन्द जी वड़े वेगा आवजो आग्रत जी गोर लड़े राणी राना दे पाल करे चन्द्रमा जी गोर
                    लड़े राणी रोयण दे पाल करे भ्रमाजी गोर लड़े राणी सावरत दे पाल करे ईश्वर जी गोर लड़े
                    राणी गोरा दे पाल करे गजानन्द जी गोर लड़े राणी रिद्धि-सिद्धि पाल करे व्यारा नाना मोटा
                    बेट सिंगासन वडे वेगा आवजो घरे आयो थाणे से वेगा रो न्याव माया करे आवजो ।</p>
                    </div>

                    <div>
                      <h1>वीरा</h1>
                      <p>धोला सा बलदिया ने तीतरया पलाणा ओ रामचन्द्रा जी वणजारा, ओ लछमण जी
                    वणजारा ओ बलभद्र जी वणजारा, ओ श्री कृष्ण जी वणजारा री बालद ऊलटी में थाने पूछू ओ
                    रामचन्द्र जी वणजारा, ओ लछमण जी वणजारा ओ बलभद्र जी वणजारा, ओ बलभद्र जी
                    वणजारा ओ जी श्री कृष्ण जी वणजारा ओ श्री कृष्ण जी वणजारा ओ कुणी रे मारगड़े ओ वीरा
                    तमे आविया गंगा उत्तरी ने जमना उतरी अणी रे धरम मरगड़े बाई हमें आविया जी चोरो ने
                    रूदो राजा रामचन्द्र जी वणजारा, ओ लछमण जी वणजारा ओ बलभद्र जी वणजारा ओ श्री कृ
                    ष्ण जी वणजारा सेरया ने रून्दी ओ वीरा थाणी बालद जी ओरो ने रूदो राणी सीता दे
                    वणजारी ओ लछमी दे वणजारी ओ पठसाल ने रून्दी ओ भाभी थाणा छोरूवा ने मू थाने पूछु
                    ओ लापर दादासा जी वणजारा कुणी रे मारगड़े वीरा तमे आविया गंगा उतरी ने जमना उतरी
                    अणी रे धरम मरगड़े ओ बाई तमे आविया चोरो ने रून्दो ओ लापर वीरा (जीतेन्द्र) वणजारा ओ
                    सेरया ने रून्दी ओ वीरा बालदिया ओरो ने रून्दो ओ वऊ जगता दे वणजारी पटसाला ने
                    रून्दो ओ भाभी थाणा छोरूवाने</p>
                    </div>

                    <div>
                      <h1>साण्डड़ली</h1>
                      <p>सांडडली रे लाम्बा ओ तीका कान के लाम्बी नलाई री साण्डली जी साण्डली रे गले
                    ओ गुगल गाल पांवा राओ नेवर वाजणा जी साण्डडली रे राती ओ पीली जूल के रमझम चाले
                    साण्डडली जी साण्डडली झुकावो गांडा हेटे निरावो नागर वेनड़ी जी गाठ पड़े से रूपीया रो
                    छाव पलाणो दादासा री साण्डडली जी, काकासा, वीरासा जीजासा, मासोसा, मामासा पलाणो</p>
                    </div>

                    <div>
                      <h1>फुल फकर</h1>
                      <p>फुल फकर भरिया चान्द सुराज उगिया मंडप छविया भ्रमा जी वेद रच लिया धल, धवल
                    दे मारी पदमणी तोरण आया राम दीपक लेने संचरिया भीमा तो केरी नार-वर वदन जोया
                    बरतना उबा तो आंगन माय दई द्वोप कंकन तिलक किदा पूकिया जगनाथ, बड़ बेवड़ो
                    वन्दारिया चाई चापिया वर राय, चाइत्रा तो घुसल नैत्र मुसल पुकिया जगनाथ लगना री वेला
                    टल रई, तेड़ो तो थिम कराय, बन्दली वांदल वाल तारिया ये तोरण घोड़ी सई ये सवारो
                    रूकमण थम्ब विराजन रसिया तो हेम तले दरबारों ये मई ना करसण गाली सासु करसण
                    गाली। अकी जी अकीरा रच्यों रे अम्बोडो दुसरे रच्यो रे लंगोटो अगणे वासक राजा घरो रे तन
                    छोटो तो सोस्ट पुना घर होई ये मईला करसण गाली सासु करसण गाली। अकी जी अकीबर
                    रच्यों रे अम्बोड़ो दुजों रच्यो रे तन छोटो तो रच्यों रे पार्वती रो ब्याव ओ ये मईना करसण
                    गाली। सासु करसण गाली। धोड़ले छड़न्ता गोविन्द पधारिया हंस दड़े हर आया। तेतीसी
                    करोड़ देवता जान पधारिया तो सासु वऊ जाये जोय पुकिया ये मईना करसण गाली सासु
                    करसण गाली। मिन छड़े मतवारण जोवा धोका छड़े मीना रानी जोवे तो जावे पारवतीरी जानो
                    ये मईना करसण गाली सासु करसण गाली। पाय कांकरण गले मुंडरी माला खाक तुम्बा जटा
                    धारी भसमी अन्धेरी दुदा जर जर कन्ता तो अणा वर कन्या नी देश्या ये माईना करसण गाली
                    सासु करसण गाली। अयर लयर पाट बेसाणों समता सु सा प्रकासो रूप धरो तमे तेज धरन्ता
                    तो हमारी माता रो दुःख हारियो ये मईना करसण गाली सासु करसण गाली। बायर जामने
                    रूप प्रकाशो रचा सयोयेनी जाये। सेस करण राजा शीश विराजिया तो मुखड़े चांद कुवास्यो ये
                    मईना करसण गाली सासु करसण गाली। धोड़ले छड़े गोविन्द पदारिया हंस छड़े हर आया तो
                    दसवंद शंकर तोरण आया तो सासु वऊ जोय जोय पुको ये मईना करसण गाली सासु करसण
                    गाली। गलगट गाले ने चवरिया ले चालां मंडप मे पदां वो कुंवारी जी आडा अन्तर पडदा
                    तणावोतो कन्या वेगा पदरावों। ये मईना करसण गाली सालु करसण गाली। कातो जी चुनों मे
                    हते रंग मेल्यों तो भुवा बाई रंग बंटावो आज जी अन्तर पड़दा धरो जी पछे हाथा सु हतले वो
                    जोड़ावो। ये मईना करसण गाली सासु करसण गाली। गुल भरी गुलिया ने तलिया पातलिया
                    रथ वेवाण जो गड़िया। सवा सक लाख रा पर्वत जड़िया तो मीना राणा मन माय हरकिया ये
                    मईना करसण गाली सासु करसण गाली। चारो जी चवारियां ने वेद रचाओ नौ वादर वालो।
                    अमिया दे राणा तमे अंचली कराई तों करो गवरी भरतार। ये मईना करसण गाली सासु
                    करसण तों करो गवरी भरतार। ये मईना करसण गाली सासु कसरण गाली। ऊंचा सा पर्वत
                    नीची सी राई ईश्वर करे रे जवारो अमिया दे राणी तमे दोरे आशिषो तो चांद सुरज तमे जुई
                    तपयो ये मईना करसण गाली सासु करसण गाली।</p>
                    </div>

                    <div>
                      <h1>मांडपा का गीत</h1>
                      <p>थू तो कुण् कुण नगरी सू आये रे सोवन थम्ब मोवन पान पनवाड्या ओ मंडप छाविया,
                    मू तो नया रे नगर ती सूं आयो रे सोवन थम्ब मोवन पान पन
                    वाडया ओ मंडप छाविया थने कटे ने बेसाणु रे सोवन थम्ब, मोवन पान पन वाड्या ओ
                    मंडप छाविया थने कटे ने बेठाणु रे सावन थम्ब, मोवन पान पन वाड्या ओ मंडप छाविया थने
                    कोले ने बेटाणु रे सोवन थम्ब, मोवन पान पन वाड्या ओ मंडप छाविया थने कई ने जीमाऊ रे
                    सोवन थम्ब, मोवन पान पन वाड्या ओ मंडप छाविया थने लापसी जिमाऊं रे सोवन थम्ब,
                    मोवन पान पन वाड्या ओ मंडप छाविया थने कई ने ओड़ाऊ रे सोवन थम्ब, मोवन पान पन
                    वाड्या ओ मंडप छाविया थने थूरमो ओड़ाऊ रे सोवन थम्ब, मोवन पान पन वाड्या ओ मंडप
                    छाविया</p>
                    </div>

                    <div>
                      <h1>गृहशान्ति के गीत / सोबाक रेणा</h1>
                      <p>सरसत सामना विनमो सोबाक रेणा, गुणपत लागुल पाय रे सोबाक रेणा वरद विनायक
                    विनमो सोबाक रेणा साराद जी तुयी पर सादरे सोबाक रेणा
                    पेले जी रूप काना रे सोबाक रेणा कंछा जी तणे अवतारो रे सोबाक रेणा दुजे जी रूप
                    काना रे सोबाक रेणा मछावी तणे अवतारो रे सोबाक रेणा कछा ने मछा दोई आविया नई आया
                    नंदिया रा नीर रे सोबाक रेणा समेर खाई वासक ने तरा सोबाक रेणा गाल्या ने समन्दर
                    विलोवणा सोबाक रेणा कांडा रे चवदा ही रतन रे सोबाक रेणा काडिया लछमी जीरी नार रे
                    सोबाक रेणा अगणे जी रूप काना रे सोबाक रेणा वारो जी वारे घोड़े चड्या सोबाक रेणा बुदा
                    जी अपणी बुदी चालिया सोबाक रेणा कयो यनी मान्या नही बाप रो सोबाक रेणा चोथे जी रूप
                    काना रे सोबाक रेणा नरसिंग तणे अवतारो रे सोबाक रेणा नरसिंग हरणा पुस (हिरण्य कश्यप)
                    मारया सोबाक रेणा पांचमे जी रूप काना रे सोबाक रेणा बावन तणे अवतारो रे सोबाक रेणा
                    बावन बावन कई करो रे सोबाक रेणा बावन पेस्ट पियाला चापेन लाया से पृथविरो राज रे
                    सोबाक रेणा बल राजा अटे जुग अरम्यो सोबाक रेणा नूत्रा से तेंतीस करोड़ रा देवता सोबाक
                    रेणा नूत्रा नूत्र सोई आवजो सोबाक रेणा वना रे नूत्रा में क्यामी आवोरे सोबाक रेणा नूत्रा ने
                    लिजो मान रो सोबाक रेणा वना रे नूत्रा ने क्यामी मानो रे सोबाक रेणा बली राजा बायर
                    पूछविया सोबाक रेणा बायर केता लाख रे सोबाक रेणा एक लूल्यो रे दूजो बावन्या सोबाक
                    रेणा अगण्यो कूदयो से पेस्ट पिलाया चापेने लाया से पृथ्वी रो राज रे सोबाक रेणा बल राजा
                    बायर पदारिया नई नमे रे जारी रो नीर रे सोबाक रेणा अगड शुकर जी री आंख रे सोबाक
                    रेणा लो वर अन धन लछमी सोबाक रेणा यो लोनी गीरत भण्डार रे सोबाक रेणा लो वर चरवा
                    कुण्डी राइचो सोबाक रेणा यो लोनी दुकड्या रो दान रे सोबाक रेणा लो वर ढोल्या सीरक
                    डाइचो सोबाक रेणा यो लो नी आसीसा रो दान सोबाक रेणा लो वर पाला पडगी डाईचो
                    सोबाक रेणा यो लो वसपत रो दान सोबाक रेणा लो वर दिवला दुग दुगा सोबाक रेणा यो
                    लोनी पीर सोता से दान रे सोबाक रेणा लो वर गौऊ से ती वाचरू सोबाक रेणा यो लो नी
                    मई की रो दान सोबाक रेणा लो वर धोत्या सुदी करवरी सोबाक रेणा यो लोनी मरक्या रो दान
                    सोबाक रेणा लो वर दासी छोटी डाइचो सोबाक रेणा यो लोनी कंकू कन्या रो दान सोबाक
                    रेणा नई लेस्या अन धन लछमी सोबाक रेणा नई लेस्या गीरत भण्डार रे सोबाक रेणा नई
                    लेस्या चरवा कुण्डी डाइचो सोबाक रेणा नई लेस्या दुकडया रो दान सोबाक रेणा नई लेस्या
                    ढोल्या सीरक डाइचो सोबाक रेणा नई लेस्या आसीसा रो दान सोबाक रेणा नई लेस्या दासी
                    छोटी डाइचो सोबाक रेणा नई लेस्या कंकू कन्या रो दान सोबाक रेणा नई माने मेलवारी ठोड
                    रे सोबाक रेणा नई मारे मांगली ने ठोड रे सोबाक रेणा पेलो पावडो पृथवी मापिया नई मारे
                    दूजा ने ठोड रे सोबाक रेणा दूजो पावंडो आकासा मापिया नई मारे अगणिया ने ठोड रे
                    सोबाक रेणा अगणियो पावंडो बल राजा रे पुट मापियो सोबाक रेणा बल राजा बायर पूछविया
                    सोबाक रेणा कदी वेसी माणो अवतारो रे सोबाक रेणा कार्तिक परबत दीवाली सोबाक रेणा
                    जदी वेसी थाणो अवतारो रे सोबाक छटे जी रूप रेणा परसोजी पर सोजी कई करो सोबाक
                    रेणा सातमें जी रूप काना रे सोबाक रेणा रामचन्द्र जी तणे अवतारो रे सोबाक रेणा रामचन्द्र
                    जी रावण मारिया सोबाक रेणा लाया से सीता सतवंती सी नार रे सोबाक रेणा आठमें जी रूप
                    काना रे सोबाक रेणा सरि कृष्ण जी पेठ पियाला चापेने नात्यो रे से कालो नाग रे सोबाक रेणा
                    हर लाया कामला रो भार रे सोबाक रेणा नमे जी रूप काना रे सोबाक रेणा बुदाजी तणे
                    अवतारो रे सोबाक रेणा बुदो जी अपणी बुदी चालिया सोबाक रेणा कयो नी मान्यो मायन
                    बापरो सोबाक रेणा दसमें ली रूप काना रे सोबाक रेणा नकलिंग तणे अवतारो रे सोबाक रेणा
                    नकलिंग नकलिंग कई करो सोबाक रेणा कछा जी ने मध्छावी वारो जी नरसिंग जी बावन जी
                    परसोजी रामचन्द्र जी श्री कृष्ण जी बुदा जी नकलिंग जी दसी अवतार छारीया सोबाक रेणा
                    जो ऐसी सीके सामले जारा वेसी वेकुण्ट वास रे सोबाक रेणा नई सुणे नई सीखे सागले
                    सोबाक रेणा अजगर पडयो बालू रेत में सोबाक रेणा</p>
                    </div>

                    <div>
                      <h1>होमजे-होमजे</h1>
                      <p>रामचन्द्र जी लाया से बीज लछमण जी वड़ रोपियो गी गोल री पाल वन्दावो दूदा
                    दईया सीचावो अणी वड़ला रे डागला डगल पान के कंकू वरणी कंपला आग्रत जी सूं राणी
                    राना दे ओ यम भणे जी चन्द्रमा जी सूं राणी रोयन दे ओ यम भणे जी भ्रमाजी जी सूं राणी
                    सावरत दे ओ यम भणे जी ईसवर जी सूं राणी गोरा ओ यम भणे जी गजानन्द जी सूं राणी
                    रिद्धि-सिद्धि दे ओ यम भणे जी पीयूड़ा आने अन्द्रासन ले चालो अन्द्रासण री मन रोली कासब
                    राई जी रे घरे मांडयो से जाग के जव तल मादु प्रत होमिया होमजे होमजे करोड़ नारेल
                    सोपारी ओ होमजे डोड़से होमजे होमजे नागर वेल रो पान के घी ग्रत गाय प्रत होमजे गाया
                    सू सासू वऊंवा यम भणे जी पीयूड़ा मने सासरिये ले चालो सासरिया री मन रोली जी सुसरा
                    सा रे घरे मांडयो से जाग के जब तल मादु प्रत होमिया सगला जमाया सू संगली बेन्या सम
                    भणे जी पीयूड़ा माने पीय रीये ले चालो पीयरीया री मन रोली जी मारा दादासा रे घरे मांडयो
                    से जाग के जव तल मादु प्रत होमिया।</p>
                    </div>

                    <div>
                      <h1>घोड़ी सेवरो</h1>
                      <p>गढ़ सु तो घोड़ी उतरी आई उदेपुर रे शेर गोपाल रेसर सेवरो कुणी जी देके ने कुणी
                    मोलवे कुणीजी खरचा दाम हो काका देके ने, बाबा मोलवे दादासा खरचा दाम हो गोपाल
                    कुणी जी ले घरे आविया कुणी जी बादे ठाण रे गोपाल (भाई का नाम) ने घरे आविया (छोटा
                    भाई का नाम) जी बान्दे ठाण हो गोपाल कुणी जी घोड़ी ने दुध पावे कुणी जी नीरे नागरवेल
                    हो गोपाल (भाई के नाम) जी घोड़ी ने दुध पावे (भाई का नाम) नीरे नागर वेल हो गोपाल
                    कुणी जी घोड़ी रा आरसी, कुणी जी सोरे लाद हो गोपाल सगला भाई घोड़ी आरसी सगला
                    जमाई सोरे लाद हो गोपाल माते तो मिण्डी गेणरी सोवन तलक लालट हो पुट पलाणे हीरा
                    जड़यों चाबक जडयो रे जड़ाव हो मोर नो मेरा जगमगे उपर पड़यो गजगाव हो आगलडा खुर
                    वाजणा पाचलडा दोडी रूप हो घोड़ी तो भलसण गारीया अबे राईवर सणगार हो गोपाल वागो
                    तो सोवे केसरिया माते मोयर गाजपाग हो काना तो कुन्डल जगमगे मोत्या सु तपेरे ललाट हो
                    गोपाल डोरा तो सोवे हेमरा, कंटया मे जड्यो रे जडाव हो कडा तो सोवे हेमरा, घडिया मे जड़
                    यो रे जडाव हो हाथा लाखिणी मुन्दडी, नगिना में जड़यो रे जडाव हो पांवा लाखिणी मोजडिया
                    मोजा तो नगर उजैन हो साव सुन्दरो सेलडो यसल गेन्दा री ढाल हो गोपाल कुड्या कटारो
                    वाकड़ो सोरटडी तलवार हो राईवर भलसण गारीया, अबे जानणिया भल सणगार हो चर वे तो
                    उनो पाणी मेल जो, पाटुले तेल फुलेल हो माने तो मिण्डी मेण री री मोत्या सु सु तपे रे
                    ललाट हो गोपाल साव सुन्दुरयो काचुवो, गले मोतियो रो हार हो रानी दराई रो गागरो ओड़ण
                    दकणा रोचीर हो नकल्या तो मेंदी राचणी हतेली में पुरयो चोक हो जानण्या तो भल
                    साणगारिया अबे जानिया सणगार हो कसुमल केसरिया संगला रे पंचरग पाग हो जानिया तो
                    भल सणगारिया, अबे जांगड्या सणगार हो धोबी रा धोया धोवत्या, सगला री कुसुमल पाग हो
                    वाग मोडे घोडी छड्या दे सुरता ने ढोल हो गोपाल आदि तो नगरी ओजकिया आदि छड्या रे
                    दिवाण हो थे क्यु रे लोग डर पड्या थे क्यु छडया रे दिवाण हो रात्यु तो वाजा वाजिया परण्या
                    साजनिया धीय हो परणे तो हरणे उतरिया दादासा धनविल साय हो वीरासा धन विल साय वे
                    गोपाल लाडो तो मन हरकियो रतन छडयो मारे हाथ हो गोपाल लाड़ी तो मन माय हरकिया
                    समरत पकडियों हाथ हो गोपाल काचा तो कंचन कातिया दिदो कमीणा रो नेग हो राती तो
                    पिली चुन्दडा दिदो कुवास्या रो नेग हो राता तो पिला फागणिया दीदो कमिणा रो नेग हो
                    गोपाल राईवर रे सासरे में गया देखी अनोखी रीत हो गोपाल ब्याई तो घर माए गुसरेया
                    ब्यायण करेरे जवार हो ब्याई तो पेरयो गागरो ब्यावण बांदी पाग हो गोपाल ब्याई रे रसोडे में
                    गया देखी रसोडा री रीत हो गोपाल डांडे तो डांडे उन्दरा जालारी तान्दर वाल हो फुटी हान्डी
                    ने खान्डी ढाकणी कड़चु रे माकारी जाल हो गोपाल राईवर रा दादासा राजवी करे मेरा रो
                    वेपार हो राईवर रा सुसरासा कुजड़ा करे कांदा रो वेपार हो हो गोपाल रे सर सेवरो।</p>
                    </div>

                    <div>
                      <h1>वदावो</h1>
                      <p>पेलो वदावो एक सईया मारे आवीयो जी मेल्यो मारा दादा सा री पोल अमर वदावो रे
                    जामण जाया विर रो जी दुजो वदावो ए सईया मारे आवीयो जी मेल्यो मारा वीरासा री पोल
                    अमर वदावो ए जामण जाया वीर रो जी अगण्यो वदावो ए सईया मारे आवीयो जी मेल्यो मारा
                    सुसरा सा री पोल अमर वदावो ए जामण जाया वीर रो जी चोतो वदावो ए सईया मारे आवीयो
                    जी मेल्यो मारा जेठसा री पोल अमर वदावो ए जामण जाया वीर रो जी पांचवो वदावो ए
                    सईया मारे आवीयो जी मेल्यो मारा सायब सा री पोल अमर व वदावो ए जामण जाया वीर रो
                    जी वीरा रा रन्दावो ए सईया लुच लापसी जी भावज मारी ऊडदा री दाल अमर वदावो ए
                    जामण जाया वीर रो जी वीरा रा गलावे ए सईया माने घी गणो जी भावज मारी अलस्या रो
                    तेल अमर वदावो ए जामा जाया वीर रो जी वीरा सा पोंचावे ए सईया माने गोर मे जी भावज
                    मारी ओवरीया रे बार अमर वदावो ए जामण जाया वीर रो जी ऊंची तो छडने ए बेनड हैलो
                    रालीयो जी मायड वना पियरियो मती जाय अमर वदावो ए जामण जाया वीर रो जी दुकाना
                    तो बेटा ओ वीरा सा हंस-हंस बोलीया जी जामण जाई एक बार पाछी आव अमर वदावो ए
                    जामण जाई वीर रो जी भोला भंगादु ए जल हल जामी जाया बापराजी वीरा सा तो वीजो ए
                    सईया नगरी रा राजवी जी भावज मारी जल री या माछ अमर वदावो ए जामण जाया वीर रो
                    जी वीरा सा फल जोए बड पीपल रा पानडा जी भावज मारी कडवा सा नीम अमर वदावो ए
                    जामण जाया वीर रो जी सुण जो ने सायल जो ए सईया मारी विणती जी मायण वना पियरिये
                    मती जाय अमर वदावो ए जामण जाया वीर रो जी।</p>
                    </div>

                    <div>
                      <h1>कामण</h1>
                      <p>कोरी कोरी मटकी में मईयो जमायो राज आज मारा राईवर ने दादासा रे घर नुतिया
                    राज। दादासा रे घर नुतियो राईवर दादियां नुत जिमाई राज। लिली दगली लिलो सूत बांदा
                    रे सासू रा पुत। बदियां चुदियां कर सिलाम एक सिलाम भाई दुसरी सलाम तिसरी सिलाम
                    तेरी माता रा गुलाम छोड़ दादासा री प्यारी अप तो कामण थाणा गुलाम। कामण करता पेली
                    करता अब तो चाकर थाणा राज। आव सउवा बेठ सउवा वात पुंछु जी ओजी कतरीक आई
                    बरात, बरात देखिया भात रांदु जी हस्ती हजार लाया, घोडला पचास लाया जी ओजी जानिया
                    रो छेयन पार सुरतानी ढोला आय बेठा आय बेठा जी हस्ती ने ढान बांधा घोडला पायगा में
                    बांधा जी ओ जी जानिया ने दो जानिवासो वेवाईडा ने खेंच बांधो, खेंच बांधो जी हस्तीयां ने
                    लुंद तोलो घोड़ला ने घास नाको जी ओ जी जानिया ने खांड भात वेवाईडा ने मांड पावो, मांड
                    पावो जी पडला अणसिव्या लाया गेणला अणगड्या लाया जी ओ जी दलिचा री बेसन
                    राजकुंवर मारी लाडली से लाडली से जी कपड़ा सिलाई देसा गेणला गडाया देसा जी ओ जी
                    हिंगलाट री हिंचड राज कुंवर थारी लाडली से लाडली से जी मारी कुंवर खांडवो नी खांड
                    जाणे, पिसणो नी पीसी जाणे जी ओ जी दलिचा री बेसण राज कुंवर मारी लाडली से लाडली
                    से जी। खांडवो खण्डाए देसा पिसणो पिसाई देसा जी ओ जी हिंगलाट री हिंचड राज कुंवर
                    थाणी लाडली से लाडली से जी आगे आगे जान चाले पाछे पाछे मांड चाले जी ओ जी जा
                    बीचे चाले साजनीया री धीय सुरतानी ढोला आ बेठा आय बेठा जी आगे आगे जान चाले पाछे
                    पाछे मांड चाले जी ओ जी जा बीचे चाले बारा बापां रा लाल सुरतानी ढोला जीत चाल्या जीत
                    चाल्या जी</p>
                    </div>

                    <div>
                      <h1>अते रंग</h1>
                      <p>अते रंग भणजे रे जोसिडा, अते रंग आग्रत जी ने राणी राना दे, अते रंग चन्द्रमा जी ने
                    राणी रोयण दे, अते रंग भ्रमा जी ने राणी सार्वत दे अते रंग ईश्वर जी ने राणी गोरा दे, अते
                    रंग गंजानन्द जी ने राणी रिद्धि-सिद्धि दे, अते रंग भणजे रे जोसिड़ा रे।</p>
                    </div>

                    <div>
                      <h1>रूकमयो</h1>
                      <p>रूकमयो राजाजी ने पूछो जी कुंवारी ने कस्यो वर सोवेजी सादु कुणनपुर कन्या कुमारी
                    जी पेलो नो मणिया ने पूछो जी, पछे दोई मल वात विचारो रे सादु कुणनपुर कन्या कुमारी जी,
                    कुवारी ने वरषे लाकानो जी, यो तो तीनो लोक में छानो रे सादु कुणनपुर कन्या कुमारी जी,
                    कणवत करतो यो भ्रामण आयो जी आगा भीतर लियो रे बुलायो जी जोशी थे कई जाणे टेवा
                    जी, यो तो कागज प्रभु जीने देणो वेणो जी सादु कुणनपुर कन्या कुवारी, जोशी वेटे ने गाड
                    ढेल्या जी आगे नार लेड़े रे अकारा जी डाबी देवी छटी लटी तोडे जी जीमणी दुरग्या कई
                    बोले जी, डावो हडमच डचकावे जी दोई वासक हामा मलीया जी ई तो सुकुन सुस पाल्या ने
                    भज जो रे सावु कुणनपुर कन्या कुवारी जी। अटे कुणी रा मेल कुणी रा छाजा जी अटे वसत
                    कुणी रा राजा जी सुस पाल सबा में सुणिया जी सुंस पाल्यो सवा मेंती बोल्यो जी जोसी कटे
                    तुमारो वासो जी अटे कुणी जी रे पासो रे सादु कुणनपुर कन्या कुवारी। सुसपाल सगाई कीदी
                    जी जोशी मन मांय हरक्या फरसी रे सादु कुणनपुर कन्या कुवारी राजा जी रे वाजा वाज्या जी,
                    जोशी मन माये हरक्या फरसी रे सादु कुणनपुर कन्या कुवारी जी ऊटो बाई रूकमण जान जो
                    दे को छेड़े आयो सुरन सरिका देश रा राजवी मईयो छड़ेने आयो सुसपाल, मईये सबसु करे रे
                    सलाम पेले मोगर मेक देवावो जी, तजा रे कसुम्बा छणावो जी छाबा भर सुकड़ लावो रे, सादु
                    कुवनपुर कन्या कुवारी जी। कुंवारी ने यो वर नही मलसी जी, कुवा माये समन्दर नही मलसी
                    जी दूदा भर काजी नई आवे जी कोयलड़ी रे काग रे नी वणसी जी कचोल्या अम्रत फल
                    खासी जी अग्रत जी ने विकलत दासी रे, सादु कुणनपुर कन्या कुंवरी जी। जरणी जयंती क्यू
                    नही लागी, क्यूं मने मोटी कीदी जलती आंगन में जग्यो, जागु काज पड़या दे भागु सीता
                    होकर साथे फिरती वन रा वन फल खासी अब तो साथ करे राखो रे मू गुण दासी थाणी सोले
                    संतरे गोव्यां में रेड़ पड़ावो, कुण है मारा अब तो साथ कर राखो रे सावरा भू गुण दासी थावी
                    मंछा जी वारू माछली जालन्ती मे रेती ओ मंछा जी वारू मांचली, कच्चा जी वारू मांचली तमे
                    ढाक्यो शरीर ओ कच्चा जी वारू मांचली, तमे ढाक्यो शरीर ओ कच्चा जी वारू कांचली वारा
                    जी वारू गोविन्दा, नरसिंग वारू गोविन्दा हमे हर हाथल पटकियो, नरसिंग वारू गोविन्दा बावन
                    वारू गोविन्द हमे बावन होशी ओ बावन वारू गोविन्दा परस्याजी वारू गोविन्दा, हमे परसो जी
                    ओसी ओ परस्या वारू गोविन्दा रामचन्द्र जी वारू गोविन्दा, हमे सीता जी होसी ओ रामचन्द्र
                    जी रावण मारिया, श्री कृष्ण जी वारू गोविन्दा हर पेस्ट पियाल कालो नाग नाथिया लाया रे
                    कमला रो भार ओ श्री कृष्ण जी नाग नाथिया बुदा जी वारू गोविन्दा हमे बुदा जी होसी ओ
                    बुदा जी वारू गोविन्दा नकलिंग वारू गोविन्दा, श्री कृष्ण रा दसी अवतार ओ नकलिंग वारू
                    गोविन्दा कणवत करतो यो भ्रामण आया जी, रूकमण भीतर लियो रे बुलायो जी, जोशी थे कई
                    जाणो, टेवा जी यो तो कागज द्वारीका में देणो रे सादु कुणनपुर कन्या कुंवारी जी रूकमण
                    हथेलिया रा कागज दीदा जी आंसू री स्याही कीदी जी, कवल्या री रेखण कीदी जोशी तीन
                    दियाड्डा आड़ जी जोशी तीन दियाड़ा में आणे जी थे तो पुणी दकणा परवारो रे सादु
                    कुणनपुर कन्या कुंवारी जी जोशी जाय मन्दर माये सुतः जी ई तो जाग्या गड़ कमला सो रे
                    सादु कुणनपुर कन्या कुंवारी जी अटे कुणी रा मेल कुणी रा छाजा जी सादु कुणनपुर कन्या
                    कुंवारी जी अटे वसंत तैतीस क्रोड रा राजा रे अटे सोना रा मेल रूपा रा छाजा जी सादु
                    कुणनपुर कुंवारी जी जोशी जाय ने परवाना दीदा जी हर हंस कर परवाना लीदा जो हर
                    मलकन परवाना वाच्या जी नेणा माये नीर जो खेल्या रे सादु कुणनपुर कन्या कुंवारी जी।
                    जोशी परवाना थेई समालो जी, पेली बलिबद्ध वीर तोड़ावो जी पछे बलिबद्ध बन्देई तेड़ो जी
                    माया आगे पढावो रे सादु कुणनपुर कन्या कुंवारी जी हर हाथा सूं रथ सणगारया वागा रा
                    कसणा बिदया जी, अंग रे रंग जो छाया सादु कुणनपुर कन्या कुंवारी जी। कुंवारी जी हर
                    द्वारका सू कुनण पुर आया जी वांगा माये डेरा जो दीदा रे, सादु कुणनपुर कन्या कुंवारी जी
                    ऊंटो मारा माता जी जान तो देको छड़ी आया सूर नूर सरीका, कुणवा छड्या ओ राणी
                    रूकमण लेवा लेवा जी कोप करे ने दाणज ऊपर छड़वा भादवड़ा सू दर गोर अंदारो, छेल
                    जलागल सूरज उगीया कृष्ण छडिया ओ राणी रूकमण लेवा अम्बका तो पूजन चालो बाई
                    रूकमण साव सहेलिया रो झूमको अम्बरा तो पूजे वर मांगो बाई, रूकमण कृष्ण सरीका वर
                    पाया ऐ मे तो अणी वर गोविन्द गया।</p>
                    </div>

                    <div>
                      <h1>चुडा का गीत</h1>
                      <p>चुड़ो तो आयो देश मे गाडा मारूजी ओ जी आयो उदयपुर रे सेर राजन चुडो मोलते,
                    गाडा मारू जी ओ जी कुणी देखयो ने कुणी मोलवे गाडा मारू जी ओ जी काका देखे ने बाबा
                    मोलवे गाडा मारू जी ओ जी दादासा खरचा ई दाम राजन चुडो मोल गाड़ा कुणी जी ले घरे
                    आविया गाडा मारूजी विरासा ले घरे आविया गाड़ा ओजी कुणी जी पेरण जोगरा गाडा
                    लाड़लडी पेरण जोग राजन गाडा के पेरू थर थावरा गाड़ा के पेरू वस्पतवार राजन गाडा
                    चुड़ो पेरे ने जिमण जिमस्या गाड़ा जिमे रंग रसिया वर राजा री नार राजन गाड़ा चुड़ो पेरे ने
                    सेजा पोड़स्या गाड़ा पेड़े रंग रसीया वर राजा री नार राजन चुडो मोलवे गाड़ा मारूजी ओ जी
                    जमाक चुड़लां वाला अब थने रसिया मेल बुलावे जी रसिया बुलावे क्या फरमावे हिलमिल
                    हिवड़े लगावे जी माता ने मेमन्द अजब वण्यो छे रकड़ी रतन जड़ावो जी जमाक (सब रकम
                    बखाणे) माता ने मेमद रकड़ी री जोडी तो खुबवणी छे चुड़लावाली रा मारूजी कसी बद
                    राखुली आवण जावण कसीवद राकु चुडला वाली रा ढोला जी जेबा में लवगं सोपारी मेला में
                    चुड़ला सेजा में राखुली मेवा री छाबा मो गोदया मे राखु चुडला वाली रा ढोला जी कसी सेजा
                    में राखुली अन्तर री शिश्या तो गोदया में राखु माता ने मेमन्द राज रकड़ी री जोड़ी तो
                    खुबखुली से चुड़लावाली ओ राज चुड़ो चन्दरी रो राज टिप सोनारी खुबवणी से पेरण वाली
                    नखराली ओ राज पेरण वाली मृगनयनी ओ राज माता ने मेमन्द लावाजो ओ रसीया रकड़ी
                    रतन जड़ाव धनरा ख्याली लाल, चुडारी कुपी में जांचो हिगंलु ओरसिया केवडो ओ रसिया।</p>
                    </div>

                    <div>
                      <h1>बड़ा वदावा</h1>
                      <p>सोईणी पर वाजा वाजीया दुवारका मे ओ सु कि गुडिया रे नीसाण वदावो श्री रणछोड
                    रो कुबजा जी गया रे वदावणा ई तो गया ओ वसुदेव जी री पोल वदावो श्री रणछोड रो पेरो
                    पटोली राणी ड़ाडम्यो सर ओडो नी ओ नवरंग्यो गाट वदावो श्री कुम्ब कलश व्यारे सिर धरो,
                    राणी पुंकोनी ओ कुवंर सुजान वदावो श्री वलता नारद मुनी यम भणे राणी पुंकोनी ओ
                    यसरावतारी पोल वदावो घुसल मुसल द्रोपदयी बड बेवड़ो ओ सुकि वेग वन्दाय वदावो वसुदेव
                    जी आप पदारिया नन्दराम जी आप पदारिया अपरे साथे ओ संगला देवता से सात वदावो
                    देवकी जी आप पदारिया, यसोदा जी आप पदारिया अपरे साथे ओ संगली राणीयां रो सात
                    वदावो काचा जी कंचन कातिया जादव दिदो ओ सगला नेगिया रो नेग वदावो श्री वटाडासु
                    रत जादव हांकिया ई तो गया ओ कुनणा पुर सेर वदावो लिप्या जी चुम्प्या आंगणा जानि वासो
                    ओ सुकि वेग देवाय वदावो कुबजा जी गया रे वदावणा ई तो गया ओ वाणासुर रीपोल वदावो
                    कुम्ब कलश व्यारे सिर धरो राणी पुंकोनीओ अनुरत कुंवर सुजान वदावो श्री पेरो पठोली राणी
                    डाडम्या सर ओडोनी ओ नवरंग्यो गाट वदावो श्री रणछोड़ रो वलता नारद मुनी यम भणे राणी
                    पुंकोनीओ कुंवर सुजान वदावो धुसल मुसल द्रोपदयी वडबेवडो ओ सुकि वेग वन्दाय वदावो श्री
                    गलगट गालेने लेचलो मंडपा माये ओ सुकि वेग पदरावों ओ वदावो आड़ा जी अन्तर पड़तणों
                    कन्या ने ओ सुकि वेग पदारय वदावों कातोजी चुनो अते रंग हरहाता सु ओ सुकि हतलेवो
                    जोडाय वदावो श्री पेलो जी फेरो हरफरया जादव दिदो ओ सोना रूपा रो दान वदावो श्री
                    रणछोड रो दुजो फेरो हरफरया जादव दिदो ओ साला कटारी रो नेग वदावो अगण्यो जी फेरो
                    हर फरया जादव दिदो ओ सुतारया रो नेग वदावो चोतो फेरो हर फरया जादव दिदो ओ
                    बसपता रो दान वदावो परणे जी हरेण उतरथा जानिवासे ओ सुकि वेग पदराय वदावो काचा
                    जी कंचन कातिया जादव दिदो ओ सगला नेग्या रो नेग वदावो राता जी पीला फागणिया
                    जादव दिदो ओ संगली कुवासिया रो नेग वदावा राता जी पीला कापड़ा जादव दिदो ओ
                    संगला कमिणा रो नेग वदावो वटड़ा सु जादव रथ हांकिया इतो गया ओ दुवारका रे सेर
                      वदावो जायारा रूलिये वदावणा, परण्या ओ सुकि खरि रे जगेल वदावो श्री रणछोड रो।</p>
                      <p>मारे आंगण आम्बो पचोकडे मरबो दन री दियाड़ी रूली आमण आबुलारी डाल हंस बेटो
                      उडरे हंस सु लाकिणा उड रे हंस देरे वदाई डोडया में राजन आवे मलकता मारे राणी
                      राईजीरा राणी राई जी धरा ये पदारिया नवगज धरती दल छड्या मारे (नाम) जी रा (नाम) जी
                      घरा ये पदारिया बलते ओ दिवले संग छड्या मारे (संगला भाईया रा नाम) मोटा घरा ये
                      पदारिया बलते ओ दिवले दल छडया मारे बारे बापरा सगला जमाई जी घरा ये पदारिया
                      पानाओ चोरी रस भरी।</p>
                    </div>

                    <div>
                      <h1>कामण</h1>
                      <p>आव साउवा बेठ सउवा वात पुंछु जी ओ जी... कतरीक आई बरात बरात देखिया भात
                    रांदु जी हस्ती हजार लाया, घोड़ला पचास लाया जी ओ जी जानिया रो छेयन पार, सुरतानी
                    ढोला आय बेठा आये बेठा जी हस्ती ने ठान बांधा घोड़ला पायगा में बांधा जी ओ जी, जानिया
                    ने दो जानिवासो, वेवाईडा ने खेंच बांधो, खेंच बांधो जी हस्तीयां ने लुंद तोलो घोडला ने घास
                    नाको जी ओ जी जानिया ने खांड न भात वेवाईडा ने मांड पावो, मांड पावो जी पडला
                    अणसिव्या लाया, गेणला अणगड्या लाया जी ओ जी दलिचा री बेसन राजकुंवर मारी लाडली
                    से लाडली से जी कपड़ा सिलाई देसा, गेणला गडाय देसा जी ओ जी हिंगलाट री हिंचड राज
                    कुंवर भारी लाडली से लाडली से जी मारी कुवंर खांडवो नी खांड जाणे, पिसणो नी पिसी
                    जाणे जी ओ जी, दलिचा री बेसण राज कुंवर मारी लाडली से लाडली से जी खांडणो खण्डाए
                    देसा पिसणो पिसाई देसा जी ओ जी हिंगलाट री हिंचण राज कुंवर थाणी लाडली से लाडली
                    से जी आगे आगे जान चाले पाछे पाछे मांड चाले जी ओ जी जा बीचे चाले साजनीया री धीय
                    सुरतानी ढोला आय बेठा आय बेठा जी आगे-आगे जान चाले पाछे-पाछे मांड चाले जी ओ
                    जी जा बचे चाले बारा बांपा रा लाल सुरतानी ढोला जीत चाल्या जीत चाल्या जी</p>
                    </div>

                    <div>
                      <h1>मायरा रो विरो</h1>
                      <p>ऊची नीची सखरियारी पाल के वीरा री बालद उतरी जी वीरारे के थरी बालद मेरम
                    जीत के केथारी बालद गुलभरी जी बेन्या ए बालद चुन्दड्या री छाब के ढाला बेन्या बाई रे
                    माड़पे जी, पग दोये बेन्या बाई रे मांडपे सामि जो आवे के मे मोसरा रा पामणा जी वीरारे
                    पगदोये सामी आया नी जाय के पावा ओ मेन्दी राचणी जी मलमारी बेन्या बायड़ली पसारो के
                    में मोसर रा पामणा जी वीरा रे बायडली पसारी नी जाय के बाया ओ चुडलो दांत रो जी मल
                    मारी बेन्या हिवडो पसारियो नी जाय के हिवड़े सच ऊतारिया जी मलमारी बेन्या नेण जकांल
                    के में मोसर रा पामणा जी वीरा ने नेण जकोलिया नी जाय के नेणाऊ सुरमो सारियो जी बेन्या
                    ए गरबी गरबी सुसरासारे राज के के पुता रो गारबो जी वीरा रे पेली मारा कांकडीये पेरावो के
                    काकड़ सहेती गवालीडा जी, वीरा र पेली माने वागा पेरावो के वागा सहेती मीड़ा वीरा रे पेली
                    माने परगटीए पेरावो के परगट सहेली पणिहारी जी वीरा रे पेली माने चोवटीये पेरावो के
                    चोवट सहेती चोरासी जी वीरा रे पेली मारा सुसरा सा पेरावो के सुसरा सा सेहती सासुजी
                    वीरा रे पेली मारा जेठ सा पेरावो जेठ सा सहेती भाभीसा जी वीरा रे पेली मारा देवर सा
                    पेरावो के देवर सहेती देराणी जी वीरा रे पेली मारा नणदोई सा ने पेरावो नणदोई सा सहेती
                    बाईसा जी वीरा रे पेली मारा सायब सा ने पेरावो के सायब सहेती बेन्याबाई जी।</p>
                    </div>

                    <div>
                      <h1>हरजी री आरती</h1>
                      <p>सरसत सामन विनमु लागू पाय रे, कर जोड़ माता करूं रे विनती भूल्या ने अके दो
                    समझाया, सांवलिया ओ हरजीरी आरती। एक जाय सेवन्त्रे मोगरे सेवरो तो गुंती लाय सेवरो
                    तो हर जी रे। तपे आगे चौसठमण रो घर जी दोई मकर कुंडल कान जलचे ।। मोत्या सूं तमे
                    रे ललाड़ सावलिया ओ हरजी री आरती, छांटी रा चावल धूसल्या बत्तीसी भमर्या मोड़ जी।
                    सासू तो सरि रंग पुंकिया तोरण आया ओ राई रणछोड़ सांवलिया ओ हरजी री आरती ।। दय
                    द्रोप कंकन कीना पुंकिया जगन्नाथ, वड़ बेवड़ो वन्दाविया पाई चापिया वर राय। चोयेत्रा तो
                    घूंसल नेत्र मूसल पूंकिया जगनाथ गलगट गले ने चंवऱ्या ले चालो मंडप में पदरावे ।। आडा
                    जी अन्तर पड़दा तणावो तो कन्या ने वेग पदारो सांवलिया हरजी री आरती ।। लक जेरे वेदी
                    साम वेदी अन्तर वेदी काल पीला, पीताम्बर दो जनोई सोवे ओ साम शरीर। अन्तर पड़दा घरो
                    जी पाछे, हाथा सूं हथलेवा जोड़ा सांवलिया ओ हरजी री आरती ।। पेलो फेरो फऱ्या दीदा से
                    रतन भण्डार, दूजो तो फेरो हर फरया दीदा से करोड़ भण्डार ।। अगण्यो तो फेरो हर फरया
                    दीदो से गीरत भण्डार, चौथो तो फेरो हर फरया दीदा से रूकमण लारजी ।। लाड़ी तो लाड़ा
                    रे लागे पायत करत मन में विचार, एक रतन जड़त रो, बाजोट मंगावो ऊपर सोवन थाल जी।
                    एक शंक्कर ने गीरत मंगावो, वेग परूसो कसारजी, सीता ने श्रीराम जीमावे, सीता जिमाया श्री
                    राम ने।। पुर खींचा ऐ कुंवारी तुरंगा, हंसिया जोया ये भोला प्राणजी। मुख में तो उतपुत चार
                    दीसे, आंकासु सम जाय सांवलिया ओ हरजी री आरती ।। एक डायचा री जुगत माडी, दीदो
                    से दान अपार जी। चरवा तो कुड़ी डायचो, थाली ने दुकड्या नागर तेल जी। दीवा तो दीदा
                    दुग दुगा पील, सोता सितली चार जी।। पाला तो पड़गी हेम रा, दीदो से वसपत री दान जी।
                    एक छाबड़ दे समझाविया, दीदो से दान अपार जी।। कपड़ा तो कुवड़ी वे गवावो भजाजी आट
                    खोलावो सांवलिया ओ हरजी री आरती ।।
                    </p>
                    </div>
                  </div>
                    <h3 class="fw-bold align-self-end mt-3">संकलन - श्रीमती विद्यादेवी पुरोहित कोशीवाडा</h3>

                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
