{% extends 'base.html' %}
{% load static %}
{% block title %}Community{% endblock %}

{% block stylesheets %}
<style>
  p, li{
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'Includes/navbar.html' %}

    <div id="banner-area" class="banner-area" style="background-image:url({% static 'images/banner/banner1.jpg' %})">
      <div class="banner-text">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="banner-heading">
                    <h1 class="banner-title">बड़ा पालीवाल समाज की अन्त्येष्टी क्रिया पद्धति</h1>
                  </div>
              </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
      </div><!-- Banner text end -->
    </div><!-- Banner area end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 mb-lg-0">
            <div class="post-content post-single">
              <div class="post-body">
                <div class="entry-content">
                  <div class="d-flex flex-column">


                    <section id="content_section">
                        <h1 class="mb-5">बड़ा पालीवाल समाज की अन्त्येष्टी क्रिया पद्धति</h1>
                        <p>‘‘जन्मना जायते मृत्यु’’ जिसने जन्म लिया है, उसकी मृत्यु अवश्यंभावी है। इस सच्चाई
को स्वीकारते हुए मरणासन्न व्यक्ति को (आतुरावस्था में) मृत्यु को सन्निकट देख धैर्य धारण
करना चाहिये। सांसारिक माया-मोह से मन हटा निर्लिप्त होकर भगवान का स्मरण करना
चाहिये। गीता पाठ ईशावास्योपनिषद्, विष्णु सहस्त्रानाम आदि का पाठ करना अथवा सुनना
चाहिये।</p>
                        <p>मृत्यु को सन्निकट अनुभव कर प्राणी के मुख में गंगाजल, शालिग्राम शिलाजल,
तुलसीपत्र एवं दही रखना चाहिये। शरीर में प्राण रहते आतुर को बिस्तर से हटाकर कम्बल में
लिपटा देना चाहिये। इस समय यथाशक्ति दान, पुण्य, धर्म आदि करते रहना है। श्रद्धा शक्ति
हो तो दस महादान देवें। ये दस महादान इस प्रकार है- 1. तिल, 2. लौह, 3. स्वर्ण, 4.
कपास, 5. नमक, 6. सातधन (जौ, गेहूं, उड़द, मूंग, चना, चावल, माल या कांगणी), 7.
भूमिदान, 8. गोदान, 9. रजतदान, 10. वस्त्रदान।</p>
                        <p><b>मृत्यु पश्चात् - प्रारंभिक कर्त्तव्य</b></p>
                        <ol>
                            <li>
                                <p>मृतक को भूमि पर सुलादिया जाये नीचे गोबर से लीपकर कुश, तिल ऊन का धागा
डालकर उत्तराभिमुख कर लिटावें।</p>
                            </li>
                            <li>
                                <p>मृतक के कपड़े हटाकर ताम्रपत्र मे गर्म पानी ले स्नान करावे (पोंछा लगावें) तदन्तर गीला
सफेद (स्त्री हेतु लाल) कपड़ा कमर में बांधे एवं ओढावे। दुशाला ओढ़ावे। जनेऊ व माला
पहनावें। शव के दक्षिण मे सिर के पास धीमा दीया शवप्रस्थान तक जलाये रखें। मृतक के मुंह
में गंगाजल/गंगामाटी चांदी का कण, आंखो में मोती। घी की बूंद डाले। दोनो कानो मे भी
घी की बूंद डाले। बैकुंठी तैयार कर उस पर सुलावे कूकड़ी का कच्चा तार लपेटे, गुलाब।
फुलमाला आदि डाल पिंडदान करें। उपरोक्त क्रिया मृतक के संबन्धी करे स्त्री होने पर स्त्रियां
करें।</p>
                            </li>
                        </ol>
                        <p><b>अन्त्येष्टी क्रिया की सामग्री</b></p>
                        <ol>
                            <li>बांस दो (यदि शव भारी हो तो चार बांस)</li>
                            <li>बांस की खपच्चिये 16</li>
                            <li>बांधने की रस्सी,</li>
                            <li>सफेद वस्त्र-2 (यदि महिला का शव हो तो लाल वस्त्र)</li>
                            <li>चड्डी (कोपीन)</li>
                            <li>रामनाम की पछेवड़ी अथवा पीतांबर (श्रद्धानुसार), यदि शव सुहागिन महिला का हो तो कोर-किनारी युक्त चूंदड़ी</li>
                            <li>चंदन</li>
                            <li>नारियल (श्रद्धानुसार)</li>
                            <li>लकड़ी पांच क्विंटल</li>
                            <li>कण्डे 25-30.</li>
                            <li>काली हांडी अथवा पीतल की चरवी या लोठा</li>
                            <li>जौ का आटा एक किलो</li>
                            <li>तिल</li>
                            <li>जौ</li>
                            <li>कुशा (डाब)</li>
                            <li>शहद</li>
                            <li>मूंगा-मोती व स्वर्ण कण, मुंह में स्वर्ण कण, आंख में मोती तथा ओष्ठ पर मूंगा (प्रबाल) रखना है</li>
                            <li>गुलाल</li>
                            <li>पुष्प</li>
                            <li>मेहंदी कुंकुम, लच्छा (शव सुहागिन का हो तो हाथों पर मेहंदी, चूड़ियों के स्थान पर कुंकुंम लगावें। ललाट पर कुंकुम की बिन्दी लगाकर माथे पर लच्छा बांध देवें।</li>
                            <li>घास कम से कम दो पूले</li>
                            <li>घृत (यथा शक्ति) किन्तु एक किलो अवश्यमेव हो</li>
                            <li>तुलसी, ढाक (खाखरा) पीपल हो-लकड़िया</li>
                            <li>हवन सामग्री, पंचमेवा</li>
                            <li>नेवैद्य हेतु खोपरे की चटकें</li>
                            <li>शक्कर 50ग्रा.</li>
                            <li>दक्षिणा के खुले पैसे</li>
                            <li>लोहे की 5 कीले लम्बी आदि जो भी उपलब्ध ।</li>
                        </ol>
                        <p>मृतक का ज्येष्ठ पुत्र अथवा सबसे छोटा पुत्र क्रिया करे। पुत्र नहीं हो तो दोहित्र भी
क्रिया कर सकता है। दोहित्र की पुत्रवत मान्यता है एवं उसके द्वारा की गई क्रिया स्वीकार्य
है। दोहित्र भी नहीं हो तो सगोत्र बन्धु से क्रिया कराई जावे। किसी भी दशा में जमात्र एवं
भाणेज से क्रिया नहीं करायी जावे।</p>
                        <p>क्रिया करने वाला मुंडन करा स्नान करे, कुटुंबीजन भी स्नान करे। धोया हुआ शुद्ध
वस्त्र अथवा पीताम्बर पहन उपवस्त्र कंधे पर रखकर शव के पास दक्षिण भाग में दक्षिणाभिमुख
बैठकर जौ के आटे में जौ, तिल, दूध, दही, शक्कर, घृत, मधु (शहद) डालकर पानी से पांच
पिंड बांध लेवें और कुश की पवित्री दाहिने हाथ की अनामिका अंगुली में धारण कर पिंडदान
करे। शिखा खुली हो तो बांध लेवें, जनेऊ अपसव्य होकर हाथ में जल लेवें और इस प्रकार
संकल्प करें <b>अद्य तिथौ, मासे, पक्षे, वासरे, अमुक गौत्रास्य मृतस्य (स्त्री हो तो अमुका गोत्रायाः
अमुका मृतायाः) दाहार्थ उत्क्रांतदि उत्तमलोक प्राप्त्यर्थ पंच पिंड प्रदानं अहं करिष्ये।</b></p>
                        <p><b>पिंड तैयारी -</b></p>
                        <p>जौ के आटे मे घी, दूध, गंगाजल, तिल, शुद्ध दही, थोड़ा-थोड़ा, मिलावें, कुश के टुकड़े भी
डाले व थोड़ा-थोड़ा पानी मिला पिंड तैयार करे। 5 कीले भी अलग रखे।</p>
                        <p><b>प्रथम पिंड - </b>नोट-संकल्प मे पुरूष की मृत्यु पर प्रेत एवं स्त्री की मृत्यु पर प्रेते बोले।
क्रिया कराने वाला क्षौर कर्म कर स्नान कर दक्षिण की ओर मुंह करके अपसव्य हो दाये हाथ
मे जल कुश का टुकड़ा तिल हाथ मे ले संकल्प बोलेंरू - </p>
                        <p>अमुक संवत..........मास....... पक्षे..... तिथि.... वासरे अमुक गौत्र.... ...नाम......... (अस्य प्रेतेस्य उत्तम
लोके प्राप्तर्थ दैहिक कर्म करिष्ये संकल्प छोड़ें।</p>
                        <p>प्रथम पिंड- 1 पिंड को अपसव्य हो 3 डाब रख पीतृतिर्थ (अंगुठे के मूल से) डाब पर जल
छोड़े व पिंड हाथ मे ले संकल्प बोले रू-</p>
                        <p>अमुक प्रेतस्य /प्रेते मृत्यु स्नाने शव नाम्ना एवते पिंडो ममादीयते तवोपतिष्ठाम
पिंड मृतक के दाहिने हाथ के पास रख चटक/शक्कर का नेवैद्य करे व प्रार्थना करेंरू-
अनादिनिधनो देव शांख चक्रगदाधर,</p>
                        <p>अक्षयमः पुंडरीकाक्ष प्रेत मोक्ष प्रदो भव</p>
                        <p>पिंड को उठा कील गाड़ कर परात मे रख ले।</p>
                        <p><b>द्वार पिंड - </b>प्रथम पिंड के समान हो अपसव्य हो दक्षिणभिमुख हो 3 डाब रख जल देवें व
दुसरा पिंड हाथ मे लें संकल्प बोले-</p>
                        <p><b>.....गौत्र..... प्रेत/प्रेते द्वार देश प्रान्थ प्रान्य नाम्ना एषते मया दीयते तवो प्रतिष्ठाम </b>संकल्प छोड़े
पीतृ तीर्थ से पिंड को डाब पर रखे जल छोड़े नेवैद्य दक्षिणा चढ़ावे एवं कील पिंड मे गाड़
परात मे रखे।</p>
                        <p><b>विश्राम स्थल -</b></p>
                        <p>मार्ग में विश्राम स्थल पर शव को विश्राम अवश्य कराना चाहिये। वहां भूमि पर जल का
छिड़काव कर अर्थी रखें। यहां भूत नामक तीसरा पिंड निम्न संकल्प के साथ प्रदान कर
अर्धस्थान पर कपड़े का टुकड़ा फाड़ मुद्रा बांधकर समीप ही फेंक देवें। यह प्रथा राजा
हरिशचन्द्र के समय से प्रारम्भ हुई है। संकल्प <b>..... गौत्र....... प्रेत / प्रेते विश्राम स्थाने भूत
नाम्ना एवते पिंडो ममादीयते तवो प्रतिष्ठाम</b> पूर्वानुसार कुशों पर पिंड रखकर जल देवें नेवैद्य
चढ़ावे। कील लगा कर इस पिंड को यहीं रखे वापस न लेवें।</p>
                        <p>विश्राम स्थल से शव को उठाकर ले जाते समय ध्यान रखा जावे कि घर से शव को
उठाते समय जो लोग आगे थे, वे पीछे और जो पीछे थे वे आगे होकर कंधे लगावें। (शव
यात्रा आरंभ करें।)</p>
                        <p>स्मरण रहे, घर से शव की अर्थी उठाकर चिता स्थान तक ले जाते समय शव का सिर
पीछे और पांव आगे की ओर रहे। शव की अर्थी के आगे मृतक का पौत्र, पौत्र नहीं हो तो पुत्र,
दोहित्र अथवा सगोत्री अग्नि पात्र लेकर आगे-आगे चलता रहे, अग्नि पात्र के गले में रस्सी
बांध, रस्सी हाथ में पकड़कर चलें ताकि हाथ जलने की आशंका नहीं रहे।</p>
                        <p>स्थानीय परंपरानुसार घर से श्मसान तक अर्थी के साथ जाने वाले सज्जन राम नाम
सत्य है, रामः रामौ आदि शब्दों का उच्चारण करते रहें एवं अर्थी पर पुण्य की भावना से फूली,
चने, सिक्के, पुष्प आदि उछालते हुए चलें। जिन्हें सूक्त का पाठ याद हो, वे यह पाठ करते हुए
चलें।</p>
                        <p>शव यदि महिला का है तो घर से अर्थी उठाते समय एक तरफ उसके पीहर पक्ष के लोग कंधा देवें, ऐसी अपेक्षा की जाती है।</p>
                        <p><b>पिंड दान शमशान पिंड -</b></p>
                        <p>शमशान मे सिर दक्षिण की और रख कर अच्छी जगह अर्थी उतार के व अपसव्य हो 3 डाब रख जल छोड़े पिंड हाथ मे ले संकल्प बोले-</p>
                        <p><b>..गौत्र... प्रेत / प्रेते चिता स्नाने रचेवर नाम्ना एषते</b></p>
                        <p><b>पिंडो मयादीयते तवो प्रतिष्ठाम</b></p>
                        <p>कुशो पर पिंड रख जल छोड़े नेवैद्य दक्षिण चढ़ावे। कील गाड़ पिंड परात मे रखे।</p>
                        <p><b>चित्र क्रिया एवं पिंड दान - </b></p>
                        <p>शमशान भूमि साफ कर गोबर मिश्रित जल छिड़क डाब से 7</p>
                        <p>रेखा यह मंत्र बोलते हुए खीचें-</p>
                        <p><b>अयोध्या मथुरा माया काशी कांची अवंतिका।</b></p>
                        <p><b>पुरी द्वारावती चौव सप्तेता मोक्षदायिका ।।</b></p>
                        <p>रेखाओं पर तिल कुश डाल चिता बनावे शव के कपड़े अलग रख दें। फिर पिंडदान करें-</p>
                        <p><b>......गौत्र.... प्रेत / प्रेते कुक्षी स्थाने प्रेत नाम्ना एषते</b></p>
                        <p><b>पिंडो मयादीयते तवो प्रतिष्ठाम</b></p>
                        <p>जल नेवैद्य दक्षिणा चढ़ावे कील लगा पिंड परात मे रखे।</p>
                        <p>उनरोक्त चांरो पिंडो को जल में छोड़ दें अथवा कीले निकाल गायों को खिलावें, सभी पिंड दान मृतक के दक्षिण हाथ के स्थान पर किये जाते है।</p>
                        <p><b>अग्नि क्रिया -</b></p>
                        <p>शव के मस्तक की तरफ वेदी बनाकर (उपेला) लकड़ी की डाब से 3 रेखा खींचे थोड़ी मिट्टी उठाकर इशान कोण मे फेंक जल चढावे व घर से लाई हुई अग्नि जलावे जल चंदन पुष्प से पूजाकर प्रदक्षिणा कर हाथ जोड़े -</p>
                        <p><b>भूत मृज्जगधोनी त्वं भूत परिपालक।</b></p>
                        <p><b>धृत सांसारिक स्मात एवं त्वं स्वर्गतिनय ।।</b></p>
                        <p>फिर 5 घी की आहुति दे (लकड़ी का टुकड़ा घी में डूबाकर दें)</p>
                        <ol>
                            <li><p>ॐ अग्नेय स्वाहाः</p></li>
                            <li><p>ॐ सोमाय स्वाहाः</p></li>
                            <li><p>ॐ लोकाय स्वाहाः</p></li>
                            <li><p>ॐ मतुमते स्वाहाः</p></li>
                            <li><p>ॐ स्वर्गाय लोकाय स्वाहाः</p></li>
                        </ol>
                        <p>अग्नि से जलती समिधा लें शव की परिक्रमा कर सिर की तरफ यह मंत्र बोले -</p>
                        <p><b>कृत्वा तुं दुष्कृतं कर्म जानता वाप्य जानता।</b></p>
                        <p><b>मृत्युकाल वंश प्राप्त नरे पंचत्वमागतम ।।</b></p>
                        <p><b>धर्माधर्म समायुक्तं लोभमोह समावृतम ।</b></p>
                        <p><b>देहमं सर्व गात्राणी दिव्यान लोकान सगच्छुत ।।</b></p>
                        <p>मंत्र बोलते हुए सभी आगे शव मे अग्नि प्रज्वलित करे।
                        उक्त अग्नि पूर्ण प्रज्वलित हो जावे तो कुछ देर पश्चात निम्न वैदिक मंत्रो से हवन सामग्री में
                        घी मिलाकर निम्न मंत्रो से आहुति दी जाती हैं। आहुतियों मे मंत्र इस प्रकार है जिसमें चिता
                        पर हवन किया जाता है।</p>
                        <p><b>सूर्य चक्षुर्गच्छतु वातमात्मा द्यां च गच्छ पृथिवीं व धर्मणा।</b></p>
                        <p><b>अपो वा गच्छ यदि तत्र ते हितमोषधीषु प्रतिष्ठा शरीरैः स्वाहा ।।1।।</b></p>
                        <p><b>अजो भागस्तमसा तं तपस्व तं ते शोचिस्तपतु तं ते अर्चि।</b></p>
                        <p><b>यास्ते शिवास्तन्त्रो जातवेदस्ताभिर्वहैनं सुक्रातामु लोकं स्वाहा ।।2।।</b></p>
                        <p><b>अवसृज पुनरग्ने पितृम्यों यस्त आहतुश्चरति स्वधामिः।</b></p>
                        <p><b>आयुर्वसान उप वेतु शेष। संगच्छतां तन्वा जातवेदः स्वाहा ।।3।।</b></p>
                        <p><b>अग्नेर्वर्म परिगोभिर्व्ययस्व सम्प्रोणुश्व पीवता मेदसा च।</b></p>
                        <p><b>नेत्वा धृष्णुर्हरसा जह्मषाणो दग्धविवक्षयन्पर्यग्ड्याते स्वाहा।।4।।</b></p>
                        <p><b>यं त्वमग्ने समदहस्तमु निर्वापया पुनः ।</b></p>
                        <p><b>क्रियाम्ब्वत्र रोहतु पाकदूर्वा व्यल्कशा स्वाहा।।5।।</b></p>
                        <p><b>परेयिवांसं प्रवतो महीरनु बहुभ्यः पन्थामनुपस्पशानम् ।</b></p>
                        <p><b>वैवस्वतं सग्डमनं जनाना यमं राजानं हविषा दुबस्य स्वाहा।।6।।</b></p>
                        <p><b>यमो नो गातुं प्रथमो विवेद नैषा गव्यूत्तिर प्रभर्तवाउ।</b></p>
                        <p><b>यत्रा नः पूर्वे पितरः परेयुरेना जज्ञानाः पथ्या 3 अनुस्वाः स्वाहा ।।7।।</b></p>
                        <p><b>मातलो कव्यैर्यमो अग्डिरोमि बृहस्पति ऋक्च भिर्वावृधानः ।</b></p>
                        <p><b>यांश्च देवा वावृधुर्ये च देवान्त्स्वाहान्ये स्वधयान्ये मदंति स्वाहा ।।8।।</b></p>
                        <p><b>इमं यम प्रस्तरमा हि सीदाग्डिरोभिः पितृभिः संविदानः।</b></p>
                        <p><b>आ त्वा मंत्राः कविशस्ता राजन्हविषा मादयस्व स्वाहा ।।9।।</b></p>
                        <p><b>अग्डिरोमिरागहि यज्ञिये भिर्यम वेरूपेरिह मादयस्व ।</b></p>
                        <p><b>विवस्वन्तं हुवे यः पिता तेएस्मिन्यज्ञे बर्हिष्या नृिषद्य स्वाहा ।।10।।</b></p>
                        <p><b>प्रेहि प्रेहि पथिभिः पूर्वेभिर्यत्रा नः पूर्वे पितरः परेयुः।</b></p>
                        <p><b>उमा राजाना स्वधया मदंत्तायमं पश्यासि वरूणं च देवं स्वाहा ।।11।।</b></p>
                        <p><b>सं गच्छस्व पितृभिः सं यमेनेष्टापूर्तेन परमे व्योमन् ।</b></p>
                        <p><b>हित्यायावद्यं पुनरस्तमेहि सं गच्छस्व तन्वा सुवर्चाः स्वाहा ।।12।।</b></p>
                        <p><b>अपेत वीत विच सर्पतातोएस्मा एतं पितरो लोकमकन् ।</b></p>
                        <p><b>अहो भिरर्भदर रक्तुभिर्व्यक्तं यमो ददात्यवसानमस्मै स्वाहा ।।13।।</b></p>
                        <p><b>यमाय सोमं सुनुतं यमाय जुहुता हविः।</b></p>
                        <p><b>यमं ह यज्ञो गच्छत्यग्निदूतो अरंकृतः स्वाहा।।14।।</b></p>
                        <p><b>यमाय घृतवद्धविर्जुहोत प्र च तिष्ठत ।</b></p>
                        <p><b>स नो देवेष्वा यमद्दीर्घमायुः प्र जीवसे स्वाहा ।।15।।</b></p>
                        <p><b>यमायमधुमत्तमं राज्ञे हव्यं जुहोतन।</b></p>
                        <p><b>इदं नम ऋषिभ्यः पूर्वजेभ्यः पूर्वेभ्यः पथिकृभ्दयः स्वाहा।।16 ।।</b></p>
                        <p><b>कृष्णाः श्वेतोएरूषो यामो अस्य ब्रध्न ऋज उत शोणो यशस्वान्।</b></p>
                        <p><b>हिरण्यरूपं जनिता जजान स्वाहा ।।1711</b></p>
                        <p>ऋग्वेद के उपरोक्त मंत्रो के बाद निम्न यजुर्वेद मंत्रो से 63 आहुति दी जाती है। सामग्री पर्याप्त
हो तो चार जने भी आहुति दे सकते है। पूर्व मंत्रो की भाषा वैदिक होने से क्लिष्ट है किन्तु
निम्न मंत्रो की सरल है-</p>
                        <div class="fw-bold">
                            <ol>
                                <li>प्राणेम्य साधिपतिकेम्यः स्वाहाः</li>
                                <li>पृथ्वीव्ये स्वाहा</li>
                                <li>अग्नेय स्वाहा</li>
                                <li>अनतरिक्षाय स्वाहा</li>
                                <li>वायवे स्वाहा</li>
                                <li>दिवे स्वाहा</li>
                                <li>सूर्याय स्वाहा</li>
                                <li>दिगम्य स्वाहा</li>
                                <li>चंद्राय स्वाहा</li>
                                <li>नक्षत्रेम्य स्वाहा</li>
                                <li>अदभ्य स्वाहा</li>
                                <li>वरुणाय स्वाहा</li>
                                <li>नाम्यो स्वाहा</li>
                                <li>पूताय स्वाहा</li>
                                <li>वाचे स्वाहा</li>
                                <li>प्राणाय स्वाहा</li>
                                <li>प्राणाय स्वाहा</li>
                                <li>चक्षुषेः स्वाहा</li>
                                <li>चक्षुषेः स्वाहा</li>
                                <li>श्रोताय स्वाहा</li>
                                <li>श्रोताय स्वाहा</li>
                                <li>लोमम्य स्वाहा</li>
                                <li>लोमम्य स्वाहा</li>
                                <li>त्वचे स्वाहा</li>
                                <li>त्वचे स्वाहा</li>
                                <li>लोहिताप स्वाहा</li>
                                <li>लोहिताप स्वाहा</li>
                                <li>मेदोम्य स्वाहा</li>
                                <li>मेदोम्य स्वाहा</li>
                                <li>मांडसेम्य स्वाहा</li>
                                <li>मॉडसेम्य स्वाहा</li>
                                <li>स्नावमय स्वाहा</li>
                                <li>स्नावमय स्वाहा</li>
                                <li>अस्थम्य स्वाहा</li>
                                <li>अस्थम्य स्वाहा</li>
                                <li>मज्जमय स्वाहा</li>
                                <li>मज्जमय स्वाहा</li>
                                <li>रेतसे स्वाहा</li>
                                <li>पायवे स्वाहा</li>
                                <li>आयासाय स्वाहा</li>
                                <li>प्रायासाय स्वाहा</li>
                                <li>संयासाय स्वाहा</li>
                                <li>वियासाय स्वाहा</li>
                                <li>उद्यासाय स्वाहा</li>
                                <li>शुचे स्वाहा</li>
                                <li>शोचते स्वाहा</li>
                                <li>शोचमानाय स्वाहा</li>
                                <li>शोकाय स्वाहा</li>
                                <li>तपेसे स्वाहा</li>
                                <li>तप्येशे स्वाहा</li>
                                <li>तप्तमानाय स्वाहा</li>
                                <li>तप्येय स्वाहा</li>
                                <li>धर्माय स्वाहा</li>
                                <li>निष्कृत्ये स्वाहा</li>
                                <li>प्रायाश्यित्यै स्वाहा</li>
                                <li>भैषजाय स्वाहा</li>
                                <li>यमाय स्वाहा</li>
                                <li>अन्तकाय स्वाहा</li>
                                <li>मृत्यवे स्वाहा</li>
                                <li>ब्रह्मणे स्वाहा</li>
                                <li>ब्रम्हत्याये स्वाहा</li>
                                <li>विश्वेम्योदेवेम्यो स्वाहा</li>
                                <li>धावा पृथ्वीम्यामृ स्वाहा।</li>
                            </ol>
                        </div>
                        <p><b>कपाल क्रिया -</b></p>
                        <p>आधा दाह संस्कार हो जाने पर बांस से कपाल भेदन कर, निम्न मंत्र पढे,</p>
                        <p><b>अस्मात्वं अधि जातोसि। त्वदयं जामता पुनः।।</b></p>
                        <p><b>असौ स्वर्गाम लोकाय। स्वाहा ज्वलतु पावक ।।</b></p>
                        <p>यह पढकर 5 आहुतिया लोटे में घी भरकर देवे जो बांस से बंधा हो।</p>
                        <p><b>1. अग्नये स्वाहा, 2. सोमाय स्वाहा, 3. लोकाय स्वाहा, 4. अनुमतये स्वाहा, 5. र्स्वगाय लोकाय स्वाहा।</b></p>
                        <p>कपाल क्रिया पूर्णाहुति है यानि इस प्राणी ने जीवन पर्यन्त जो कर्म किये हैं, उसकी पूर्णता हो
चुकी, अब यह आगे इस शरीर से कर्म नहीं करेगा, एतदर्थ शरीर रूपी यह हवि, चिता रूपी
यज्ञ में समर्पण कर यह कपाल क्रिया कर घृत की धारा दी जाती है। कपाल क्रिया से अटके
हुए जीव की आकाशीय गति हो जाती है। इस कर्म को नरमेध यज्ञ भी कहते हैं। कपाल
क्रिया के पश्चात् सूतक आरंभ हो जाता है।</p>
                        <p>पश्चात् शव यात्रा में सम्मिलित हुए सभी लोग चिताग्नि में एक-एक लकड़ी डालें या
चिता में डालने के लिए क्रियाकर्ता को देवें। इसे अंत्येष्टि कर्म यानी आखिरी लकड़ी का कर्म
कहते हैं।</p>
                        <p>शव का दाह संस्कार हो जाने पर जलाशय पर जाकर स्नान करें। इससे पूर्व महिलाओं
को स्नान करने की सूचना स्वरूप दुर्वा (दूब) भेजें ताकि महिलाएं स्नान करके पहले घर पहुंच
जावे। स्नान का स्थान दूरस्थ होने पर महिलाओं को दूब भेजना सदैव संभव नहीं हो पाता है,
समय का अनुमान लगाकर महिलाएं स्नान कर घर पर प्रस्थान कर जावें।</p>
                        <p>स्नान के समय सभी सपिंड लोग दक्षिणाभिमुख हो, अपसव्य होकर कुशा सहित जल से
पितृतीर्थ से मृतात्मा को अंजलि देवें, कई स्थानों पर यह औपचारिकता नहीं निभाते हैं, केवल
मृतात्मा को आवाज देकर शुद्ध स्नान कर लेते हैं।</p>
                        <p>स्नान के पश्चात् सभी लोग क्रियाकर्ता के साथ उसके घर जाते हैं, वह नमस्कार कर
उन्हें विदा करता है। मृतात्मा के घर से विदा हो मंदिर में भगवान के दर्शन कर अपने घर
जाना चाहिये। कहीं-कहीं पुनः जलाशय पर जा स्नान कर अपने घर जाते हैं और पादपक्षालन
तथा आचमन कर घर में प्रवेश करते हैं तथा नीम के पत्ते चबाते हैं। इस दिन द्विदल अनाज
का भोजन नहीं करते हैं।</p>
                        <p><b>गर्भिणी मरण -</b></p>
                        <p>गर्भवती स्त्री की मृत्यु होने पर शीघ्र ही अनुभवी डॉक्टर से शल्य क्रिया द्वारा बच्चे को
निकलवा देवें तथा मृतक के पेट में नारियल रखकर बंद कर देवें। संभव न हो तो पास में रख
देवें। बच्चा जीवित हो तो पालन-पोषण करें और मृत हो तो भूमि में गाड़ देवें, फिर स्त्री का
दाह संस्कार करें।</p>
                        <p><b>रजस्वला मरण -</b></p>
                        <p>रजस्वला स्त्री की मृत्यु हो तो स्नान कराने से पहले पंचगव्य शरीर पर लगावें अथवा गोमूत्र
लगावें या गंगाजल अथवा शालिगराम शिला जल छिड़कें फिर दर्भ जल में डालकर स्नान
करायें। सूतक के पश्चात् इसके निमित्त तीन प्राजापत्य गायत्री मंत्र जप करें या करावें।</p>
                        <p><b>बच्चे की मृत्यु -</b></p>
                        <p><b>27</b> माह तक के बच्चे की मृत्यु होने पर उसे भूमि में गाड देवें। शिशु के मरने पर बच्चों को दूध पिलावें।</p>
                        <p><b>अस्थि संचयन (तीसरा) - </b>अस्थि संचयन की क्रिया आमतौर से मृत्यु के पश्चात् तीसरे दिन होती है</p>
                        <p><b>सामग्री - </b>घी, शक्कर, दूध, शहद, राल, तिल, जौ का आटा ऊन का सफेद डोरा 1.5 हाथ,
गोपीचंदन, हल्दी, दही, तैलिदिपक पात्र (दिवाणिका), रूई, मोगरे के फुल, सुपारी, उड़द, खुल्ले
पैसे, दक्षिणा हेतु मिट्टी के एक कुंभ 2 मिट्टी के दिये 2 पत्तल, दोना, गोमय, आसन, ताम्र लोटा,
बाल्टी, नारियल एक 1.5 मांशा चांदी का टुकड़ा, तरण्ती लकड़ी की, उड़द का आटा पिंड हेतु,
सतु गेंहू का आटा (दोने भर) लाल कपड़ा 1 हाथ, डाब, पूंगीफल ।</p>

                        <p>नोटः- उपरोक्त सामग्री एक बार ही काम आयेगी अतः दोनो में आवश्यकतानुसार थोड़ी थोड़ी
लेवे ज्यादा होने पर वापस घर नहीं लाते।</p>
                        <p><b>अस्थि संचय -</b></p>
                        <p>कुटुम्बियों के साथ शमशान जाकर स्नान कर शुद्ध वस्त्र पहन चिता के उत्तर की और
                        दक्षिणभिमुख हो कर बैठे पवित्री धारण कर अपसव्य हो संकल्प बोले।</p>
                        <p><b>..... गौत्रस्म.... प्रेतस्य विमुत्यर्थ विष्णुप्राप्ति अस्थि संचय महं करिष्ये</b></p>
                        <p>(संकल्प छोड़े)</p>
                        <p>अब हाथ जोड़े <b>क्रव्यादमुखेभ्यो नमः</b> बोलें। दोने से उड़द दही मिला शमशान देवो की बलि हेतु
<b>शामशान वासिम्यो बलि समर्पयामि</b> बोल कर चारों दिशा अच्छे से फेंक देवे। फिर चिता पर
जल दूध चढावे पूर्ण ठंडी होने पर। पहले मस्तक, हृदय, पसली, हाथ की अस्थियों क्रम से
उठा पात्र में धोकर रखे। पात्र मे 1.5 माशा चांदी रखे, फिर भस्म दक्षिण की और इकटा करे।</p>
                        <ol>
                            <li>
                                <p>भस्मी के ढेर पर तख्ती रख उसपर जल का भरा कुंभ रखे।</p>
                            </li>
                            <li>
                                <p>उड़द के आटे का पिंड तिल जौ गंगाजल, शहद दूध डालकर बनावे व अलग रखे।</p>
                            </li>
                            <li>
                                <p>गेंहू आटे मे घी, शक्कर मिला सतु का पिंड बना दोने मे रखे दोना तख्ती
के घड़े पर रखे कपड़ा ओढावे व संकल्प ले रू-</p>
                            </li>
                        </ol>
                        <p><b>.... गौत्रस्य..... प्रेतस्य क्षुधा तृषादि दोष निवारणार्थ इदं जल कुंभतदुपरिघृतादियुक्त सिद्धान्न मया दीयते तवोपतिष्ठाम</b> जल सकंल्प छोड़े।</p>
                        <p>सव्य हो हाथ जोड़ पार्थना करे -</p>
                        <p><b>अतसी पुष्प सकांश पीतवास सम्मुच्युतम ।</b></p>
                        <p><b>ते नमास्यंति गोविंद न तेषा विद्यत मयम ।।</b></p>
                        <p><b>अनादिनिधनो देवं। शखं चक्र गदाधर।</b></p>
                        <p><b>अव्यवः पुडरिकाक्षः प्रेत मोक्ष प्रदो भव ।।</b></p>
                        <p><b>अस्थि संचय श्राद्ध -</b></p>
                        <p>चिता के उत्तर में 24 अंगुल की वेदी गोबर से लीप कर बनावे वेदी के पास दक्षिणाभिमुख हो</p>
                        <p>अपसव्य हो संकल्प लेः-</p>
                        <p><b>..गौत्रस्य..... प्रेतस्य प्रेतत्व विमुक्तये विष्णुलोक प्राप्तर्थ अस्थि संचय श्राद्ध महं करिष्य</b> संकल्प छोड़े</p>
                        <p>वेदी पर 3 कुशा रख कर संकल्प ले -</p>
                        <p><b>......गौत्रस्य प्रेतस्य इदं आसन मया दीयते तवो प्रतिष्ठाम</b> संकल्प छोड़े। ताम्रपात्र/लोठे में जल
भर तिल गंध पुष्प दूध दही डाब डाल बाये हाथ मे ले संकल्प बोले।</p>
                        <p><b>...गौत्रस्य.... प्रेतस्य पिंड स्नान अवनेजनंते मया दीयते तवो प्रतिष्ठाम</b> संकल्प छोड़े पात्र का
जल वेदी की डाब पर चढावे व पात्र को डाब के पास रखे पिंड (उड़द के) ले हथेली पर रख
दाये हाथ मे जल व 3 सीधी डाब ले संकल्प बोलें- <b>गौत्र प्रेतस्य अस्थिसंचय</b></p>
                        <p><b>निमितक एषते पिंडी मयादीयते तवो प्रतिष्ठाम</b></p>
                        <p>पितृतिर्थ से जल छोड़े दोनों हाथो से पिंड वेदी की 3 डाब पर पास रखे व पात्र से दोने से
अर्ध्य का जल लेकर पिंड जल चढ़ावे व दोने को वेदी के पास रख दे । उन का डोरा चंदन
पुष्प धूप (राला की) दीप नेवैद्य पूगीफल नारियल दक्षिणा चढावे व संकल्प ले-</p>
                        <p><b>...गौत्रस्यप्रेत अत्र पिंडे एतानि गंध पुष्प धूप दीप नेवैद्य पूंगीफल दक्षिणा दीनते मयादीयते तवो प्रतिष्ठाम</b></p>
                        <p>अस्थिपात्र मे रखी अस्थियों पर भी ऊन गंध पुष्प दक्षिणा चढ़ा सव्य हो भगवान से हाथ जोड़े</p>
                        <p>प्रार्थना करें -</p>
                        <p><b>अतसी पुष्प संकांश पीतवास समच्यूतम ।</b></p>
                        <p><b>ये नमस्यति गोविंद न तेषा विद्यते भयम् ।।</b></p>
                        <p><b>अनादिनिधनो देवः प्रेतमोक्ष पदोमव।</b></p>
                        <p><b>अव्यम् पुंडरिकाक्षः प्रेतमोक्ष पदोमव ।।</b></p>
                        <p>प्रार्थना कर संकल्प लेः-</p>
                        <p>...गौत्रस्त्र........ प्रेतस्य प्रेतव्य निवृति सद्गति प्राप्तर्थस्य भवतु</p>
                        <p>पिंड को तख्ति के पास गढ़ा खोद उसमे रखे व मिट्टी भर उस पर पत्थर गाड़ दे (बड़े शहरो
मे शमशान खाली नहीं रहते है तो पिंड को जल मे प्रवाहित करें) पापा विष्णु (शालिग्राम से
मिलता जुलता पत्थर) लेकर उलटा खड़ा हो पैरो मे हाथ डाल डाल तख्ती के कलश में छेद
कर पानी प्रवाहित करे। सतु का पिंड चिटियों को डाले पीछे मुड़कर न देखे पापाविष्णु को
गुप्त स्थान पर रखे। चौथे दिन से दूध सीचें व पापा विष्णु पर डाले। भस्मी त्रिवेणी मे प्रवाहित
करें। अस्थि फुल घर लावे फिर हरिद्वार ले जावें। घर पर नित्य शव स्थान पर दूध रख कर
नेवैद्य करे।</p>
                        <p><b>पंचक-विद्यान -</b></p>
                        <p>निम्न पांच नक्षत्रो धनिष्ठा, शतभीषा, पूर्वाभाद्रपद, उत्तराभाद्रपद तथा रेवती पंचक नक्षत्र
कहलाते है यदि मृत्यु पूर्व हो गयी हो व दाह संस्कार पंचक मे हो तो पुतल दाह का विद्यान
है। शांति कर्म भी आवश्यक नहीं है। मृत्यु पंचक मे हो तो व दाह कर्म बाद मे हो तो
पुतलदाह व शान्ति कर्म दोनो कराना चाहिये। शांति कर्म मे एकादशी के दिन गणेश अंबा का
हवन होता है। यह आवश्यक है अन्यथा परिवार पर दुष्प्रभाव पड़ता है।</p>
                        <p><b>पंचक दाह विधी -</b></p>
                        <p>जौ आटे के 5 पुतले बनाकर ऊन का वस्त्र लपेट कर शव पर रखे। शव पर रखने से पूर्व गंध
                        वस्त्र दीप धूप से पूजन करे संकल्प ले। पंचक अनिष्ठ निवारणार्थ पंचक पूजन करिष्ये संकल्प
                        छोड़े हाथ जोड़</p>
                        <p>प्रार्थना करें।</p>
                        <p><b>1. प्रेत स्वाय नमः, 2. प्रेत संखाय नमः, 3. प्रेत पाय नमः, 4. प्रेत भूमि पाय नमः, 5. प्रेत हत्रे नमः।</b></p>
                        <p>फिर पूजन उपरान्त पुतलो को 1 सिर पर, 2 कांख मे, 1 नाभि पर, 1 पैर मे रखे। शवदाह से पूर्व पांच आहुतियां देवे।</p>
                        <p><b>1. प्रेत संखाय स्वाहा, 2. प्रेत वाहाय स्वाहा, 3. प्रेत याम स्वाहा, 4. प्रेत भूमि पाय नमः, 5. प्रेत
हर्ने नमः।</b> पांचो पुतलो को शव के सिर, कमर, पैरो के दाहिने रखते हैं। पश्चात शवदाह
प्रक्रिया आरम्भ करे। सुकृत्वा मंत्र जो पूर्व मे दिया हैं बालते हुए कार्य करे।</p>
                        <p><b>अन्य आवश्यक जानकारी-</b></p>
                        <ol>
                            <li>गोत्रियों को चाहिए की भूमि पर शयन करे, नीचे बैठे, दूसरो को ना छूये, वेद शास्त्र/गरूड्पुराण श्रवण करें। यथाशक्ति उपवास करे, कुटुम्बीयों के साथ भोजन करें। मृतक स्थान पर दीपक करें नंगे पैर रहे, देव पूजा ना करे किसी को न आशीर्वाद देना दे ना ले।</li>
                            <li>मृतक संस्कार कर्म में सफेद फूल एवं नेवैद्य मे भी सफेद वस्तु लिया जाना चाहिए।</li>
                            <li>धूप भी केवल राल की ही लगानी चाहिये।</li>
                            <li>मृतात्मा को जल हमेशा पितृतीर्थ से किया जाता है जो तरजनी एवं अंगुठे के मूल भाग को कहा जाता है।</li>
                            <li>कल्याण के विशेषांक के अनुसार दाह संस्कार से पूर्व रोना नहीं चाहिए व भगवत स्मरण करते हुए क्रिया करे। कपाल दाह के बाद जोर से रोना चाहिए इससे मृतक को सुख मिलता हैं। गौत्री चिता की सात परिक्रमा करे व प्रति परिक्रमा मे 6 इंच लकड़ी चिता मे डाले व क्रव्यादान नमुस्तुभ्य बोलता जावे।</li>
                            <li>दशा को कुटुम्बी ही भोजन करते हैं व एकादशा को स्वजातिये, द्वादशा को सभी भोजन कर सकते है। भगवान के भोग लग जाता है।</li>
                            <li>कोई स्थानीय रिवाज हो, उसका भी पालन किया जाना चाहिये।</li>
                            <li>कुल 48 पिंड मृतक संस्कार मे दिये जाते है। किन्ही परिस्थिति वश दाह संस्कार मे पिंड न दिये जा सके तो इन्हे दसवें की क्रिया से पहले देकर फिर क्रिया करना चाहिये।</li>
                            <li>दुग्ध क्रिया में वैदिक मंत्रो का उच्चारण किये जाने पर भस्मीभूत देह का आत्मा से सम्बंध टूट जाता है। देह सम्बध के कारण जो सत् असत् कर्म आत्मा से बनते है वे भस्म हो जाते हैं। मृतात्मा नवीन शरीर धारण करने योग्य हो जाती है।</li>
                            <li>कहीं-कहीं अग्नि क्रिया से पूर्व शव परिक्रमा भी की जाती हैं कंधे पर घड़ा रख कर पीछे से फोड़ कर धार की एक परिक्रमा भी लगाते हैं।</li>
                            <li>पंचक नक्षत्रों की जानकारी पूर्व से ही पंचाग से कर लेना चाहिये।</li>
                        </ol>
                    </section>
                    <h3 class="fw-bold align-self-end mt-3">संकलन - प्रेमशंकर पुरोहित भीलवाड़ा (बनेड़ा वाले)</h3>


                  </div>
                </div>
              </div><!-- post-body end -->
            </div><!-- post content end -->
          </div><!-- Content Col end -->
        </div><!-- Main row end -->

      </div><!-- container end -->
    </section><!-- Main container end -->

    {% include 'Includes/footer.html' %}
</main>
{% endblock %}
